openapi: 3.0.3
info:
  title: Task Management API
  description: |
    Enterprise-grade Task Management API providing comprehensive task creation and management capabilities.
    
    This API implements security-by-design principles with OAuth 2.0 authentication, comprehensive validation,
    audit logging, and compliance with GDPR, ISO 27001, and SOX requirements.
    
    ## Key Features
    - OAuth 2.0 Bearer token authentication
    - Role-based access control (RBAC)
    - Comprehensive input validation and sanitization
    - Rate limiting and security controls
    - Audit logging for all operations
    - Enterprise-grade error handling
    
    ## Security
    - TLS 1.3 encryption in transit
    - AES-256 encryption at rest
    - Input validation against XSS and SQL injection
    - Rate limiting: 100 requests/minute per user
    
    ## Compliance
    - GDPR compliant data handling
    - ISO 27001 security controls
    - SOX financial compliance (where applicable)
    - 7-year audit log retention
  version: 1.0.0
  contact:
    name: Enterprise API Team
    email: api-support@taskmanagement.com
  license:
    name: Proprietary
    url: https://taskmanagement.com/license
  termsOfService: https://taskmanagement.com/terms

servers:
  - url: https://api.taskmanagement.com/v1
    description: Production server
  - url: https://staging-api.taskmanagement.com/v1
    description: Staging server
  - url: https://dev-api.taskmanagement.com/v1
    description: Development server

paths:
  /api/tasks:
    post:
      summary: Create a new task
      description: |
        Creates a new task in the task management system with comprehensive validation and audit logging.
        
        ## Validation Rules
        - Title: Required, maximum 100 characters
        - Description: Required, maximum 500 characters
        - Status: Must be one of TODO, IN_PROGRESS, DONE
        - Due date: Must be a future date in ISO 8601 format
        - Priority: Must be one of LOW, MEDIUM, HIGH, CRITICAL
        - Tags: Maximum 10 tags, each with maximum 50 characters
        
        ## Business Rules
        - Due date cannot be in the past
        - User can only assign tasks to valid users
        - All operations are logged for audit compliance
      operationId: createTask
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing and audit logging
          required: false
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                value:
                  title: "Implement user authentication"
                  description: "Implement OAuth 2.0 authentication for the API"
                  status: "TODO"
                  due_date: "2024-02-15T10:00:00Z"
                  priority: "HIGH"
                  tags: ["authentication", "security", "backend"]
              assigned_task:
                summary: Task with assignment
                value:
                  title: "Code review for feature X"
                  description: "Review the implementation of feature X for security and performance"
                  status: "TODO"
                  due_date: "2024-01-20T16:00:00Z"
                  assigned_to: "550e8400-e29b-41d4-a716-446655440000"
                  priority: "MEDIUM"
                  tags: ["code-review", "quality-assurance"]
      responses:
        '201':
          description: Task created successfully
          headers:
            X-Correlation-ID:
              description: Request correlation identifier for tracing
              schema:
                type: string
                format: uuid
            X-Rate-Limit-Remaining:
              description: Number of requests remaining in current window
              schema:
                type: integer
            X-Rate-Limit-Reset:
              description: Time when rate limit window resets (Unix timestamp)
              schema:
                type: integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              examples:
                created_task:
                  summary: Successfully created task
                  value:
                    id: "123e4567-e89b-12d3-a456-426614174000"
                    title: "Implement user authentication"
                    description: "Implement OAuth 2.0 authentication for the API"
                    status: "TODO"
                    due_date: "2024-02-15T10:00:00Z"
                    assigned_to: "550e8400-e29b-41d4-a716-446655440000"
                    priority: "HIGH"
                    tags: ["authentication", "security", "backend"]
                    created_at: "2024-01-15T08:30:00Z"
                    updated_at: "2024-01-15T08:30:00Z"
                    created_by: "660f9511-f9ac-52e4-b827-537766551001"
        '400':
          description: Bad Request - Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                validation_error:
                  summary: Multiple validation errors
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Request validation failed"
                      details:
                        - field: "title"
                          message: "Title is required and cannot be empty"
                          code: "FIELD_REQUIRED"
                        - field: "due_date"
                          message: "Due date cannot be in the past"
                          code: "INVALID_DATE"
                      timestamp: "2024-01-15T08:30:00Z"
                      correlation_id: "abc123-def456-ghi789"
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Missing or invalid authentication
                  value:
                    error:
                      code: "UNAUTHORIZED"
                      message: "Authentication required"
                      details: "Valid bearer token must be provided"
                      timestamp: "2024-01-15T08:30:00Z"
                      correlation_id: "abc123-def456-ghi789"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error:
                      code: "FORBIDDEN"
                      message: "Insufficient permissions"
                      details: "User does not have permission to create tasks"
                      timestamp: "2024-01-15T08:30:00Z"
                      correlation_id: "abc123-def456-ghi789"
        '409':
          description: Conflict - Resource conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                conflict:
                  summary: Duplicate task title
                  value:
                    error:
                      code: "RESOURCE_CONFLICT"
                      message: "Task with similar title already exists"
                      details: "A task with the same title already exists for this user"
                      timestamp: "2024-01-15T08:30:00Z"
                      correlation_id: "abc123-def456-ghi789"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
                example: 60
            X-Rate-Limit-Limit:
              description: Request limit per window
              schema:
                type: integer
                example: 100
            X-Rate-Limit-Remaining:
              description: Requests remaining in current window
              schema:
                type: integer
                example: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitErrorResponse'
              examples:
                rate_limit:
                  summary: Rate limit exceeded
                  value:
                    error:
                      code: "RATE_LIMIT_EXCEEDED"
                      message: "Rate limit exceeded"
                      details: "Maximum 100 requests per minute allowed"
                      retry_after: 60
                      timestamp: "2024-01-15T08:30:00Z"
                      correlation_id: "abc123-def456-ghi789"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                server_error:
                  summary: Internal server error
                  value:
                    error:
                      code: "INTERNAL_SERVER_ERROR"
                      message: "An unexpected error occurred"
                      details: "Please try again later or contact support"
                      timestamp: "2024-01-15T08:30:00Z"
                      correlation_id: "abc123-def456-ghi789"

  /api/tasks/{id}:
    get:
      summary: Get task by ID
      description: |
        Retrieves a specific task by its unique identifier.
        
        ## Authorization
        - Users can only access their own tasks or tasks assigned to them
        - Administrators can access all tasks
      operationId: getTaskById
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique task identifier
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Task retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    put:
      summary: Update task
      description: |
        Updates an existing task with new information.
        
        ## Authorization
        - Users can only update their own tasks or tasks assigned to them
        - Administrators can update all tasks
      operationId: updateTask
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique task identifier
          schema:
            type: string
            format: uuid
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
      responses:
        '200':
          description: Task updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

    delete:
      summary: Delete task
      description: |
        Soft deletes a task (marks as deleted but retains for audit purposes).
        
        ## Authorization
        - Users can only delete their own tasks
        - Administrators can delete all tasks
      operationId: deleteTask
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique task identifier
          schema:
            type: string
            format: uuid
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Task deleted successfully
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /api/tasks:
    get:
      summary: List tasks
      description: |
        Retrieves a paginated list of tasks with filtering and sorting capabilities.
        
        ## Authorization
        - Users can only see their own tasks and tasks assigned to them
        - Administrators can see all tasks
      operationId: listTasks
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: status
          in: query
          description: Filter by task status
          required: false
          schema:
            type: string
            enum: ["TODO", "IN_PROGRESS", "DONE"]
        - name: assigned_to
          in: query
          description: Filter by assigned user ID
          required: false
          schema:
            type: string
            format: uuid
        - name: priority
          in: query
          description: Filter by task priority
          required: false
          schema:
            type: string
            enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
        - name: sort
          in: query
          description: Sort field
          required: false
          schema:
            type: string
            enum: ["created_at", "updated_at", "due_date", "title", "priority"]
            default: "created_at"
        - name: order
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: ["asc", "desc"]
            default: "desc"
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Tasks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /health:
    get:
      summary: Health check
      description: |
        Returns the health status of the API and its dependencies.
        
        This endpoint is used for monitoring and load balancer health checks.
      operationId: healthCheck
      tags:
        - System
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: System is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        OAuth 2.0 Bearer token authentication.
        
        ## Token Requirements
        - JWT format with RS256 signature
        - 1-hour expiration time
        - Must include user ID and roles in claims
        
        ## Example
        ```
        Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...
        ```

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
        - description
      properties:
        title:
          type: string
          maxLength: 100
          minLength: 1
          description: Task title (required, 1-100 characters)
          example: "Implement user authentication"
        description:
          type: string
          maxLength: 500
          minLength: 1
          description: Detailed task description (required, 1-500 characters)
          example: "Implement OAuth 2.0 authentication for the API"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "DONE"]
          default: "TODO"
          description: Current status of the task
          example: "TODO"
        due_date:
          type: string
          format: date-time
          description: Task due date (ISO 8601 format, must be future date)
          example: "2024-02-15T10:00:00Z"
        assigned_to:
          type: string
          format: uuid
          description: User ID of the assigned person
          example: "550e8400-e29b-41d4-a716-446655440000"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          default: "MEDIUM"
          description: Task priority level
          example: "HIGH"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Task tags for categorization (max 10 tags, 50 chars each)
          example: ["authentication", "security", "backend"]

    UpdateTaskRequest:
      type: object
      properties:
        title:
          type: string
          maxLength: 100
          minLength: 1
          description: Task title (1-100 characters)
          example: "Implement user authentication"
        description:
          type: string
          maxLength: 500
          minLength: 1
          description: Detailed task description (1-500 characters)
          example: "Implement OAuth 2.0 authentication for the API"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "DONE"]
          description: Current status of the task
          example: "IN_PROGRESS"
        due_date:
          type: string
          format: date-time
          description: Task due date (ISO 8601 format, must be future date)
          example: "2024-02-15T10:00:00Z"
        assigned_to:
          type: string
          format: uuid
          description: User ID of the assigned person
          example: "550e8400-e29b-41d4-a716-446655440000"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority level
          example: "HIGH"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Task tags for categorization (max 10 tags, 50 chars each)
          example: ["authentication", "security", "backend"]

    TaskResponse:
      type: object
      required:
        - id
        - title
        - description
        - status
        - priority
        - created_at
        - updated_at
        - created_by
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
        title:
          type: string
          description: Task title
          example: "Implement user authentication"
        description:
          type: string
          description: Task description
          example: "Implement OAuth 2.0 authentication for the API"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "DONE"]
          description: Current task status
          example: "TODO"
        due_date:
          type: string
          format: date-time
          nullable: true
          description: Task due date
          example: "2024-02-15T10:00:00Z"
        assigned_to:
          type: string
          format: uuid
          nullable: true
          description: Assigned user ID
          example: "550e8400-e29b-41d4-a716-446655440000"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority
          example: "HIGH"
        tags:
          type: array
          items:
            type: string
          description: Task tags
          example: ["authentication", "security", "backend"]
        created_at:
          type: string
          format: date-time
          description: Task creation timestamp
          example: "2024-01-15T08:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T08:30:00Z"
        created_by:
          type: string
          format: uuid
          description: Creator user ID
          example: "660f9511-f9ac-52e4-b827-537766551001"

    TaskListResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TaskResponse'
          description: Array of task objects
        pagination:
          $ref: '#/components/schemas/PaginationInfo'

    PaginationInfo:
      type: object
      required:
        - page
        - limit
        - total
        - total_pages
        - has_next
        - has_prev
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          description: Items per page
          example: 20
        total:
          type: integer
          minimum: 0
          description: Total number of items
          example: 150
        total_pages:
          type: integer
          minimum: 0
          description: Total number of pages
          example: 8
        has_next:
          type: boolean
          description: Whether there is a next page
          example: true
        has_prev:
          type: boolean
          description: Whether there is a previous page
          example: false

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: "UNAUTHORIZED"
            message:
              type: string
              description: Human-readable error message
              example: "Authentication required"
            details:
              type: string
              description: Additional error details
              example: "Valid bearer token must be provided"
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T08:30:00Z"
            correlation_id:
              type: string
              description: Request correlation identifier for tracing
              example: "abc123-def456-ghi789"

    ValidationErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - timestamp
          properties:
            code:
              type: string
              enum: ["VALIDATION_ERROR"]
              description: Error code for validation failures
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Human-readable error message
              example: "Request validation failed"
            details:
              type: array
              items:
                type: object
                required:
                  - field
                  - message
                  - code
                properties:
                  field:
                    type: string
                    description: Field name that failed validation
                    example: "title"
                  message:
                    type: string
                    description: Field-specific error message
                    example: "Title is required and cannot be empty"
                  code:
                    type: string
                    description: Field-specific error code
                    example: "FIELD_REQUIRED"
              description: Array of field-specific validation errors
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T08:30:00Z"
            correlation_id:
              type: string
              description: Request correlation identifier for tracing
              example: "abc123-def456-ghi789"

    RateLimitErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - retry_after
            - timestamp
          properties:
            code:
              type: string
              enum: ["RATE_LIMIT_EXCEEDED"]
              description: Error code for rate limit violations
              example: "RATE_LIMIT_EXCEEDED"
            message:
              type: string
              description: Human-readable error message
              example: "Rate limit exceeded"
            details:
              type: string
              description: Rate limit details
              example: "Maximum 100 requests per minute allowed"
            retry_after:
              type: integer
              description: Seconds to wait before retrying
              example: 60
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T08:30:00Z"
            correlation_id:
              type: string
              description: Request correlation identifier for tracing
              example: "abc123-def456-ghi789"

    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - components
      properties:
        status:
          type: string
          enum: ["healthy", "unhealthy", "degraded"]
          description: Overall system health status
          example: "healthy"
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
          example: "2024-01-15T08:30:00Z"
        components:
          type: object
          properties:
            database:
              $ref: '#/components/schemas/ComponentHealth'
            cache:
              $ref: '#/components/schemas/ComponentHealth'
            auth_service:
              $ref: '#/components/schemas/ComponentHealth'
          description: Health status of individual components

    ComponentHealth:
      type: object
      required:
        - status
        - response_time
      properties:
        status:
          type: string
          enum: ["healthy", "unhealthy"]
          description: Component health status
          example: "healthy"
        response_time:
          type: number
          description: Component response time in milliseconds
          example: 15.5
        details:
          type: string
          description: Additional health details
          example: "Connection pool: 8/10 active connections"

  responses:
    UnauthorizedError:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "UNAUTHORIZED"
              message: "Authentication required"
              details: "Valid bearer token must be provided"
              timestamp: "2024-01-15T08:30:00Z"
              correlation_id: "abc123-def456-ghi789"

    ForbiddenError:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "FORBIDDEN"
              message: "Insufficient permissions"
              details: "User does not have permission to perform this action"
              timestamp: "2024-01-15T08:30:00Z"
              correlation_id: "abc123-def456-ghi789"

    NotFoundError:
      description: Not Found - Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "NOT_FOUND"
              message: "Resource not found"
              details: "The requested resource could not be found"
              timestamp: "2024-01-15T08:30:00Z"
              correlation_id: "abc123-def456-ghi789"

    ConflictError:
      description: Conflict - Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "RESOURCE_CONFLICT"
              message: "Resource conflict"
              details: "The requested operation conflicts with the current state"
              timestamp: "2024-01-15T08:30:00Z"
              correlation_id: "abc123-def456-ghi789"

    ValidationError:
      description: Bad Request - Validation errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
          example:
            error:
              code: "VALIDATION_ERROR"
              message: "Request validation failed"
              details:
                - field: "title"
                  message: "Title is required and cannot be empty"
                  code: "FIELD_REQUIRED"
              timestamp: "2024-01-15T08:30:00Z"
              correlation_id: "abc123-def456-ghi789"

  parameters:
    CorrelationId:
      name: X-Correlation-ID
      in: header
      description: Unique identifier for request tracing and audit logging
      required: false
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440000"

    TaskId:
      name: id
      in: path
      required: true
      description: Unique task identifier
      schema:
        type: string
        format: uuid
        example: "123e4567-e89b-12d3-a456-426614174000"

tags:
  - name: Tasks
    description: Task management operations
  - name: System
    description: System health and monitoring endpoints

externalDocs:
  description: Task Management API Documentation
  url: https://docs.taskmanagement.com/api