openapi: 3.0.3
info:
  title: Youth Account Management System API
  description: |
    Comprehensive API for Youth Account Management System enabling parents and guardians to allocate and manage funds for their children's youth accounts while maintaining visibility and control over spending activities.
    
    ## Key Features
    - Youth account dashboard for parents
    - Fund allocation and transfer capabilities  
    - Spending limit configuration and management
    - Transaction history and activity monitoring
    - Security and compliance controls
    
    ## ADR References
    - SCIB-25: Parent can allocate and manage funds for a youth account
    - SCIB-26: Create API to retrieve youth account dashboard details
    - SCIB-27: Create API for parent to transfer funds to youth account
    - SCIB-28: Create API for configuring youth spending limit
    - SCIB-29: Create API to retrieve youth account transaction history
    - SCIB-30: Define OpenAPI/Swagger specification for youth account APIs
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@bank.com
  license:
    name: Proprietary
    url: https://bank.com/license
servers:
  - url: https://api.bank.com/v1
    description: Production server
  - url: https://sandbox-api.bank.com/v1
    description: Sandbox server for testing

security:
  - OAuth2: [youth-account:read, youth-account:write]

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags:
        - Dashboard
      summary: Retrieve youth account dashboard
      description: |
        Retrieves consolidated youth account information including balance, spending limit, and recent transactions.
        
        **ADR Reference**: SCIB-26
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Unique identifier for the youth account
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - name: X-Request-ID
          in: header
          required: false
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Dashboard data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags:
        - Fund Transfer
      summary: Transfer funds to youth account
      description: |
        Transfers funds from parent account to youth account with comprehensive validation and audit trail.
        
        **ADR Reference**: SCIB-27
      operationId: transferFundsToYouthAccount
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Target youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - name: X-Request-ID
          in: header
          required: false
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '201':
          description: Fund transfer initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags:
        - Spending Limits
      summary: Configure youth account spending limit
      description: |
        Configures weekly spending limit for youth account with validation and effective date management.
        
        **ADR Reference**: SCIB-28
      operationId: updateSpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - name: X-Request-ID
          in: header
          required: false
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limit updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    get:
      tags:
        - Spending Limits
      summary: Retrieve current spending limit configuration
      description: Retrieves current spending limit configuration and utilization
      operationId: getSpendingLimit
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - name: X-Request-ID
          in: header
          required: false
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Spending limit configuration retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags:
        - Transactions
      summary: Retrieve youth account transaction history
      description: |
        Retrieves paginated transaction history for youth account with comprehensive filtering and sorting options.
        
        **ADR Reference**: SCIB-29
      operationId: getTransactionHistory
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - name: startDate
          in: query
          required: false
          description: Start date for transaction filter
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: endDate
          in: query
          required: false
          description: End date for transaction filter
          schema:
            type: string
            format: date
            example: '2024-01-31'
        - name: page
          in: query
          required: false
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: pageSize
          in: query
          required: false
          description: Number of transactions per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: transactionType
          in: query
          required: false
          description: Filter by transaction type
          schema:
            type: string
            enum: [debit, credit, all]
            default: all
            example: debit
        - name: sortBy
          in: query
          required: false
          description: Sort field
          schema:
            type: string
            enum: [date, amount, merchant]
            default: date
            example: date
        - name: sortOrder
          in: query
          required: false
          description: Sort direction
          schema:
            type: string
            enum: [asc, desc]
            default: desc
            example: desc
        - name: X-Request-ID
          in: header
          required: false
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Transaction history retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/youth-accounts/{youthAccountId}/validate:
    get:
      tags:
        - Account Validation
      summary: Validate parent access to youth account
      description: Validates parent access permissions and account status
      operationId: validateAccountAccess
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - name: X-Request-ID
          in: header
          required: false
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Account validation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountValidationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 Bearer Token authentication
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bank.com/oauth/authorize
          tokenUrl: https://auth.bank.com/oauth/token
          refreshUrl: https://auth.bank.com/oauth/refresh
          scopes:
            youth-account:read: Read access to youth account data
            youth-account:write: Write access to youth account operations

  schemas:
    DashboardResponse:
      type: object
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currency
        - limitUtilization
        - recentTransactions
        - metadata
      properties:
        youthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          description: Youth account identifier
          example: ya-123456789
        accountBalance:
          type: number
          format: decimal
          multipleOf: 0.01
          minimum: 0
          description: Current account balance
          example: 250.75
        spendingLimit:
          type: number
          format: decimal
          multipleOf: 0.01
          minimum: 0
          description: Weekly spending limit
          example: 50.00
        currency:
          type: string
          enum: [USD, EUR, GBP]
          description: Account currency
          example: USD
        limitUtilization:
          type: number
          format: decimal
          minimum: 0
          maximum: 100
          description: Percentage of spending limit utilized this week
          example: 60.5
        recentTransactions:
          type: array
          maxItems: 10
          items:
            $ref: '#/components/schemas/Transaction'
        metadata:
          type: object
          required:
            - lastUpdated
            - dataSource
          properties:
            lastUpdated:
              type: string
              format: date-time
              description: Timestamp of last data update
              example: '2024-01-15T10:30:00.000Z'
            dataSource:
              type: string
              description: Source system for the data
              example: core-banking-system

    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
          pattern: '^pa-[0-9]{9}$'
          description: Parent account to transfer from
          example: pa-987654321
        transferAmount:
          type: number
          format: decimal
          multipleOf: 0.01
          minimum: 0.01
          maximum: 10000.00
          description: Amount to transfer
          example: 100.00
        currency:
          type: string
          enum: [USD, EUR, GBP]
          description: Currency code
          example: USD
        description:
          type: string
          maxLength: 255
          description: Optional transfer description
          example: Weekly allowance

    FundTransferResponse:
      type: object
      required:
        - transferId
        - status
        - sourceAccountId
        - youthAccountId
        - transferAmount
        - currency
        - updatedBalance
        - transactionDate
      properties:
        transferId:
          type: string
          pattern: '^tf-[0-9a-f]{12}$'
          description: Unique transfer identifier
          example: tf-abc123def456
        status:
          type: string
          enum: [SUCCESS, PENDING, FAILED]
          description: Transfer status
          example: SUCCESS
        sourceAccountId:
          type: string
          pattern: '^pa-[0-9]{9}$'
          description: Source parent account
          example: pa-987654321
        youthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          description: Target youth account
          example: ya-123456789
        transferAmount:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Transfer amount
          example: 100.00
        currency:
          type: string
          enum: [USD, EUR, GBP]
          description: Currency code
          example: USD
        updatedBalance:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Youth account balance after transfer
          example: 350.75
        transactionDate:
          type: string
          format: date-time
          description: Transaction timestamp
          example: '2024-01-15T10:30:00.000Z'
        description:
          type: string
          description: Transfer description
          example: Weekly allowance

    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
      properties:
        weeklyLimit:
          type: number
          format: decimal
          multipleOf: 0.01
          minimum: 0.00
          maximum: 1000.00
          description: Weekly spending limit amount
          example: 50.00
        limitEnabled:
          type: boolean
          description: Whether the limit is active
          default: true
          example: true
        effectiveDate:
          type: string
          format: date
          description: When the limit becomes effective
          example: '2024-01-01'

    SpendingLimitResponse:
      type: object
      required:
        - youthAccountId
        - weeklyLimit
        - limitEnabled
        - effectiveDate
        - limitResetDate
        - currentWeekSpending
        - remainingLimit
        - updatedTimestamp
      properties:
        youthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          description: Youth account identifier
          example: ya-123456789
        weeklyLimit:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Weekly spending limit
          example: 50.00
        limitEnabled:
          type: boolean
          description: Whether the limit is active
          example: true
        effectiveDate:
          type: string
          format: date
          description: When the limit became effective
          example: '2024-01-01'
        limitResetDate:
          type: string
          format: date
          description: Next limit reset date
          example: '2024-01-22'
        currentWeekSpending:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Amount spent this week
          example: 30.25
        remainingLimit:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Remaining spending limit
          example: 19.75
        utilizationPercentage:
          type: number
          format: decimal
          minimum: 0
          maximum: 100
          description: Percentage of limit utilized
          example: 60.5
        status:
          type: string
          enum: [UPDATED, ACTIVE, SUSPENDED]
          description: Limit status
          example: UPDATED
        updatedTimestamp:
          type: string
          format: date-time
          description: Last update timestamp
          example: '2024-01-15T10:30:00.000Z'
        lastUpdated:
          type: string
          format: date-time
          description: Last update timestamp (alias)
          example: '2024-01-15T10:30:00.000Z'

    TransactionHistoryResponse:
      type: object
      required:
        - transactions
        - pagination
        - summary
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
        summary:
          $ref: '#/components/schemas/TransactionSummary'

    Transaction:
      type: object
      required:
        - transactionId
        - date
        - merchant
        - description
        - amount
        - transactionType
        - status
        - balanceAfter
      properties:
        transactionId:
          type: string
          pattern: '^tx-[0-9a-f]{12}$'
          description: Unique transaction identifier
          example: tx-abc123def456
        date:
          type: string
          format: date-time
          description: Transaction date and time
          example: '2024-01-15T14:30:00.000Z'
        merchant:
          type: string
          maxLength: 100
          description: Merchant name
          example: Coffee Shop Downtown
        description:
          type: string
          maxLength: 255
          description: Transaction description
          example: Coffee and pastry purchase
        amount:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Transaction amount
          example: 8.50
        transactionType:
          type: string
          enum: [debit, credit]
          description: Type of transaction
          example: debit
        status:
          type: string
          enum: [completed, pending, failed]
          description: Transaction status
          example: completed
        category:
          type: string
          maxLength: 50
          description: Transaction category
          example: Food & Dining
        balanceAfter:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Account balance after transaction
          example: 241.50
        location:
          type: object
          properties:
            city:
              type: string
              maxLength: 50
              example: New York
            state:
              type: string
              maxLength: 50
              example: NY
            country:
              type: string
              maxLength: 50
              example: USA

    PaginationInfo:
      type: object
      required:
        - page
        - pageSize
        - totalRecords
        - totalPages
        - hasNext
        - hasPrevious
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of records per page
          example: 20
        totalRecords:
          type: integer
          minimum: 0
          description: Total number of records
          example: 150
        totalPages:
          type: integer
          minimum: 0
          description: Total number of pages
          example: 8
        hasNext:
          type: boolean
          description: Whether there is a next page
          example: true
        hasPrevious:
          type: boolean
          description: Whether there is a previous page
          example: false

    TransactionSummary:
      type: object
      required:
        - totalDebits
        - totalCredits
        - netAmount
        - transactionCount
        - dateRange
      properties:
        totalDebits:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Total debit amount
          example: 125.75
        totalCredits:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Total credit amount
          example: 200.00
        netAmount:
          type: number
          format: decimal
          multipleOf: 0.01
          description: Net amount (credits - debits)
          example: 74.25
        transactionCount:
          type: integer
          minimum: 0
          description: Total number of transactions
          example: 15
        dateRange:
          type: object
          required:
            - startDate
            - endDate
          properties:
            startDate:
              type: string
              format: date
              description: Start date of the range
              example: '2024-01-01'
            endDate:
              type: string
              format: date
              description: End date of the range
              example: '2024-01-31'

    AccountValidationResponse:
      type: object
      required:
        - youthAccountId
        - parentAccountId
        - accessLevel
        - accountStatus
        - permissions
        - validationTimestamp
      properties:
        youthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          description: Youth account identifier
          example: ya-123456789
        parentAccountId:
          type: string
          pattern: '^pa-[0-9]{9}$'
          description: Parent account identifier
          example: pa-987654321
        accessLevel:
          type: string
          enum: [full, read-only, none]
          description: Parent access level to youth account
          example: full
        accountStatus:
          type: string
          enum: [active, suspended, closed]
          description: Youth account status
          example: active
        permissions:
          type: array
          items:
            type: string
            enum: [view_balance, view_transactions, transfer_funds, set_limits]
          description: List of permissions granted to parent
          example: [view_balance, view_transactions, transfer_funds, set_limits]
        validationTimestamp:
          type: string
          format: date-time
          description: Validation timestamp
          example: '2024-01-15T10:30:00.000Z'

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
            - requestId
          properties:
            code:
              type: string
              description: Error code
              example: INVALID_REQUEST
            message:
              type: string
              description: Human-readable error message
              example: The request contains invalid parameters
            details:
              type: string
              description: Additional error details
              example: The youthAccountId format is invalid
            field:
              type: string
              description: Field name for validation errors
              example: youthAccountId
            timestamp:
              type: string
              format: date-time
              description: Error timestamp
              example: '2024-01-15T10:30:00.000Z'
            requestId:
              type: string
              format: uuid
              description: Request identifier for tracing
              example: 550e8400-e29b-41d4-a716-446655440000
            supportReference:
              type: string
              description: Support reference number
              example: sr-987654321

  responses:
    BadRequest:
      description: Bad Request - Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalidAccountId:
              summary: Invalid account ID format
              value:
                error:
                  code: INVALID_REQUEST
                  message: Invalid youth account ID format
                  details: Youth account ID must match pattern ya-[0-9]{9}
                  field: youthAccountId
                  timestamp: '2024-01-15T10:30:00.000Z'
                  requestId: 550e8400-e29b-41d4-a716-446655440000

    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missingToken:
              summary: Missing authentication token
              value:
                error:
                  code: AUTHENTICATION_REQUIRED
                  message: Authentication token is required
                  timestamp: '2024-01-15T10:30:00.000Z'
                  requestId: 550e8400-e29b-41d4-a716-446655440000

    Forbidden:
      description: Forbidden - Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            accessDenied:
              summary: Access denied to youth account
              value:
                error:
                  code: ACCESS_DENIED
                  message: Parent does not have access to this youth account
                  timestamp: '2024-01-15T10:30:00.000Z'
                  requestId: 550e8400-e29b-41d4-a716-446655440000

    NotFound:
      description: Not Found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            accountNotFound:
              summary: Youth account not found
              value:
                error:
                  code: RESOURCE_NOT_FOUND
                  message: Youth account does not exist
                  timestamp: '2024-01-15T10:30:00.000Z'
                  requestId: 550e8400-e29b-41d4-a716-446655440000

    Conflict:
      description: Conflict - Resource conflict or business rule violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            insufficientBalance:
              summary: Insufficient balance for transfer
              value:
                error:
                  code: INSUFFICIENT_BALANCE
                  message: Source account has insufficient funds
                  details: Available balance: $50.00, Requested: $100.00
                  timestamp: '2024-01-15T10:30:00.000Z'
                  requestId: 550e8400-e29b-41d4-a716-446655440000

    UnprocessableEntity:
      description: Unprocessable Entity - Business rule violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            businessRuleViolation:
              summary: Business rule violation
              value:
                error:
                  code: BUSINESS_RULE_VIOLATION
                  message: Transfer amount exceeds daily limit
                  details: Daily limit: $500.00, Requested: $750.00
                  timestamp: '2024-01-15T10:30:00.000Z'
                  requestId: 550e8400-e29b-41d4-a716-446655440000

    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            rateLimitExceeded:
              summary: Rate limit exceeded
              value:
                error:
                  code: RATE_LIMIT_EXCEEDED
                  message: Too many requests. Please try again later.
                  details: Limit: 100 requests per minute
                  timestamp: '2024-01-15T10:30:00.000Z'
                  requestId: 550e8400-e29b-41d4-a716-446655440000
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying
          schema:
            type: integer
            example: 60
        X-RateLimit-Limit:
          description: Request limit per time window
          schema:
            type: integer
            example: 100
        X-RateLimit-Remaining:
          description: Remaining requests in current time window
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          description: Time when rate limit resets (Unix timestamp)
          schema:
            type: integer
            example: 1705320600

    InternalServerError:
      description: Internal Server Error - Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serverError:
              summary: Internal server error
              value:
                error:
                  code: INTERNAL_ERROR
                  message: An unexpected error occurred. Please try again later.
                  timestamp: '2024-01-15T10:30:00.000Z'
                  requestId: 550e8400-e29b-41d4-a716-446655440000
                  supportReference: sr-987654321

    ServiceUnavailable:
      description: Service Unavailable - Service temporarily unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            serviceUnavailable:
              summary: Service temporarily unavailable
              value:
                error:
                  code: SERVICE_UNAVAILABLE
                  message: Service is temporarily unavailable. Please try again later.
                  timestamp: '2024-01-15T10:30:00.000Z'
                  requestId: 550e8400-e29b-41d4-a716-446655440000
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying
          schema:
            type: integer
            example: 300

  parameters:
    YouthAccountId:
      name: youthAccountId
      in: path
      required: true
      description: Unique identifier for the youth account
      schema:
        type: string
        pattern: '^ya-[0-9]{9}$'
        example: ya-123456789

    RequestId:
      name: X-Request-ID
      in: header
      required: false
      description: Unique request identifier for tracing and audit purposes
      schema:
        type: string
        format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000

    Page:
      name: page
      in: query
      required: false
      description: Page number for pagination (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1

    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20

  headers:
    RateLimit:
      X-RateLimit-Limit:
        description: Request limit per time window
        schema:
          type: integer
          example: 100
      X-RateLimit-Remaining:
        description: Remaining requests in current time window
        schema:
          type: integer
          example: 95
      X-RateLimit-Reset:
        description: Time when rate limit resets (Unix timestamp)
        schema:
          type: integer
          example: 1705320600

# Rate limiting configuration
x-rate-limiting:
  standard-endpoints:
    limit: 100
    window: 60  # seconds
    per: user
  transaction-endpoints:
    limit: 10
    window: 60  # seconds
    per: user
  bulk-operations:
    limit: 5
    window: 60  # seconds
    per: user

# API versioning information
x-api-version:
  current: "1.0"
  supported: ["1.0"]
  deprecated: []
  end-of-life: []
  lifecycle:
    backward-compatibility: 12  # months
    deprecation-notice: 6  # months

# Compliance and audit information
x-compliance:
  standards:
    - PCI-DSS
    - GDPR
    - SOX
    - Banking Regulations
  audit:
    logging: comprehensive
    retention: 10-years
    encryption: AES-256
  security:
    authentication: OAuth2
    authorization: RBAC
    data-protection: end-to-end-encryption

# Performance requirements
x-performance:
  response-time:
    p95: 200  # milliseconds
    p99: 500  # milliseconds
  throughput:
    concurrent-users: 1000
    requests-per-minute: 10000
  availability:
    uptime: 99.9  # percentage
    business-hours-uptime: 99.99  # percentage