openapi: 3.0.3
info:
  title: Youth Account Management System API
  description: |
    API for managing youth accounts, enabling parents and guardians to allocate funds, 
    configure spending limits, and monitor youth account activity.
    
    ## Features
    - Secure fund transfers from parent to youth accounts
    - Configurable weekly spending limits
    - Real-time dashboard with account information
    - Comprehensive transaction history with filtering
    
    ## Security
    All endpoints require OAuth 2.0 authentication with appropriate scopes.
    Rate limiting is enforced at 100 requests per minute per token.
    
    ## Compliance
    This API complies with:
    - PCI-DSS Level 1 standards
    - GDPR data protection requirements
    - SOX financial reporting standards
    - Banking regulations (KYC/AML)
  version: 1.0.0
  contact:
    name: API Support Team
    email: api-support@bank.com
    url: https://developer.bank.com/support
  license:
    name: Proprietary
    url: https://bank.com/api-license
  termsOfService: https://bank.com/api-terms

servers:
  - url: https://api.bank.com/v1
    description: Production server
  - url: https://api-staging.bank.com/v1
    description: Staging server
  - url: https://api-dev.bank.com/v1
    description: Development server

security:
  - OAuth2:
      - youth-account:read
      - youth-account:write
      - fund-transfer:execute

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags:
        - Dashboard
      summary: Get youth account dashboard
      description: |
        Retrieves consolidated youth account information including balance, 
        spending limit, and recent transactions for parent/guardian view.
      operationId: getYouthAccountDashboard
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Dashboard data retrieved successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
              example:
                youthAccountId: "ya-123456789"
                accountBalance: 150.75
                spendingLimit: 50.00
                currency: "USD"
                recentTransactions:
                  - transactionId: "txn-987654321"
                    date: "2024-01-15T14:30:00Z"
                    description: "Coffee Shop Purchase"
                    amount: -4.50
                    transactionType: "debit"
                metadata:
                  lastUpdated: "2024-01-15T15:00:00Z"
                  transactionCount: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - youth-account:read

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags:
        - Fund Transfer
      summary: Transfer funds to youth account
      description: |
        Allows parents to transfer funds from their primary account to a youth account.
        Transfers are processed in real-time with immediate balance updates.
      operationId: transferFundsToYouthAccount
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
            example:
              sourceAccountId: "pa-987654321"
              transferAmount: 25.00
              currency: "USD"
              description: "Weekly allowance"
      responses:
        '201':
          description: Fund transfer completed successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
              example:
                transferId: "tf-123456789"
                status: "SUCCESS"
                updatedBalance: 175.75
                transferAmount: 25.00
                currency: "USD"
                timestamp: "2024-01-15T16:00:00Z"
                confirmationNumber: "CONF-ABC123"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - fund-transfer:execute
            - youth-account:write

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags:
        - Spending Limits
      summary: Configure spending limit
      description: |
        Allows parents to configure weekly spending limits for youth accounts.
        Limits are enforced in real-time during transaction processing.
      operationId: configureSpendingLimit
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
            example:
              weeklyLimit: 75.00
              currency: "USD"
              effectiveDate: "2024-01-16"
      responses:
        '200':
          description: Spending limit updated successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
              example:
                youthAccountId: "ya-123456789"
                weeklyLimit: 75.00
                currency: "USD"
                effectiveDate: "2024-01-16"
                status: "UPDATED"
                previousLimit: 50.00
                updatedTimestamp: "2024-01-15T16:30:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - youth-account:write

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags:
        - Transaction History
      summary: Get transaction history
      description: |
        Returns paginated transaction history for youth accounts with optional filtering.
        Supports date range filtering, transaction type filtering, and pagination.
      operationId: getTransactionHistory
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/TransactionType'
        - $ref: '#/components/parameters/RequestId'
        - $ref: '#/components/parameters/ApiVersion'
      responses:
        '200':
          description: Transaction history retrieved successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
              example:
                transactions:
                  - transactionId: "txn-987654321"
                    date: "2024-01-15T14:30:00Z"
                    merchant: "Coffee Shop"
                    amount: -4.50
                    transactionType: "debit"
                    category: "Food & Dining"
                    description: "Coffee and pastry"
                    balanceAfter: 146.25
                pagination:
                  page: 1
                  pageSize: 10
                  totalRecords: 1
                  totalPages: 1
                  hasNext: false
                  hasPrevious: false
                summary:
                  totalDebits: -4.50
                  totalCredits: 0.00
                  netAmount: -4.50
                  transactionCount: 1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - OAuth2:
            - youth-account:read

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: |
        OAuth 2.0 authentication with JWT tokens. Tokens expire after 1 hour 
        with automatic refresh capability.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.bank.com/oauth2/authorize
          tokenUrl: https://auth.bank.com/oauth2/token
          refreshUrl: https://auth.bank.com/oauth2/refresh
          scopes:
            youth-account:read: Read access to youth account information
            youth-account:write: Write access to youth account settings
            fund-transfer:execute: Execute fund transfers

  parameters:
    YouthAccountId:
      name: youthAccountId
      in: path
      required: true
      description: Unique identifier for the youth account
      schema:
        type: string
        pattern: '^ya-[0-9]{9}$'
        example: "ya-123456789"
    
    RequestId:
      name: X-Request-ID
      in: header
      required: false
      description: Unique identifier for request tracing and correlation
      schema:
        type: string
        format: uuid
        example: "req-12345-67890"
    
    IdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: true
      description: Unique key to prevent duplicate fund transfers
      schema:
        type: string
        minLength: 1
        maxLength: 255
        example: "idem-key-67890"
    
    ApiVersion:
      name: X-API-Version
      in: header
      required: false
      description: API version for backward compatibility
      schema:
        type: string
        enum: ["v1"]
        default: "v1"
    
    StartDate:
      name: startDate
      in: query
      required: false
      description: Start date filter for transaction history (ISO 8601 date)
      schema:
        type: string
        format: date
        example: "2024-01-01"
    
    EndDate:
      name: endDate
      in: query
      required: false
      description: End date filter for transaction history (ISO 8601 date)
      schema:
        type: string
        format: date
        example: "2024-01-15"
    
    Page:
      name: page
      in: query
      required: false
      description: Page number for pagination
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1
    
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of records per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 10
    
    TransactionType:
      name: transactionType
      in: query
      required: false
      description: Filter by transaction type
      schema:
        type: string
        enum: ["debit", "credit", "all"]
        default: "all"
        example: "all"

  headers:
    X-RateLimit-Limit:
      description: Maximum requests per minute
      schema:
        type: integer
        example: 100
    
    X-RateLimit-Remaining:
      description: Remaining requests in current window
      schema:
        type: integer
        example: 95
    
    X-RateLimit-Reset:
      description: Time when rate limit resets (Unix timestamp)
      schema:
        type: integer
        example: 1642262400

  schemas:
    DashboardResponse:
      type: object
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currency
        - recentTransactions
        - metadata
      properties:
        youthAccountId:
          type: string
          description: Unique identifier for the youth account
          pattern: '^ya-[0-9]{9}$'
          example: "ya-123456789"
        accountBalance:
          type: number
          format: decimal
          description: Current account balance
          minimum: 0
          multipleOf: 0.01
          example: 150.75
        spendingLimit:
          type: number
          format: decimal
          description: Weekly spending limit
          minimum: 0
          maximum: 500
          multipleOf: 0.01
          example: 50.00
        currency:
          type: string
          description: Currency code
          enum: ["USD", "EUR", "GBP"]
          example: "USD"
        recentTransactions:
          type: array
          description: List of recent transactions
          maxItems: 5
          items:
            $ref: '#/components/schemas/Transaction'
        metadata:
          type: object
          required:
            - lastUpdated
            - transactionCount
          properties:
            lastUpdated:
              type: string
              format: date-time
              description: Last update timestamp
              example: "2024-01-15T15:00:00Z"
            transactionCount:
              type: integer
              description: Total number of recent transactions
              minimum: 0
              example: 1
    
    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
      properties:
        sourceAccountId:
          type: string
          description: Source parent account identifier
          pattern: '^pa-[0-9]{9}$'
          example: "pa-987654321"
        transferAmount:
          type: number
          format: decimal
          description: Amount to transfer
          minimum: 0.01
          maximum: 1000.00
          multipleOf: 0.01
          example: 25.00
        currency:
          type: string
          description: Currency code
          enum: ["USD", "EUR", "GBP"]
          example: "USD"
        description:
          type: string
          description: Optional transfer description
          maxLength: 255
          example: "Weekly allowance"
    
    FundTransferResponse:
      type: object
      required:
        - transferId
        - status
        - updatedBalance
        - transferAmount
        - currency
        - timestamp
        - confirmationNumber
      properties:
        transferId:
          type: string
          description: Unique transfer identifier
          pattern: '^tf-[0-9]{9}$'
          example: "tf-123456789"
        status:
          type: string
          description: Transfer status
          enum: ["SUCCESS", "PENDING", "FAILED"]
          example: "SUCCESS"
        updatedBalance:
          type: number
          format: decimal
          description: Updated youth account balance
          minimum: 0
          multipleOf: 0.01
          example: 175.75
        transferAmount:
          type: number
          format: decimal
          description: Amount transferred
          minimum: 0.01
          multipleOf: 0.01
          example: 25.00
        currency:
          type: string
          description: Currency code
          enum: ["USD", "EUR", "GBP"]
          example: "USD"
        timestamp:
          type: string
          format: date-time
          description: Transfer completion timestamp
          example: "2024-01-15T16:00:00Z"
        confirmationNumber:
          type: string
          description: Transfer confirmation number
          pattern: '^CONF-[A-Z0-9]{6}$'
          example: "CONF-ABC123"
    
    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
        - currency
      properties:
        weeklyLimit:
          type: number
          format: decimal
          description: Weekly spending limit
          minimum: 0.00
          maximum: 500.00
          multipleOf: 0.01
          example: 75.00
        currency:
          type: string
          description: Currency code
          enum: ["USD", "EUR", "GBP"]
          example: "USD"
        effectiveDate:
          type: string
          format: date
          description: Date when the limit becomes effective
          example: "2024-01-16"
    
    SpendingLimitResponse:
      type: object
      required:
        - youthAccountId
        - weeklyLimit
        - currency
        - effectiveDate
        - status
        - updatedTimestamp
      properties:
        youthAccountId:
          type: string
          description: Youth account identifier
          pattern: '^ya-[0-9]{9}$'
          example: "ya-123456789"
        weeklyLimit:
          type: number
          format: decimal
          description: Updated weekly spending limit
          minimum: 0.00
          maximum: 500.00
          multipleOf: 0.01
          example: 75.00
        currency:
          type: string
          description: Currency code
          enum: ["USD", "EUR", "GBP"]
          example: "USD"
        effectiveDate:
          type: string
          format: date
          description: Effective date of the limit
          example: "2024-01-16"
        status:
          type: string
          description: Update status
          enum: ["UPDATED", "PENDING"]
          example: "UPDATED"
        previousLimit:
          type: number
          format: decimal
          description: Previous spending limit
          minimum: 0.00
          multipleOf: 0.01
          example: 50.00
        updatedTimestamp:
          type: string
          format: date-time
          description: Timestamp of the update
          example: "2024-01-15T16:30:00Z"
    
    TransactionHistoryResponse:
      type: object
      required:
        - transactions
        - pagination
        - summary
      properties:
        transactions:
          type: array
          description: List of transactions
          items:
            $ref: '#/components/schemas/TransactionDetail'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
        summary:
          $ref: '#/components/schemas/TransactionSummary'
    
    Transaction:
      type: object
      required:
        - transactionId
        - date
        - description
        - amount
        - transactionType
      properties:
        transactionId:
          type: string
          description: Unique transaction identifier
          pattern: '^txn-[0-9]{9}$'
          example: "txn-987654321"
        date:
          type: string
          format: date-time
          description: Transaction date and time
          example: "2024-01-15T14:30:00Z"
        description:
          type: string
          description: Transaction description
          maxLength: 255
          example: "Coffee Shop Purchase"
        amount:
          type: number
          format: decimal
          description: Transaction amount (negative for debits)
          multipleOf: 0.01
          example: -4.50
        transactionType:
          type: string
          description: Type of transaction
          enum: ["debit", "credit"]
          example: "debit"
    
    TransactionDetail:
      allOf:
        - $ref: '#/components/schemas/Transaction'
        - type: object
          required:
            - merchant
            - category
            - balanceAfter
          properties:
            merchant:
              type: string
              description: Merchant name
              maxLength: 100
              example: "Coffee Shop"
            category:
              type: string
              description: Transaction category
              maxLength: 50
              example: "Food & Dining"
            balanceAfter:
              type: number
              format: decimal
              description: Account balance after transaction
              minimum: 0
              multipleOf: 0.01
              example: 146.25
    
    PaginationInfo:
      type: object
      required:
        - page
        - pageSize
        - totalRecords
        - totalPages
        - hasNext
        - hasPrevious
      properties:
        page:
          type: integer
          description: Current page number
          minimum: 1
          example: 1
        pageSize:
          type: integer
          description: Number of records per page
          minimum: 1
          maximum: 100
          example: 10
        totalRecords:
          type: integer
          description: Total number of records
          minimum: 0
          example: 1
        totalPages:
          type: integer
          description: Total number of pages
          minimum: 0
          example: 1
        hasNext:
          type: boolean
          description: Whether there is a next page
          example: false
        hasPrevious:
          type: boolean
          description: Whether there is a previous page
          example: false
    
    TransactionSummary:
      type: object
      required:
        - totalDebits
        - totalCredits
        - netAmount
        - transactionCount
      properties:
        totalDebits:
          type: number
          format: decimal
          description: Total debit amount
          multipleOf: 0.01
          example: -4.50
        totalCredits:
          type: number
          format: decimal
          description: Total credit amount
          minimum: 0
          multipleOf: 0.01
          example: 0.00
        netAmount:
          type: number
          format: decimal
          description: Net amount (credits - debits)
          multipleOf: 0.01
          example: -4.50
        transactionCount:
          type: integer
          description: Total number of transactions
          minimum: 0
          example: 1
    
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: "INSUFFICIENT_FUNDS"
            message:
              type: string
              description: Human-readable error message
              example: "The source account does not have sufficient funds for this transfer"
            details:
              type: string
              description: Additional error context
              example: "Available balance: $45.00, Requested transfer: $50.00"
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T16:45:00Z"
            requestId:
              type: string
              description: Request identifier for tracing
              example: "req-transfer-12345"
        validationErrors:
          type: array
          description: Field-specific validation errors
          items:
            type: object
            required:
              - field
              - message
            properties:
              field:
                type: string
                description: Field name with validation error
                example: "transferAmount"
              message:
                type: string
                description: Validation error message
                example: "Transfer amount must be between $0.01 and $1000.00"
              rejectedValue:
                description: The invalid value that was rejected
                example: 1500.00

  responses:
    BadRequest:
      description: Bad Request - Invalid request parameters or format
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "INVALID_REQUEST"
              message: "Invalid request parameters"
              details: "Youth account ID format is invalid"
              timestamp: "2024-01-15T16:45:00Z"
              requestId: "req-12345-67890"
            validationErrors:
              - field: "youthAccountId"
                message: "Youth account ID must match pattern ^ya-[0-9]{9}$"
                rejectedValue: "invalid-id"
    
    Unauthorized:
      description: Unauthorized - Invalid or expired authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "UNAUTHORIZED"
              message: "Authentication token is invalid or expired"
              details: "Please obtain a new access token"
              timestamp: "2024-01-15T16:45:00Z"
              requestId: "req-12345-67890"
    
    Forbidden:
      description: Forbidden - Insufficient permissions for the requested operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "FORBIDDEN"
              message: "Insufficient permissions to access this youth account"
              details: "Parent not authorized to access this youth account"
              timestamp: "2024-01-15T16:45:00Z"
              requestId: "req-12345-67890"
    
    NotFound:
      description: Not Found - Requested resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "NOT_FOUND"
              message: "Youth account not found"
              details: "No youth account found with ID ya-123456789"
              timestamp: "2024-01-15T16:45:00Z"
              requestId: "req-12345-67890"
    
    Conflict:
      description: Conflict - Request conflicts with current resource state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "DUPLICATE_TRANSFER"
              message: "Duplicate transfer request"
              details: "Transfer with this idempotency key already processed"
              timestamp: "2024-01-15T16:45:00Z"
              requestId: "req-transfer-12345"
    
    UnprocessableEntity:
      description: Unprocessable Entity - Request is valid but cannot be processed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "INSUFFICIENT_FUNDS"
              message: "The source account does not have sufficient funds for this transfer"
              details: "Available balance: $45.00, Requested transfer: $50.00"
              timestamp: "2024-01-15T16:45:00Z"
              requestId: "req-transfer-12345"
    
    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "RATE_LIMIT_EXCEEDED"
              message: "API rate limit exceeded"
              details: "Maximum 100 requests per minute allowed"
              timestamp: "2024-01-15T16:50:00Z"
              requestId: "req-rate-limit-12345"
    
    InternalServerError:
      description: Internal Server Error - Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: "INTERNAL_ERROR"
              message: "An unexpected error occurred"
              details: "Please try again later or contact support"
              timestamp: "2024-01-15T16:45:00Z"
              requestId: "req-12345-67890"

tags:
  - name: Dashboard
    description: Youth account dashboard operations
  - name: Fund Transfer
    description: Fund transfer operations between parent and youth accounts
  - name: Spending Limits
    description: Spending limit configuration and management
  - name: Transaction History
    description: Transaction history and reporting operations

externalDocs:
  description: Youth Account Management System Documentation
  url: https://developer.bank.com/docs/youth-accounts