openapi: 3.0.3
info:
  title: Youth Account Management System API
  description: |
    API for managing youth accounts, enabling parents to allocate and manage funds for their children's accounts 
    while maintaining visibility and control over spending. This system provides comprehensive account management, 
    fund transfer capabilities, spending limit configuration, and transaction monitoring.
    
    ## Key Features
    - Youth account dashboard with consolidated information
    - Secure fund transfers between parent and youth accounts
    - Configurable spending limits with real-time enforcement
    - Comprehensive transaction history with filtering
    - Real-time balance updates and notifications
    - Role-based access control for parents and youth
    
    ## Security
    - OAuth 2.0 + JWT Bearer Token authentication
    - Multi-factor authentication (MFA) support
    - Role-based access control (RBAC)
    - Rate limiting and throttling
    - Comprehensive audit logging
    
    ## Compliance
    - PCI-DSS Level 1 compliant
    - GDPR data protection compliant
    - SOX financial reporting controls
    - Bank Secrecy Act (BSA) compliant
    
    ## Traceability
    - SCIB-26: Youth Account Dashboard API
    - SCIB-27: Fund Transfer API
    - SCIB-28: Spending Limit Configuration API
    - SCIB-29: Transaction History API
    - SCIB-30: OpenAPI Specification
  version: 1.0.0
  contact:
    name: API Support Team
    email: api-support@scib.com
    url: https://developer.scib.com
  license:
    name: Proprietary
    url: https://scib.com/api-license
  termsOfService: https://scib.com/api-terms

servers:
  - url: https://api.scib.com/v1
    description: Production server
  - url: https://api-staging.scib.com/v1
    description: Staging server
  - url: https://api-dev.scib.com/v1
    description: Development server

security:
  - OAuth2:
      - read:youth-accounts
      - write:youth-accounts
      - read:transactions
      - write:fund-transfers
  - BearerAuth: []

paths:
  /youth-accounts/{youthAccountId}/dashboard:
    get:
      tags:
        - Youth Account Dashboard
      summary: Retrieve youth account dashboard
      description: |
        Retrieve consolidated youth account information including balance, spending limit, 
        recent transactions, and account status. This endpoint provides a comprehensive 
        overview for parents to monitor their youth's account activity.
        
        **Traceability**: SCIB-26
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Unique identifier for the youth account
          schema:
            type: string
            pattern: '^YTH-[0-9]{6}$'
            example: YTH-456789
        - name: X-Request-ID
          in: header
          required: true
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Youth account dashboard data retrieved successfully
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
            X-RateLimit-Remaining:
              description: Number of requests remaining in current window
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Time when rate limit window resets
              schema:
                type: integer
                format: int64
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication flow
      flows:
        authorizationCode:
          authorizationUrl: https://auth.scib.com/oauth/authorize
          tokenUrl: https://auth.scib.com/oauth/token
          refreshUrl: https://auth.scib.com/oauth/refresh
          scopes:
            read:youth-accounts: Read access to youth account information
            write:youth-accounts: Write access to youth account configuration
            read:transactions: Read access to transaction history
            write:fund-transfers: Write access to fund transfer operations
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication

  schemas:
    YouthAccountDashboard:
      type: object
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currentWeekSpent
        - remainingLimit
        - currency
        - weekStartDate
        - accountStatus
        - lastUpdated
      properties:
        youthAccountId:
          type: string
          pattern: '^YTH-[0-9]{6}$'
          description: Unique identifier for the youth account
          example: YTH-456789
        accountBalance:
          type: number
          format: decimal
          minimum: 0
          multipleOf: 0.01
          description: Current account balance
          example: 150.00
        spendingLimit:
          type: number
          format: decimal
          minimum: 0
          multipleOf: 0.01
          description: Weekly spending limit
          example: 100.00

  responses:
    BadRequest:
      description: Bad request - invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized - authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Too many requests - rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

schemas:
  ErrorResponse:
    type: object
    required:
      - error
      - message
      - timestamp
    properties:
      error:
        type: string
        description: Error code
      message:
        type: string
        description: Human-readable error message
      timestamp:
        type: string
        format: date-time
        description: Error timestamp