openapi: 3.0.3
info:
  title: Task Management API
  description: |
    Enterprise-grade Task Management API providing secure task creation, management, and tracking capabilities.
    
    ## Features
    - Comprehensive task lifecycle management
    - Role-based access control (RBAC)
    - Enterprise security and compliance
    - Audit logging and traceability
    - High performance and scalability
    
    ## Security
    - JWT Bearer token authentication
    - AES-256 encryption for data at rest
    - TLS 1.3 for data in transit
    - Input validation and sanitization
    - Rate limiting and DDoS protection
    
    ## Compliance
    - GDPR compliant data handling
    - ISO 27001 security standards
    - SOX audit trail requirements
    - PCI-DSS ready (future scope)
    
    ## Architecture
    Based on DEMO-2350 ADR implementing:
    - TaskController with validation
    - CreateTaskDto with comprehensive validation
    - TaskService with business logic
    - Enterprise-grade error handling
  version: 1.0.0
  contact:
    name: API Support Team
    email: api-support@taskmanagement.com
    url: https://docs.taskmanagement.com
  license:
    name: Proprietary
    url: https://taskmanagement.com/license
  termsOfService: https://taskmanagement.com/terms

servers:
  - url: https://api.taskmanagement.com/v1
    description: Production server
  - url: https://staging-api.taskmanagement.com/v1
    description: Staging server
  - url: https://dev-api.taskmanagement.com/v1
    description: Development server

security:
  - bearerAuth: []

paths:
  /api/tasks:
    post:
      tags:
        - Tasks
      summary: Create a new task
      description: |
        Creates a new task with comprehensive validation and business logic processing.
        
        ## Business Rules
        - Title must be unique per user
        - Due date must be in the future
        - Priority levels: LOW, MEDIUM, HIGH, CRITICAL
        - Status defaults to TODO if not specified
        
        ## Security
        - Requires valid JWT authentication
        - RBAC permission: CREATE_TASK
        - Input validation and sanitization
        - Audit logging enabled
        
        ## Performance
        - Target response time: <200ms
        - Rate limit: 100 requests/minute per user
      operationId: createTask
      security:
        - bearerAuth: []
      parameters:
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing
          required: false
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440002"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                value:
                  title: "Complete API documentation"
                  description: "Create comprehensive API documentation including examples and error codes"
                  priority: "HIGH"
                  dueDate: "2024-12-31T23:59:59Z"
                  tags: ["documentation", "api", "urgent"]
              assigned_task:
                summary: Task with assignment
                value:
                  title: "Review security implementation"
                  description: "Conduct security review of authentication and authorization implementation"
                  priority: "CRITICAL"
                  status: "TODO"
                  dueDate: "2024-02-15T17:00:00Z"
                  assignedTo: "550e8400-e29b-41d4-a716-446655440000"
                  tags: ["security", "review"]
      responses:
        '201':
          description: Task created successfully
          headers:
            X-Correlation-ID:
              description: Request correlation identifier
              schema:
                type: string
                format: uuid
            Location:
              description: URI of the created task
              schema:
                type: string
                format: uri
                example: "/api/tasks/123e4567-e89b-12d3-a456-426614174000"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              examples:
                created_task:
                  summary: Successfully created task
                  value:
                    id: "123e4567-e89b-12d3-a456-426614174000"
                    title: "Complete API documentation"
                    description: "Create comprehensive API documentation including examples and error codes"
                    priority: "HIGH"
                    status: "TODO"
                    dueDate: "2024-12-31T23:59:59Z"
                    assignedTo: null
                    createdBy: "550e8400-e29b-41d4-a716-446655440001"
                    tags: ["documentation", "api", "urgent"]
                    createdAt: "2024-01-15T10:30:00Z"
                    updatedAt: "2024-01-15T10:30:00Z"
        '400':
          description: Bad Request - Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                validation_error:
                  summary: Multiple validation errors
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Request validation failed"
                      details:
                        - field: "title"
                          message: "Title is required and cannot be empty"
                          code: "REQUIRED_FIELD"
                        - field: "dueDate"
                          message: "Due date must be in the future"
                          code: "INVALID_DATE"
                      timestamp: "2024-01-15T10:30:00Z"
                      correlationId: "550e8400-e29b-41d4-a716-446655440002"
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Missing or invalid token
                  value:
                    error:
                      code: "UNAUTHORIZED"
                      message: "Invalid or missing authentication token"
                      timestamp: "2024-01-15T10:30:00Z"
                      correlationId: "550e8400-e29b-41d4-a716-446655440002"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error:
                      code: "FORBIDDEN"
                      message: "Insufficient permissions to create tasks"
                      timestamp: "2024-01-15T10:30:00Z"
                      correlationId: "550e8400-e29b-41d4-a716-446655440002"
        '409':
          description: Conflict - Duplicate task or business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicate_task:
                  summary: Duplicate task detected
                  value:
                    error:
                      code: "DUPLICATE_TASK"
                      message: "A task with similar title already exists for this user"
                      timestamp: "2024-01-15T10:30:00Z"
                      correlationId: "550e8400-e29b-41d4-a716-446655440002"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
                example: 60
            X-RateLimit-Limit:
              description: Request limit per window
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: Remaining requests in current window
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Time when rate limit resets (Unix timestamp)
              schema:
                type: integer
                example: 1705312200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              examples:
                rate_limit:
                  summary: Rate limit exceeded
                  value:
                    error:
                      code: "RATE_LIMIT_EXCEEDED"
                      message: "Rate limit exceeded. Maximum 100 requests per minute."
                      retryAfter: 60
                      timestamp: "2024-01-15T10:30:00Z"
                      correlationId: "550e8400-e29b-41d4-a716-446655440002"
        '500':
          description: Internal Server Error - Unexpected system error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal_error:
                  summary: System error
                  value:
                    error:
                      code: "INTERNAL_ERROR"
                      message: "An unexpected error occurred. Please try again later."
                      timestamp: "2024-01-15T10:30:00Z"
                      correlationId: "550e8400-e29b-41d4-a716-446655440002"

  /api/tasks/{id}:
    get:
      tags:
        - Tasks
      summary: Get task by ID
      description: |
        Retrieves a specific task by its unique identifier.
        
        ## Security
        - Requires valid JWT authentication
        - RBAC permission: READ_TASK
        - Resource-level access control
        
        ## Performance
        - Cached responses for frequently accessed tasks
        - Optimized database queries
      operationId: getTaskById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique task identifier
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Task retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Task not found or access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                not_found:
                  summary: Task not found
                  value:
                    error:
                      code: "TASK_NOT_FOUND"
                      message: "Task not found or you don't have access to it"
                      timestamp: "2024-01-15T10:30:00Z"
                      correlationId: "550e8400-e29b-41d4-a716-446655440002"
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Tasks
      summary: Update task
      description: |
        Updates an existing task with new information.
        
        ## Business Rules
        - Only task owner or assigned user can update
        - Status transitions must follow workflow rules
        - Due date changes require justification for audit
        
        ## Security
        - Requires valid JWT authentication
        - RBAC permission: UPDATE_TASK
        - Resource ownership validation
      operationId: updateTask
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique task identifier
          schema:
            type: string
            format: uuid
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing
          required: false
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
      responses:
        '200':
          description: Task updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Tasks
      summary: Delete task
      description: |
        Soft deletes a task (marks as deleted for audit purposes).
        
        ## Business Rules
        - Only task owner or admin can delete
        - Soft delete preserves audit trail
        - Hard delete only after retention period
        
        ## Security
        - Requires valid JWT authentication
        - RBAC permission: DELETE_TASK
        - Audit logging for compliance
      operationId: deleteTask
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique task identifier
          schema:
            type: string
            format: uuid
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Task deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/tasks:
    get:
      tags:
        - Tasks
      summary: List tasks
      description: |
        Retrieves a paginated list of tasks with filtering and sorting options.
        
        ## Features
        - Pagination with configurable page size
        - Multi-field filtering
        - Flexible sorting options
        - Performance optimized queries
        
        ## Security
        - Requires valid JWT authentication
        - RBAC permission: READ_TASK
        - User-scoped data access
      operationId: listTasks
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: status
          in: query
          description: Filter by task status
          required: false
          schema:
            $ref: '#/components/schemas/TaskStatus'
        - name: priority
          in: query
          description: Filter by task priority
          required: false
          schema:
            $ref: '#/components/schemas/TaskPriority'
        - name: assignedTo
          in: query
          description: Filter by assigned user ID
          required: false
          schema:
            type: string
            format: uuid
        - name: createdBy
          in: query
          description: Filter by creator user ID
          required: false
          schema:
            type: string
            format: uuid
        - name: dueDate
          in: query
          description: Filter by due date (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
            example: "2024-12-31"
        - name: sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
            enum: ["createdAt", "updatedAt", "dueDate", "priority", "title"]
            default: "createdAt"
        - name: sortOrder
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: ["asc", "desc"]
            default: "desc"
        - name: search
          in: query
          description: Search in title and description
          required: false
          schema:
            type: string
            maxLength: 100
            example: "API documentation"
        - name: X-Correlation-ID
          in: header
          description: Unique identifier for request tracing
          required: false
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Tasks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'
              examples:
                task_list:
                  summary: Paginated task list
                  value:
                    data:
                      - id: "123e4567-e89b-12d3-a456-426614174000"
                        title: "Complete API documentation"
                        priority: "HIGH"
                        status: "TODO"
                        dueDate: "2024-12-31T23:59:59Z"
                        assignedTo: "550e8400-e29b-41d4-a716-446655440000"
                        createdAt: "2024-01-15T10:30:00Z"
                    pagination:
                      page: 1
                      limit: 20
                      total: 150
                      totalPages: 8
                      hasNext: true
                      hasPrevious: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /health/live:
    get:
      tags:
        - Health
      summary: Liveness probe
      description: |
        Kubernetes liveness probe endpoint to check if the application is running.
        
        ## Usage
        - Used by Kubernetes for container health checks
        - No authentication required
        - Fast response for quick health assessment
      operationId: livenessCheck
      security: []
      responses:
        '200':
          description: Application is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              examples:
                healthy:
                  summary: Healthy application
                  value:
                    status: "UP"
                    timestamp: "2024-01-15T10:30:00Z"
        '503':
          description: Application is not healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /health/ready:
    get:
      tags:
        - Health
      summary: Readiness probe
      description: |
        Kubernetes readiness probe endpoint to check if the application is ready to serve traffic.
        
        ## Checks
        - Database connectivity
        - External service availability
        - Resource availability
      operationId: readinessCheck
      security: []
      responses:
        '200':
          description: Application is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
              examples:
                ready:
                  summary: Application ready
                  value:
                    status: "UP"
                    timestamp: "2024-01-15T10:30:00Z"
                    checks:
                      database:
                        status: "UP"
                        responseTime: "15ms"
                      authService:
                        status: "UP"
                        responseTime: "25ms"
        '503':
          description: Application is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication.
        
        ## Token Format
        - Algorithm: RS256
        - Expiration: 1 hour (access token)
        - Claims: user_id, role, permissions, exp, iat
        
        ## Usage
        Include the token in the Authorization header:
        `Authorization: Bearer <your-jwt-token>`

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
        - description
        - priority
        - dueDate
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 100
          description: Task title (must be unique per user)
          example: "Complete API documentation"
          pattern: "^[\\s\\S]*\\S[\\s\\S]*$"
        description:
          type: string
          minLength: 1
          maxLength: 1000
          description: Detailed task description
          example: "Create comprehensive API documentation including examples and error codes"
        priority:
          $ref: '#/components/schemas/TaskPriority'
        status:
          $ref: '#/components/schemas/TaskStatus'
        dueDate:
          type: string
          format: date-time
          description: Task due date (must be future date)
          example: "2024-12-31T23:59:59Z"
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: UUID of assigned user
          example: "550e8400-e29b-41d4-a716-446655440000"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
            pattern: "^[a-zA-Z0-9_-]+$"
          maxItems: 10
          description: Task tags for categorization
          example: ["documentation", "api", "urgent"]
      additionalProperties: false

    UpdateTaskRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 100
          description: Task title
          example: "Complete API documentation"
        description:
          type: string
          minLength: 1
          maxLength: 1000
          description: Detailed task description
          example: "Create comprehensive API documentation including examples and error codes"
        priority:
          $ref: '#/components/schemas/TaskPriority'
        status:
          $ref: '#/components/schemas/TaskStatus'
        dueDate:
          type: string
          format: date-time
          description: Task due date
          example: "2024-12-31T23:59:59Z"
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: UUID of assigned user
          example: "550e8400-e29b-41d4-a716-446655440000"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Task tags for categorization
          example: ["documentation", "api", "urgent"]
      additionalProperties: false

    TaskResponse:
      type: object
      required:
        - id
        - title
        - description
        - priority
        - status
        - dueDate
        - createdBy
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
        title:
          type: string
          description: Task title
          example: "Complete API documentation"
        description:
          type: string
          description: Task description
          example: "Create comprehensive API documentation including examples and error codes"
        priority:
          $ref: '#/components/schemas/TaskPriority'
        status:
          $ref: '#/components/schemas/TaskStatus'
        dueDate:
          type: string
          format: date-time
          description: Task due date
          example: "2024-12-31T23:59:59Z"
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: UUID of assigned user
          example: "550e8400-e29b-41d4-a716-446655440000"
        createdBy:
          type: string
          format: uuid
          description: UUID of task creator
          example: "550e8400-e29b-41d4-a716-446655440001"
        tags:
          type: array
          items:
            type: string
          description: Task tags
          example: ["documentation", "api", "urgent"]
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp
          example: "2024-01-15T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T10:30:00Z"
      additionalProperties: false

    TaskListResponse:
      type: object
      required:
        - data
        - pagination
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TaskSummary'
          description: Array of task summaries
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
      additionalProperties: false

    TaskSummary:
      type: object
      required:
        - id
        - title
        - priority
        - status
        - dueDate
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
        title:
          type: string
          description: Task title
          example: "Complete API documentation"
        priority:
          $ref: '#/components/schemas/TaskPriority'
        status:
          $ref: '#/components/schemas/TaskStatus'
        dueDate:
          type: string
          format: date-time
          description: Task due date
          example: "2024-12-31T23:59:59Z"
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: UUID of assigned user
          example: "550e8400-e29b-41d4-a716-446655440000"
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp
          example: "2024-01-15T10:30:00Z"
      additionalProperties: false

    PaginationInfo:
      type: object
      required:
        - page
        - limit
        - total
        - totalPages
        - hasNext
        - hasPrevious
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          description: Items per page
          example: 20
        total:
          type: integer
          minimum: 0
          description: Total number of items
          example: 150
        totalPages:
          type: integer
          minimum: 0
          description: Total number of pages
          example: 8
        hasNext:
          type: boolean
          description: Whether there is a next page
          example: true
        hasPrevious:
          type: boolean
          description: Whether there is a previous page
          example: false
      additionalProperties: false

    TaskPriority:
      type: string
      enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
      description: Task priority level
      example: "HIGH"

    TaskStatus:
      type: string
      enum: ["TODO", "IN_PROGRESS", "REVIEW", "DONE"]
      description: Current task status
      default: "TODO"
      example: "TODO"

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: "UNAUTHORIZED"
            message:
              type: string
              description: Human-readable error message
              example: "Invalid or missing authentication token"
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T10:30:00Z"
            correlationId:
              type: string
              format: uuid
              description: Request correlation identifier
              example: "550e8400-e29b-41d4-a716-446655440002"
          additionalProperties: false
      additionalProperties: false

    ValidationError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - timestamp
          properties:
            code:
              type: string
              description: Error code
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: General error message
              example: "Request validation failed"
            details:
              type: array
              items:
                type: object
                required:
                  - field
                  - message
                  - code
                properties:
                  field:
                    type: string
                    description: Field that failed validation
                    example: "title"
                  message:
                    type: string
                    description: Validation error message
                    example: "Title is required and cannot be empty"
                  code:
                    type: string
                    description: Validation error code
                    example: "REQUIRED_FIELD"
                additionalProperties: false
              description: Detailed validation errors
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T10:30:00Z"
            correlationId:
              type: string
              format: uuid
              description: Request correlation identifier
              example: "550e8400-e29b-41d4-a716-446655440002"
          additionalProperties: false
      additionalProperties: false

    RateLimitError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - retryAfter
            - timestamp
          properties:
            code:
              type: string
              description: Error code
              example: "RATE_LIMIT_EXCEEDED"
            message:
              type: string
              description: Rate limit error message
              example: "Rate limit exceeded. Maximum 100 requests per minute."
            retryAfter:
              type: integer
              description: Seconds to wait before retrying
              example: 60
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T10:30:00Z"
            correlationId:
              type: string
              format: uuid
              description: Request correlation identifier
              example: "550e8400-e29b-41d4-a716-446655440002"
          additionalProperties: false
      additionalProperties: false

    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum: ["UP", "DOWN"]
          description: Health status
          example: "UP"
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
          example: "2024-01-15T10:30:00Z"
      additionalProperties: false

    ReadinessResponse:
      type: object
      required:
        - status
        - timestamp
        - checks
      properties:
        status:
          type: string
          enum: ["UP", "DOWN"]
          description: Overall readiness status
          example: "UP"
        timestamp:
          type: string
          format: date-time
          description: Readiness check timestamp
          example: "2024-01-15T10:30:00Z"
        checks:
          type: object
          description: Individual component health checks
          additionalProperties:
            type: object
            required:
              - status
            properties:
              status:
                type: string
                enum: ["UP", "DOWN"]
                description: Component status
              responseTime:
                type: string
                description: Component response time
                example: "15ms"
              error:
                type: string
                description: Error message if component is down
            additionalProperties: false
      additionalProperties: false

  responses:
    BadRequest:
      description: Bad Request - Invalid input or validation errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'

    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unauthorized:
              summary: Authentication required
              value:
                error:
                  code: "UNAUTHORIZED"
                  message: "Invalid or missing authentication token"
                  timestamp: "2024-01-15T10:30:00Z"
                  correlationId: "550e8400-e29b-41d4-a716-446655440002"

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            forbidden:
              summary: Insufficient permissions
              value:
                error:
                  code: "FORBIDDEN"
                  message: "Insufficient permissions for this operation"
                  timestamp: "2024-01-15T10:30:00Z"
                  correlationId: "550e8400-e29b-41d4-a716-446655440002"

    NotFound:
      description: Not Found - Resource not found or access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            not_found:
              summary: Resource not found
              value:
                error:
                  code: "RESOURCE_NOT_FOUND"
                  message: "The requested resource was not found or you don't have access to it"
                  timestamp: "2024-01-15T10:30:00Z"
                  correlationId: "550e8400-e29b-41d4-a716-446655440002"

    Conflict:
      description: Conflict - Resource conflict or business rule violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            conflict:
              summary: Resource conflict
              value:
                error:
                  code: "RESOURCE_CONFLICT"
                  message: "The operation conflicts with the current state of the resource"
                  timestamp: "2024-01-15T10:30:00Z"
                  correlationId: "550e8400-e29b-41d4-a716-446655440002"

    InternalServerError:
      description: Internal Server Error - Unexpected system error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal_error:
              summary: System error
              value:
                error:
                  code: "INTERNAL_ERROR"
                  message: "An unexpected error occurred. Please try again later."
                  timestamp: "2024-01-15T10:30:00Z"
                  correlationId: "550e8400-e29b-41d4-a716-446655440002"

  parameters:
    CorrelationId:
      name: X-Correlation-ID
      in: header
      description: Unique identifier for request tracing and audit logging
      required: false
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440002"

    TaskId:
      name: id
      in: path
      required: true
      description: Unique task identifier
      schema:
        type: string
        format: uuid
        example: "123e4567-e89b-12d3-a456-426614174000"

tags:
  - name: Tasks
    description: |
      Task management operations including creation, retrieval, update, and deletion.
      
      ## Features
      - Full CRUD operations for tasks
      - Advanced filtering and sorting
      - Pagination support
      - Role-based access control
      - Comprehensive validation
      - Audit logging
      
      ## Security
      All task operations require authentication and appropriate permissions.
      
  - name: Health
    description: |
      Health check endpoints for monitoring and orchestration.
      
      ## Usage
      - Kubernetes liveness and readiness probes
      - Load balancer health checks
      - Monitoring system integration
      - Operational dashboards

externalDocs:
  description: Complete API Documentation
  url: https://docs.taskmanagement.com/api

# OpenAPI Extensions for Enterprise Features
x-api-governance:
  version: "1.0"
  compliance:
    - GDPR
    - ISO27001
    - SOX
    - PCI-DSS
  security-review: "2024-01-15"
  architecture-review: "2024-01-15"

x-rate-limiting:
  default:
    requests: 100
    window: "1m"
    burst: 20
  endpoints:
    "/api/tasks":
      POST:
        requests: 50
        window: "1m"
      GET:
        requests: 200
        window: "1m"

x-monitoring:
  metrics:
    - request_count
    - response_time
    - error_rate
    - active_users
  alerts:
    - error_rate > 1%
    - response_time > 500ms
    - availability < 99.9%

x-audit:
  enabled: true
  retention: "7y"
  fields:
    - user_id
    - action
    - resource_id
    - timestamp
    - ip_address
    - user_agent

x-compliance:
  data-classification: "internal"
  retention-policy: "7y"
  encryption:
    at-rest: "AES-256"
    in-transit: "TLS-1.3"
  privacy:
    pii-fields: []
    phi-fields: []
    pci-fields: []