openapi: 3.0.3
info:
  title: Task Management API
  description: |
    Enterprise Task Management API for creating, managing, and tracking tasks within the enterprise ecosystem.
    
    This API supports mobile applications, internal services, and third-party integrations with comprehensive
    security, compliance, and auditability features.
    
    ## Key Features
    - JWT-based authentication and RBAC authorization
    - Comprehensive input validation and error handling
    - GDPR, SOX, and ISO 27001 compliance
    - Real-time monitoring and audit logging
    - High availability and disaster recovery
    
    ## Architecture
    - Built on Node.js/TypeScript with NestJS framework
    - PostgreSQL database with Redis caching
    - Kubernetes deployment with auto-scaling
    - Multi-region deployment for disaster recovery
    
    ## Performance Targets
    - Response time: < 200ms (95th percentile)
    - Throughput: 1000+ requests per second
    - Availability: 99.9% uptime
    - Error rate: < 0.1%
  version: '1.0.0'
  contact:
    name: Task Management Team
    email: task-api-support@company.com
    url: https://docs.company.com/task-api
  license:
    name: Proprietary
    url: https://company.com/licenses/api
  termsOfService: https://company.com/terms/api

servers:
  - url: https://api.taskmanagement.company.com
    description: Production server
  - url: https://staging-api.taskmanagement.company.com
    description: Staging server
  - url: https://dev-api.taskmanagement.company.com
    description: Development server

security:
  - BearerAuth: []

paths:
  /api/v1/tasks:
    post:
      summary: Create a new task
      description: |
        Creates a new task in the system with comprehensive validation and business rule enforcement.
        
        ## Business Rules
        - Due date must be in the future
        - Title must be unique per user
        - Assigned user must exist and be active
        - User must have 'tasks:create' permission
        
        ## Audit Trail
        All task creation operations are logged for compliance and audit purposes.
      operationId: createTask
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: X-Request-ID
          in: header
          description: Unique request identifier for tracing
          required: false
          schema:
            type: string
            format: uuid
          example: "req-123e4567-e89b-12d3-a456-426614174000"
        - name: X-Client-Version
          in: header
          description: Client application version
          required: false
          schema:
            type: string
          example: "mobile-app-v2.1.0"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                value:
                  title: "Implement user authentication"
                  description: "Implement JWT-based authentication system with role-based access control"
                  priority: "HIGH"
                  dueDate: "2024-12-31T23:59:59Z"
              assigned_task:
                summary: Task with assignment
                value:
                  title: "Code review for payment module"
                  description: "Review payment processing implementation for security and performance"
                  priority: "MEDIUM"
                  dueDate: "2024-02-15T17:00:00Z"
                  assignedTo: "550e8400-e29b-41d4-a716-446655440000"
                  tags: ["code-review", "payment", "security"]
                  estimatedHours: 4.0
              critical_task:
                summary: Critical priority task
                value:
                  title: "Fix production database connection issue"
                  description: "Urgent fix required for database connection pool exhaustion in production"
                  priority: "CRITICAL"
                  dueDate: "2024-01-16T12:00:00Z"
                  tags: ["production", "database", "urgent"]
                  estimatedHours: 2.0
      responses:
        '201':
          description: Task created successfully
          headers:
            Location:
              description: URL of the created task
              schema:
                type: string
                format: uri
              example: "/api/v1/tasks/123e4567-e89b-12d3-a456-426614174000"
            X-Request-ID:
              description: Request identifier for tracing
              schema:
                type: string
                format: uuid
            X-Rate-Limit-Remaining:
              description: Number of requests remaining in current window
              schema:
                type: integer
              example: 99
            X-Rate-Limit-Reset:
              description: Unix timestamp when rate limit resets
              schema:
                type: integer
              example: 1640995200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              examples:
                created_task:
                  summary: Successfully created task
                  value:
                    id: "123e4567-e89b-12d3-a456-426614174000"
                    title: "Implement user authentication"
                    description: "Implement JWT-based authentication system with role-based access control"
                    priority: "HIGH"
                    status: "PENDING"
                    dueDate: "2024-12-31T23:59:59Z"
                    assignedTo:
                      id: "550e8400-e29b-41d4-a716-446655440000"
                      name: "John Doe"
                      email: "john.doe@company.com"
                    createdBy:
                      id: "660e8400-e29b-41d4-a716-446655440001"
                      name: "Jane Smith"
                      email: "jane.smith@company.com"
                    tags: ["authentication", "security", "backend"]
                    estimatedHours: 8.5
                    createdAt: "2024-01-15T10:30:00Z"
                    updatedAt: "2024-01-15T10:30:00Z"
                    version: 1
        '400':
          description: Bad Request - Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  summary: Multiple validation errors
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Request validation failed"
                      details:
                        - field: "title"
                          message: "Title is required and cannot be empty"
                          rejectedValue: ""
                          constraint: "IsNotEmpty"
                        - field: "dueDate"
                          message: "Due date must be in the future"
                          rejectedValue: "2023-01-01T00:00:00Z"
                          constraint: "FutureDate"
                        - field: "priority"
                          message: "Priority must be one of: LOW, MEDIUM, HIGH, CRITICAL"
                          rejectedValue: "INVALID"
                          constraint: "IsEnum"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
                      path: "/api/v1/tasks"
                      method: "POST"
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_token:
                  summary: Missing authentication token
                  value:
                    error:
                      code: "UNAUTHORIZED"
                      message: "Authentication required"
                      details:
                        reason: "Missing or invalid authorization token"
                        suggestion: "Please provide a valid Bearer token in the Authorization header"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
                      path: "/api/v1/tasks"
                      method: "POST"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficient_permissions:
                  summary: User lacks required permissions
                  value:
                    error:
                      code: "FORBIDDEN"
                      message: "Insufficient permissions"
                      details:
                        reason: "User does not have permission to create tasks"
                        requiredPermission: "tasks:create"
                        userRole: "readonly"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
                      path: "/api/v1/tasks"
                      method: "POST"
        '404':
          description: Not Found - Referenced resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                user_not_found:
                  summary: Assigned user not found
                  value:
                    error:
                      code: "RESOURCE_NOT_FOUND"
                      message: "Assigned user not found"
                      details:
                        reason: "User with ID 550e8400-e29b-41d4-a716-446655440000 does not exist"
                        resourceType: "User"
                        resourceId: "550e8400-e29b-41d4-a716-446655440000"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
                      path: "/api/v1/tasks"
                      method: "POST"
        '409':
          description: Conflict - Business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicate_title:
                  summary: Duplicate task title for user
                  value:
                    error:
                      code: "BUSINESS_RULE_VIOLATION"
                      message: "Task title must be unique per user"
                      details:
                        reason: "A task with the same title already exists for this user"
                        conflictingResource:
                          id: "existing-task-id"
                          title: "Implement user authentication"
                        suggestion: "Please use a different title or update the existing task"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
                      path: "/api/v1/tasks"
                      method: "POST"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            X-Rate-Limit-Limit:
              description: Request limit per window
              schema:
                type: integer
              example: 100
            X-Rate-Limit-Remaining:
              description: Requests remaining in current window
              schema:
                type: integer
              example: 0
            X-Rate-Limit-Reset:
              description: Unix timestamp when rate limit resets
              schema:
                type: integer
              example: 1640995200
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
              example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                rate_limit_exceeded:
                  summary: Rate limit exceeded
                  value:
                    error:
                      code: "RATE_LIMIT_EXCEEDED"
                      message: "Too many requests"
                      details:
                        reason: "Rate limit of 100 requests per minute exceeded"
                        limit: 100
                        window: "1 minute"
                        retryAfter: 60
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
                      path: "/api/v1/tasks"
                      method: "POST"
        '500':
          description: Internal Server Error - Unexpected system error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                system_error:
                  summary: Database connection failure
                  value:
                    error:
                      code: "INTERNAL_SERVER_ERROR"
                      message: "An unexpected error occurred"
                      details:
                        reason: "Database connection failed"
                        suggestion: "Please try again later or contact support if the problem persists"
                        supportContact: "support@company.com"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
                      path: "/api/v1/tasks"
                      method: "POST"
        '503':
          description: Service Unavailable - Service temporarily unavailable
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
              example: 300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                maintenance:
                  summary: System maintenance in progress
                  value:
                    error:
                      code: "SERVICE_UNAVAILABLE"
                      message: "Service temporarily unavailable"
                      details:
                        reason: "System maintenance in progress"
                        estimatedRecoveryTime: "2024-01-15T11:00:00Z"
                        retryAfter: 300
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
                      path: "/api/v1/tasks"
                      method: "POST"

  /health:
    get:
      summary: Basic health check
      description: Returns basic system health status
      operationId: getHealth
      tags:
        - Health
      security: []
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: ["UP", "DOWN"]
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                example:
                  status: "UP"
                  timestamp: "2024-01-15T10:30:00Z"
                  version: "1.0.0"

  /health/detailed:
    get:
      summary: Detailed health check
      description: Returns detailed system health including dependencies
      operationId: getDetailedHealth
      tags:
        - Health
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Detailed system health information
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: ["UP", "DOWN", "DEGRADED"]
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                  dependencies:
                    type: object
                    properties:
                      database:
                        $ref: '#/components/schemas/HealthStatus'
                      redis:
                        $ref: '#/components/schemas/HealthStatus'
                      authService:
                        $ref: '#/components/schemas/HealthStatus'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. Token should be obtained from the authentication service.
        
        Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...`
        
        Token expiration: 1 hour
        Refresh token mechanism available

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
        - priority
        - dueDate
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          description: Task title (must be unique per user)
          example: "Implement user authentication"
          pattern: '^[\s\S]*\S[\s\S]*$'  # Must contain at least one non-whitespace character
        description:
          type: string
          maxLength: 2000
          description: Detailed task description
          example: "Implement JWT-based authentication system with role-based access control"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority level
          example: "HIGH"
        dueDate:
          type: string
          format: date-time
          description: Task due date (ISO 8601 format, must be future date)
          example: "2024-12-31T23:59:59Z"
        assignedTo:
          type: string
          format: uuid
          description: UUID of the user assigned to the task
          example: "550e8400-e29b-41d4-a716-446655440000"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
            pattern: '^[a-zA-Z0-9][a-zA-Z0-9-_]*$'  # Alphanumeric, hyphens, underscores
          maxItems: 10
          uniqueItems: true
          description: Task tags for categorization
          example: ["authentication", "security", "backend"]
        estimatedHours:
          type: number
          minimum: 0.5
          maximum: 1000
          multipleOf: 0.5
          description: Estimated hours to complete the task
          example: 8.5
      additionalProperties: false

    TaskResponse:
      type: object
      required:
        - id
        - title
        - priority
        - status
        - dueDate
        - createdBy
        - createdAt
        - updatedAt
        - version
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
          readOnly: true
        title:
          type: string
          description: Task title
          example: "Implement user authentication"
        description:
          type: string
          nullable: true
          description: Task description
          example: "Implement JWT-based authentication system with role-based access control"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority level
          example: "HIGH"
        status:
          type: string
          enum: ["PENDING", "IN_PROGRESS", "COMPLETED", "CANCELLED"]
          description: Current task status
          example: "PENDING"
          readOnly: true
        dueDate:
          type: string
          format: date-time
          description: Task due date
          example: "2024-12-31T23:59:59Z"
        assignedTo:
          $ref: '#/components/schemas/UserSummary'
          nullable: true
          description: Assigned user details
        createdBy:
          $ref: '#/components/schemas/UserSummary'
          description: Task creator details
        tags:
          type: array
          items:
            type: string
          description: Task tags
          example: ["authentication", "security", "backend"]
        estimatedHours:
          type: number
          nullable: true
          description: Estimated hours to complete
          example: 8.5
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp
          example: "2024-01-15T10:30:00Z"
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T10:30:00Z"
          readOnly: true
        version:
          type: integer
          minimum: 1
          description: Entity version for optimistic locking
          example: 1
          readOnly: true
      additionalProperties: false

    UserSummary:
      type: object
      required:
        - id
        - name
        - email
      properties:
        id:
          type: string
          format: uuid
          description: User unique identifier
          example: "550e8400-e29b-41d4-a716-446655440000"
        name:
          type: string
          description: User display name
          example: "John Doe"
        email:
          type: string
          format: email
          description: User email address
          example: "john.doe@company.com"
      additionalProperties: false

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
            - requestId
            - path
            - method
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              enum:
                - "VALIDATION_ERROR"
                - "UNAUTHORIZED"
                - "FORBIDDEN"
                - "RESOURCE_NOT_FOUND"
                - "BUSINESS_RULE_VIOLATION"
                - "RATE_LIMIT_EXCEEDED"
                - "INTERNAL_SERVER_ERROR"
                - "SERVICE_UNAVAILABLE"
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Human-readable error message
              example: "Request validation failed"
            details:
              oneOf:
                - type: array
                  items:
                    $ref: '#/components/schemas/ValidationError'
                - type: object
                  additionalProperties: true
              description: Additional error details (format varies by error type)
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              format: uuid
              description: Request identifier for tracing
              example: "req-123e4567-e89b-12d3-a456-426614174000"
            path:
              type: string
              description: Request path where error occurred
              example: "/api/v1/tasks"
            method:
              type: string
              description: HTTP method of the failed request
              example: "POST"
          additionalProperties: false
      additionalProperties: false

    ValidationError:
      type: object
      required:
        - field
        - message
        - constraint
      properties:
        field:
          type: string
          description: Field name that failed validation
          example: "dueDate"
        message:
          type: string
          description: Validation error message
          example: "Due date must be in the future"
        rejectedValue:
          description: Value that was rejected (can be any type)
          example: "2023-01-01T00:00:00Z"
        constraint:
          type: string
          description: Validation constraint that was violated
          example: "FutureDate"
      additionalProperties: false

    HealthStatus:
      type: object
      required:
        - status
        - responseTime
      properties:
        status:
          type: string
          enum: ["UP", "DOWN", "DEGRADED"]
          description: Component health status
        responseTime:
          type: number
          description: Response time in milliseconds
          example: 25.5
        lastChecked:
          type: string
          format: date-time
          description: Last health check timestamp
        error:
          type: string
          description: Error message if component is down
      additionalProperties: false

tags:
  - name: Tasks
    description: Task management operations
    externalDocs:
      description: Task Management Documentation
      url: https://docs.company.com/task-api/tasks
  - name: Health
    description: System health monitoring
    externalDocs:
      description: Health Check Documentation
      url: https://docs.company.com/task-api/health

externalDocs:
  description: Complete API Documentation
  url: https://docs.company.com/task-api

# OpenAPI Extensions for Enterprise Features
x-enterprise-features:
  compliance:
    gdpr: true
    sox: true
    iso27001: true
  monitoring:
    metrics: true
    tracing: true
    logging: true
  security:
    rbac: true
    rateLimit: true
    inputValidation: true
  performance:
    caching: true
    connectionPooling: true
    autoScaling: true

x-api-governance:
  version: "1.0"
  lifecycle: "active"
  deprecationDate: null
  supportLevel: "full"
  sla:
    responseTime: "200ms"
    availability: "99.9%"
    throughput: "1000 rps"

x-implementation-details:
  framework: "NestJS"
  language: "TypeScript"
  database: "PostgreSQL"
  cache: "Redis"
  deployment: "Kubernetes"
  monitoring: "Prometheus + Grafana"
  logging: "ELK Stack"