openapi: 3.0.3
info:
  title: Task Management API
  description: |
    Enterprise Task Management API providing comprehensive task creation and management capabilities.
    
    This API enables users to create, manage, and track tasks within the enterprise ecosystem with
    enterprise-grade security, validation, and compliance features.
    
    ## Key Features
    - JWT-based authentication and authorization
    - Comprehensive input validation and sanitization
    - Role-based access control (RBAC)
    - Rate limiting and DoS protection
    - Comprehensive audit logging
    - GDPR, ISO 27001, and SOC 2 compliance
    
    ## Security
    - All endpoints require Bearer token authentication
    - TLS 1.3 encryption for data in transit
    - AES-256 encryption for data at rest
    - Input validation and XSS prevention
    - SQL injection prevention via parameterized queries
    
    ## Rate Limiting
    - 100 requests per minute per authenticated user
    - HTTP 429 response when limits exceeded
    
    ## Compliance
    - GDPR compliant with data minimization and audit trails
    - ISO 27001 information security controls
    - SOC 2 security and availability controls
  version: 1.0.0
  contact:
    name: API Support Team
    email: api-support@company.com
    url: https://docs.taskmanagement.company.com
  license:
    name: Proprietary
    url: https://company.com/license
  termsOfService: https://company.com/terms
servers:
  - url: https://api.taskmanagement.company.com/v1
    description: Production server
  - url: https://staging-api.taskmanagement.company.com/v1
    description: Staging server
  - url: https://dev-api.taskmanagement.company.com/v1
    description: Development server
security:
  - BearerAuth: []
paths:
  /api/tasks:
    post:
      tags:
        - Tasks
      summary: Create a new task
      description: |
        Creates a new task with comprehensive validation and business rule enforcement.
        
        ## Business Rules
        - Title is required and cannot be empty
        - Due date must be in the future (if provided)
        - Assigned user must exist and be active
        - Creating user must have 'task:create' permission
        - Maximum 50 active tasks per user
        
        ## Validation
        - Multi-layer validation (API and database level)
        - Input sanitization for XSS prevention
        - Business rule validation
        - Referential integrity checks
      operationId: createTask
      security:
        - BearerAuth: []
      parameters:
        - name: X-API-Version
          in: header
          description: API version header
          required: false
          schema:
            type: string
            default: v1
            example: v1
        - name: X-Request-ID
          in: header
          description: Unique request identifier for tracing
          required: false
          schema:
            type: string
            format: uuid
            example: req-123e4567-e89b-12d3-a456-426614174000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                description: Example of creating a basic task with required fields
                value:
                  title: Implement user authentication
                  status: TODO
                  priority: HIGH
              complete_task:
                summary: Complete task creation
                description: Example with all optional fields included
                value:
                  title: Implement user authentication
                  description: Implement JWT-based authentication with role-based access control
                  status: TODO
                  priority: HIGH
                  dueDate: 2024-02-15T10:00:00Z
                  assignedTo: 123e4567-e89b-12d3-a456-426614174000
      responses:
        '201':
          description: Task created successfully
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
            X-RateLimit-Limit:
              description: Rate limit maximum requests
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: Rate limit remaining requests
              schema:
                type: integer
                example: 99
            X-RateLimit-Reset:
              description: Rate limit reset timestamp
              schema:
                type: integer
                example: 1705329000
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              examples:
                created_task:
                  summary: Successfully created task
                  value:
                    id: 987fcdeb-51a2-43d1-9c4e-123456789abc
                    title: Implement user authentication
                    description: Implement JWT-based authentication with role-based access control
                    status: TODO
                    priority: HIGH
                    dueDate: 2024-02-15T10:00:00Z
                    assignedTo: 123e4567-e89b-12d3-a456-426614174000
                    createdAt: 2024-01-15T14:30:00Z
                    updatedAt: 2024-01-15T14:30:00Z
                    createdBy: 456e7890-e12b-34d5-a678-901234567def
        '400':
          description: Bad Request - Validation errors
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                validation_error:
                  summary: Multiple validation errors
                  value:
                    error: Validation Error
                    message: Request validation failed
                    details:
                      - field: title
                        message: Title is required and cannot be empty
                        value: ""
                      - field: status
                        message: Status must be one of TODO, IN_PROGRESS, DONE, CANCELLED
                        value: INVALID_STATUS
                    timestamp: 2024-01-15T14:30:00Z
                    path: /api/tasks
                    requestId: req-123e4567-e89b-12d3-a456-426614174000
        '401':
          description: Unauthorized - Invalid or missing authentication token
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Missing or invalid token
                  value:
                    error: Unauthorized
                    message: Invalid or missing authentication token
                    timestamp: 2024-01-15T14:30:00Z
                    path: /api/tasks
                    requestId: req-123e4567-e89b-12d3-a456-426614174000
        '403':
          description: Forbidden - Insufficient permissions
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error: Forbidden
                    message: Insufficient permissions to create tasks
                    timestamp: 2024-01-15T14:30:00Z
                    path: /api/tasks
                    requestId: req-123e4567-e89b-12d3-a456-426614174000
        '422':
          description: Unprocessable Entity - Business rule violation
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessRuleError'
              examples:
                business_rule_violation:
                  summary: Due date in the past
                  value:
                    error: Business Rule Violation
                    message: Due date cannot be in the past
                    code: INVALID_DUE_DATE
                    timestamp: 2024-01-15T14:30:00Z
                    path: /api/tasks
                    requestId: req-123e4567-e89b-12d3-a456-426614174000
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
            X-RateLimit-Limit:
              description: Rate limit maximum requests
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: Rate limit remaining requests (0 when exceeded)
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Rate limit reset timestamp
              schema:
                type: integer
                example: 1705329060
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              examples:
                rate_limit_exceeded:
                  summary: Rate limit exceeded
                  value:
                    error: Rate Limit Exceeded
                    message: Too many requests. Please try again later.
                    retryAfter: 60
                    timestamp: 2024-01-15T14:30:00Z
                    path: /api/tasks
                    requestId: req-123e4567-e89b-12d3-a456-426614174000
        '500':
          description: Internal Server Error
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    error: Internal Server Error
                    message: An unexpected error occurred. Please try again later.
                    timestamp: 2024-01-15T14:30:00Z
                    path: /api/tasks
                    requestId: req-123e4567-e89b-12d3-a456-426614174000
  /health:
    get:
      tags:
        - Health
      summary: Health check endpoint
      description: |
        Returns the health status of the API and its dependencies.
        
        Used by load balancers and monitoring systems to determine service availability.
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: healthy
                timestamp: 2024-01-15T14:30:00Z
                version: 1.0.0
                dependencies:
                  database: healthy
                  auth_service: healthy
                  audit_service: healthy
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: unhealthy
                timestamp: 2024-01-15T14:30:00Z
                version: 1.0.0
                dependencies:
                  database: unhealthy
                  auth_service: healthy
                  audit_service: healthy
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. Include the token in the Authorization header:
        
        `Authorization: Bearer <jwt_token>`
        
        ## Token Requirements
        - Valid JWT token issued by the authentication service
        - Token must not be expired (max 24 hours)
        - Token must contain required claims (user ID, roles, permissions)
        - User must have 'task:create' permission for task creation
  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
        - status
        - priority
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '^[\s\S]*\S[\s\S]*$'
          description: |
            Task title (required). Must be non-empty and contain at least one non-whitespace character.
            
            ## Validation Rules
            - Required field
            - Minimum length: 1 character
            - Maximum length: 200 characters
            - Cannot be only whitespace
            - HTML encoding applied for XSS prevention
          example: Implement user authentication
        description:
          type: string
          maxLength: 1000
          description: |
            Detailed task description (optional).
            
            ## Validation Rules
            - Optional field
            - Maximum length: 1000 characters
            - HTML encoding applied for XSS prevention
            - Script tags removed for security
          example: Implement JWT-based authentication with role-based access control
        status:
          type: string
          enum:
            - TODO
            - IN_PROGRESS
            - DONE
            - CANCELLED
          description: |
            Current task status. Must be one of the predefined values.
            
            ## Status Definitions
            - **TODO**: Task is created but not started
            - **IN_PROGRESS**: Task is actively being worked on
            - **DONE**: Task is completed
            - **CANCELLED**: Task is cancelled and will not be completed
          example: TODO
        priority:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
            - CRITICAL
          description: |
            Task priority level. Determines task urgency and scheduling.
            
            ## Priority Definitions
            - **LOW**: Nice to have, no specific deadline
            - **MEDIUM**: Normal priority, standard processing
            - **HIGH**: Important task, expedited processing
            - **CRITICAL**: Urgent task, immediate attention required
          example: HIGH
        dueDate:
          type: string
          format: date-time
          description: |
            Task due date in ISO 8601 format (optional).
            
            ## Validation Rules
            - Optional field
            - Must be valid ISO 8601 date-time string
            - Must be in UTC timezone
            - Must be at least 1 minute in the future
            - Business rule: Cannot be in the past
          example: 2024-02-15T10:00:00Z
        assignedTo:
          type: string
          format: uuid
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$'
          description: |
            UUID of the user assigned to this task (optional).
            
            ## Validation Rules
            - Optional field
            - Must be valid UUID v4 format
            - Referenced user must exist and be active
            - User cannot have more than 50 active assigned tasks
          example: 123e4567-e89b-12d3-a456-426614174000
      additionalProperties: false
    TaskResponse:
      type: object
      required:
        - id
        - title
        - status
        - priority
        - createdAt
        - updatedAt
        - createdBy
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier (UUID v4)
          example: 987fcdeb-51a2-43d1-9c4e-123456789abc
          readOnly: true
        title:
          type: string
          minLength: 1
          maxLength: 200
          description: Task title
          example: Implement user authentication
        description:
          type: string
          maxLength: 1000
          description: Task description (null if not provided)
          example: Implement JWT-based authentication with role-based access control
          nullable: true
        status:
          type: string
          enum:
            - TODO
            - IN_PROGRESS
            - DONE
            - CANCELLED
          description: Current task status
          example: TODO
        priority:
          type: string
          enum:
            - LOW
            - MEDIUM
            - HIGH
            - CRITICAL
          description: Task priority level
          example: HIGH
        dueDate:
          type: string
          format: date-time
          description: Task due date in ISO 8601 format (null if not set)
          example: 2024-02-15T10:00:00Z
          nullable: true
        assignedTo:
          type: string
          format: uuid
          description: UUID of assigned user (null if not assigned)
          example: 123e4567-e89b-12d3-a456-426614174000
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp in ISO 8601 format
          example: 2024-01-15T14:30:00Z
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp in ISO 8601 format
          example: 2024-01-15T14:30:00Z
          readOnly: true
        createdBy:
          type: string
          format: uuid
          description: UUID of user who created the task
          example: 456e7890-e12b-34d5-a678-901234567def
          readOnly: true
      additionalProperties: false
    ValidationError:
      type: object
      required:
        - error
        - message
        - details
        - timestamp
        - path
        - requestId
      properties:
        error:
          type: string
          description: Error type identifier
          example: Validation Error
        message:
          type: string
          description: Human-readable error message
          example: Request validation failed
        details:
          type: array
          description: Array of specific validation errors
          items:
            type: object
            required:
              - field
              - message
              - value
            properties:
              field:
                type: string
                description: Name of the field that failed validation
                example: title
              message:
                type: string
                description: Specific validation error message
                example: Title is required and cannot be empty
              value:
                type: string
                description: The invalid value that was provided
                example: ""
                nullable: true
            additionalProperties: false
        timestamp:
          type: string
          format: date-time
          description: Error occurrence timestamp
          example: 2024-01-15T14:30:00Z
        path:
          type: string
          description: API endpoint path where error occurred
          example: /api/tasks
        requestId:
          type: string
          format: uuid
          description: Unique request identifier for tracing
          example: req-123e4567-e89b-12d3-a456-426614174000
      additionalProperties: false
    BusinessRuleError:
      type: object
      required:
        - error
        - message
        - code
        - timestamp
        - path
        - requestId
      properties:
        error:
          type: string
          description: Error type identifier
          example: Business Rule Violation
        message:
          type: string
          description: Human-readable error message
          example: Due date cannot be in the past
        code:
          type: string
          description: Specific business rule error code
          enum:
            - INVALID_DUE_DATE
            - USER_NOT_FOUND
            - USER_INACTIVE
            - MAX_TASKS_EXCEEDED
            - DUPLICATE_TITLE
            - INSUFFICIENT_PERMISSIONS
          example: INVALID_DUE_DATE
        timestamp:
          type: string
          format: date-time
          description: Error occurrence timestamp
          example: 2024-01-15T14:30:00Z
        path:
          type: string
          description: API endpoint path where error occurred
          example: /api/tasks
        requestId:
          type: string
          format: uuid
          description: Unique request identifier for tracing
          example: req-123e4567-e89b-12d3-a456-426614174000
      additionalProperties: false
    RateLimitError:
      type: object
      required:
        - error
        - message
        - retryAfter
        - timestamp
        - path
        - requestId
      properties:
        error:
          type: string
          description: Error type identifier
          example: Rate Limit Exceeded
        message:
          type: string
          description: Human-readable error message
          example: Too many requests. Please try again later.
        retryAfter:
          type: integer
          minimum: 1
          description: Seconds to wait before retrying the request
          example: 60
        timestamp:
          type: string
          format: date-time
          description: Error occurrence timestamp
          example: 2024-01-15T14:30:00Z
        path:
          type: string
          description: API endpoint path where error occurred
          example: /api/tasks
        requestId:
          type: string
          format: uuid
          description: Unique request identifier for tracing
          example: req-123e4567-e89b-12d3-a456-426614174000
      additionalProperties: false
    ErrorResponse:
      type: object
      required:
        - error
        - message
        - timestamp
        - path
        - requestId
      properties:
        error:
          type: string
          description: Error type identifier
          example: Internal Server Error
        message:
          type: string
          description: Human-readable error message
          example: An unexpected error occurred. Please try again later.
        timestamp:
          type: string
          format: date-time
          description: Error occurrence timestamp
          example: 2024-01-15T14:30:00Z
        path:
          type: string
          description: API endpoint path where error occurred
          example: /api/tasks
        requestId:
          type: string
          format: uuid
          description: Unique request identifier for tracing
          example: req-123e4567-e89b-12d3-a456-426614174000
      additionalProperties: false
    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - version
        - dependencies
      properties:
        status:
          type: string
          enum:
            - healthy
            - unhealthy
          description: Overall service health status
          example: healthy
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
          example: 2024-01-15T14:30:00Z
        version:
          type: string
          description: API version
          example: 1.0.0
        dependencies:
          type: object
          description: Health status of external dependencies
          properties:
            database:
              type: string
              enum:
                - healthy
                - unhealthy
              example: healthy
            auth_service:
              type: string
              enum:
                - healthy
                - unhealthy
              example: healthy
            audit_service:
              type: string
              enum:
                - healthy
                - unhealthy
              example: healthy
          additionalProperties:
            type: string
            enum:
              - healthy
              - unhealthy
      additionalProperties: false
  examples:
    CreateTaskBasic:
      summary: Basic task creation
      description: Minimum required fields for task creation
      value:
        title: Review API documentation
        status: TODO
        priority: MEDIUM
    CreateTaskComplete:
      summary: Complete task creation
      description: Task creation with all optional fields
      value:
        title: Implement user authentication
        description: Implement JWT-based authentication with role-based access control
        status: TODO
        priority: HIGH
        dueDate: 2024-02-15T10:00:00Z
        assignedTo: 123e4567-e89b-12d3-a456-426614174000
    TaskCreated:
      summary: Successfully created task
      description: Response after successful task creation
      value:
        id: 987fcdeb-51a2-43d1-9c4e-123456789abc
        title: Implement user authentication
        description: Implement JWT-based authentication with role-based access control
        status: TODO
        priority: HIGH
        dueDate: 2024-02-15T10:00:00Z
        assignedTo: 123e4567-e89b-12d3-a456-426614174000
        createdAt: 2024-01-15T14:30:00Z
        updatedAt: 2024-01-15T14:30:00Z
        createdBy: 456e7890-e12b-34d5-a678-901234567def
  parameters:
    ApiVersion:
      name: X-API-Version
      in: header
      description: API version specification
      required: false
      schema:
        type: string
        default: v1
        enum:
          - v1
      example: v1
    RequestId:
      name: X-Request-ID
      in: header
      description: Unique request identifier for distributed tracing
      required: false
      schema:
        type: string
        format: uuid
      example: req-123e4567-e89b-12d3-a456-426614174000
  headers:
    RequestId:
      description: Request correlation identifier
      schema:
        type: string
        format: uuid
      example: req-123e4567-e89b-12d3-a456-426614174000
    RateLimitLimit:
      description: Maximum number of requests allowed per time window
      schema:
        type: integer
      example: 100
    RateLimitRemaining:
      description: Number of requests remaining in current time window
      schema:
        type: integer
      example: 99
    RateLimitReset:
      description: Unix timestamp when the rate limit window resets
      schema:
        type: integer
      example: 1705329000
tags:
  - name: Tasks
    description: |
      Task management operations
      
      ## Overview
      The Tasks API provides endpoints for creating, managing, and tracking tasks within the enterprise system.
      All operations require proper authentication and authorization.
      
      ## Security
      - JWT Bearer token authentication required
      - Role-based access control (RBAC)
      - Rate limiting: 100 requests per minute per user
      - Comprehensive input validation and sanitization
      
      ## Business Rules
      - Tasks must have valid title, status, and priority
      - Due dates must be in the future
      - Users can have maximum 50 active assigned tasks
      - All operations are audited for compliance
  - name: Health
    description: |
      Service health monitoring
      
      ## Overview
      Health check endpoints for monitoring service availability and dependency status.
      Used by load balancers, monitoring systems, and operational teams.
      
      ## Usage
      - No authentication required
      - Lightweight endpoint for frequent polling
      - Returns dependency health status
      - Used for automated failover decisions
externalDocs:
  description: Complete API Documentation and Developer Guide
  url: https://docs.taskmanagement.company.com/api/v1