openapi: 3.0.3
info:
  title: Document Upload Interface with Quality Validation System
  description: |
    Comprehensive API for document upload interface with intelligent quality validation,
    multi-step form processing, and core component library integration.
    
    This API provides:
    - Intelligent document capture with camera guidance
    - Real-time quality validation and feedback
    - Multi-step form session management
    - Secure document upload and processing
    - Component library metadata access
    - User profile management
    - System health monitoring
    
    ## Security
    All endpoints (except health check) require Bearer token authentication.
    Documents are encrypted at rest using AES-256 and transmitted over TLS 1.3.
    
    ## Rate Limiting
    - Authentication: 10 requests/minute per IP
    - Document Upload: 5 uploads/minute per user
    - Document Validation: 20 validations/minute per user
    - General API: 1000 requests/hour per user
    
    ## Compliance
    - GDPR compliant with right to be forgotten
    - PCI-DSS Level 1 compliant
    - ISO 27001 certified
    - WCAG 2.1 AA accessible
  version: 1.0.0
  contact:
    name: API Support
    url: https://api.tasheel.com/support
    email: api-support@tasheel.com
  license:
    name: Proprietary
    url: https://tasheel.com/license
  termsOfService: https://tasheel.com/terms

servers:
  - url: https://api.tasheel.com/v1
    description: Production server
  - url: https://staging-api.tasheel.com/v1
    description: Staging server
  - url: https://dev-api.tasheel.com/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  # Authentication Endpoints
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User Login
      description: Authenticate user credentials and receive JWT access token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              standard_login:
                summary: Standard login
                value:
                  email: user@example.com
                  password: SecurePass123!
                  remember_me: false
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh Token
      description: Refresh expired JWT token using refresh token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Form Session Management
  /forms/sessions:
    post:
      tags:
        - Form Sessions
      summary: Create Form Session
      description: Initialize a new multi-step form session
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFormSessionRequest'
      responses:
        '201':
          description: Form session created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /forms/sessions/{session_id}:
    get:
      tags:
        - Form Sessions
      summary: Get Form Session
      description: Retrieve current form session state and data
      parameters:
        - $ref: '#/components/parameters/SessionId'
      responses:
        '200':
          description: Form session retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSessionDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    put:
      tags:
        - Form Sessions
      summary: Update Form Session
      description: Update form session with step data and progress
      parameters:
        - $ref: '#/components/parameters/SessionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFormSessionRequest'
      responses:
        '200':
          description: Form session updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFormSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Document Upload Endpoints
  /documents/upload:
    post:
      tags:
        - Documents
      summary: Upload Document
      description: Upload document with quality validation and processing
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentUploadRequest'
      responses:
        '201':
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUploadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /documents/{document_id}:
    get:
      tags:
        - Documents
      summary: Get Document Status
      description: Retrieve document processing status and validation results
      parameters:
        - $ref: '#/components/parameters/DocumentId'
      responses:
        '200':
          description: Document status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    delete:
      tags:
        - Documents
      summary: Delete Document
      description: Securely delete uploaded document with cryptographic erasure
      parameters:
        - $ref: '#/components/parameters/DocumentId'
      responses:
        '200':
          description: Document deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDeleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /documents/validate:
    post:
      tags:
        - Documents
      summary: Validate Document Quality
      description: Real-time document quality validation without permanent upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DocumentValidationRequest'
      responses:
        '200':
          description: Document validation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentValidationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Component Library Endpoints
  /components/metadata:
    get:
      tags:
        - Component Library
      summary: Get Component Metadata
      description: Retrieve available UI components and their configurations
      security: []
      responses:
        '200':
          description: Component metadata retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentMetadataResponse'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # User Management Endpoints
  /users/profile:
    get:
      tags:
        - User Management
      summary: Get User Profile
      description: Retrieve current user profile information
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    put:
      tags:
        - User Management
      summary: Update User Profile
      description: Update user profile information and preferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserProfileRequest'
      responses:
        '200':
          description: User profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # System Health and Monitoring
  /health:
    get:
      tags:
        - System Health
      summary: Health Check
      description: System health status and service availability
      security: []
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '503':
          description: System is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Bearer token authentication

  parameters:
    SessionId:
      name: session_id
      in: path
      required: true
      description: Unique form session identifier
      schema:
        type: string
        format: uuid
        example: 550e8400-e29b-41d4-a716-446655440000
    
    DocumentId:
      name: document_id
      in: path
      required: true
      description: Unique document identifier
      schema:
        type: string
        format: uuid
        example: 550e8400-e29b-41d4-a716-446655440001

  schemas:
    # Authentication Schemas
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
        password:
          type: string
          format: password
          minLength: 8
          description: User password (minimum 8 characters)
          example: SecurePass123!
        device_id:
          type: string
          description: Optional device identifier for tracking
          example: device_12345
        remember_me:
          type: boolean
          default: false
          description: Extend session duration
          example: false

    LoginResponse:
      type: object
      required:
        - access_token
        - refresh_token
        - token_type
        - expires_in
        - user
      properties:
        access_token:
          type: string
          description: JWT access token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        refresh_token:
          type: string
          description: Refresh token for token renewal
          example: refresh_token_12345
        token_type:
          type: string
          enum: [Bearer]
          description: Token type
          example: Bearer
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 86400
        user:
          $ref: '#/components/schemas/User'

    RefreshTokenRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          description: Valid refresh token
          example: refresh_token_12345

    RefreshTokenResponse:
      type: object
      required:
        - access_token
        - token_type
        - expires_in
      properties:
        access_token:
          type: string
          description: New JWT access token
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        token_type:
          type: string
          enum: [Bearer]
          description: Token type
          example: Bearer
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 86400

    # User Schemas
    User:
      type: object
      required:
        - id
        - email
        - name
        - role
      properties:
        id:
          type: string
          format: uuid
          description: Unique user identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
        name:
          type: string
          description: User full name
          example: John Doe
        role:
          type: string
          enum: [user, admin, moderator]
          description: User role
          example: user

    UserProfileResponse:
      type: object
      required:
        - id
        - email
        - name
        - role
        - created_at
        - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: Unique user identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
        name:
          type: string
          description: User full name
          example: John Doe
        phone:
          type: string
          description: User phone number
          example: +1234567890
        role:
          type: string
          enum: [user, admin, moderator]
          description: User role
          example: user
        preferences:
          $ref: '#/components/schemas/UserPreferences'
        created_at:
          type: string
          format: date-time
          description: Account creation timestamp
          example: 2024-01-01T00:00:00Z
        updated_at:
          type: string
          format: date-time
          description: Last profile update timestamp
          example: 2024-01-15T10:30:00Z
        last_login:
          type: string
          format: date-time
          description: Last login timestamp
          example: 2024-01-15T09:00:00Z

    UpdateUserProfileRequest:
      type: object
      properties:
        name:
          type: string
          description: User full name
          example: John Doe
        phone:
          type: string
          description: User phone number
          example: +1234567890
        preferences:
          $ref: '#/components/schemas/UserPreferences'

    UserPreferences:
      type: object
      properties:
        language:
          type: string
          enum: [en, ar]
          description: Preferred language
          example: en
        theme:
          type: string
          enum: [light, dark, auto]
          description: UI theme preference
          example: light
        notifications:
          type: object
          description: Notification preferences
          properties:
            email:
              type: boolean
              example: true
            push:
              type: boolean
              example: false
            sms:
              type: boolean
              example: false

    # Form Session Schemas
    CreateFormSessionRequest:
      type: object
      required:
        - form_type
      properties:
        form_type:
          type: string
          enum: [document_upload, application, verification]
          description: Type of form session
          example: document_upload
        initial_data:
          type: object
          description: Optional initial form data
          example: {"user_id": "12345"}
        metadata:
          type: object
          description: Optional session metadata
          example: {"source": "mobile_app"}

    FormSessionResponse:
      type: object
      required:
        - session_id
        - form_type
        - current_step
        - total_steps
        - completion_percentage
        - expires_at
        - created_at
      properties:
        session_id:
          type: string
          format: uuid
          description: Unique session identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        form_type:
          type: string
          enum: [document_upload, application, verification]
          description: Type of form session
          example: document_upload
        current_step:
          type: string
          description: Current form step identifier
          example: document_capture
        total_steps:
          type: integer
          description: Total number of steps in form
          example: 5
        completion_percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Form completion percentage
          example: 20.0
        expires_at:
          type: string
          format: date-time
          description: Session expiration timestamp
          example: 2024-01-15T12:00:00Z
        created_at:
          type: string
          format: date-time
          description: Session creation timestamp
          example: 2024-01-15T10:00:00Z

    FormSessionDetailResponse:
      allOf:
        - $ref: '#/components/schemas/FormSessionResponse'
        - type: object
          properties:
            form_data:
              type: object
              description: Current form data
              example: {"step1": {"name": "John"}, "step2": {"email": "john@example.com"}}
            validation_state:
              type: object
              description: Form validation state
              example: {"step1": {"valid": true}, "step2": {"valid": false, "errors": ["Invalid email"]}}
            updated_at:
              type: string
              format: date-time
              description: Last update timestamp
              example: 2024-01-15T10:30:00Z

    UpdateFormSessionRequest:
      type: object
      required:
        - step_id
        - step_data
        - is_complete
      properties:
        step_id:
          type: string
          description: Step identifier being updated
          example: document_capture
        step_data:
          type: object
          description: Step data to save
          example: {"document_type": "passport", "quality_score": 95}
        is_complete:
          type: boolean
          description: Whether step is complete
          example: true
        validation_errors:
          type: array
          items:
            type: string
          description: Validation errors for the step
          example: ["Document quality too low"]

    UpdateFormSessionResponse:
      type: object
      required:
        - session_id
        - current_step
        - completion_percentage
        - is_valid
        - updated_at
      properties:
        session_id:
          type: string
          format: uuid
          description: Session identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        current_step:
          type: string
          description: Current step after update
          example: review
        next_step:
          type: string
          description: Next step identifier
          example: submit
        completion_percentage:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Updated completion percentage
          example: 80.0
        is_valid:
          type: boolean
          description: Whether current form state is valid
          example: true
        validation_errors:
          type: array
          items:
            type: string
          description: Current validation errors
          example: []
        updated_at:
          type: string
          format: date-time
          description: Update timestamp
          example: 2024-01-15T10:35:00Z

    # Document Schemas
    DocumentUploadRequest:
      type: object
      required:
        - file
        - session_id
        - document_type
      properties:
        file:
          type: string
          format: binary
          description: Document file (max 10MB, formats: jpg, png, pdf)
        session_id:
          type: string
          format: uuid
          description: Associated form session ID
          example: 550e8400-e29b-41d4-a716-446655440000
        document_type:
          type: string
          enum: [passport, id_card, driver_license, utility_bill]
          description: Type of document being uploaded
          example: passport
        metadata:
          type: string
          description: Optional metadata as JSON string
          example: '{"page_number": 1, "orientation": "portrait"}'

    DocumentUploadResponse:
      type: object
      required:
        - document_id
        - session_id
        - document_type
        - original_filename
        - file_size
        - upload_status
        - quality_score
        - validation_result
        - uploaded_at
      properties:
        document_id:
          type: string
          format: uuid
          description: Unique document identifier
          example: 550e8400-e29b-41d4-a716-446655440001
        session_id:
          type: string
          format: uuid
          description: Associated session identifier
          example: 550e8400-e29b-41d4-a716-446655440000
        document_type:
          type: string
          enum: [passport, id_card, driver_license, utility_bill]
          description: Document type
          example: passport
        original_filename:
          type: string
          description: Original uploaded filename
          example: passport_scan.jpg
        file_size:
          type: integer
          description: File size in bytes
          example: 2048576
        upload_status:
          type: string
          enum: [uploaded, processing, validated, rejected]
          description: Current upload status
          example: validated
        quality_score:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Document quality score
          example: 95.5
        validation_result:
          $ref: '#/components/schemas/ValidationResult'
        uploaded_at:
          type: string
          format: date-time
          description: Upload timestamp
          example: 2024-01-15T10:40:00Z

    DocumentStatusResponse:
      allOf:
        - $ref: '#/components/schemas/DocumentUploadResponse'
        - type: object
          properties:
            metadata:
              type: object
              description: Document metadata
              example: {"page_number": 1, "orientation": "portrait"}
            validated_at:
              type: string
              format: date-time
              description: Validation completion timestamp
              example: 2024-01-15T10:42:00Z

    DocumentDeleteResponse:
      type: object
      required:
        - document_id
        - deleted
        - deleted_at
        - message
      properties:
        document_id:
          type: string
          format: uuid
          description: Deleted document identifier
          example: 550e8400-e29b-41d4-a716-446655440001
        deleted:
          type: boolean
          description: Deletion success status
          example: true
        deleted_at:
          type: string
          format: date-time
          description: Deletion timestamp
          example: 2024-01-15T11:00:00Z
        message:
          type: string
          description: Deletion confirmation message
          example: Document securely deleted with cryptographic erasure

    DocumentValidationRequest:
      type: object
      required:
        - file
      properties:
        file:
          type: string
          format: binary
          description: Document file for validation (max 5MB)
        document_type:
          type: string
          enum: [passport, id_card, driver_license, utility_bill]
          description: Expected document type (optional)
          example: passport

    DocumentValidationResponse:
      type: object
      required:
        - validation_id
        - quality_score
        - is_valid
        - confidence
        - detected_type
        - quality_checks
        - suggestions
        - processing_time
      properties:
        validation_id:
          type: string
          format: uuid
          description: Unique validation identifier
          example: 550e8400-e29b-41d4-a716-446655440002
        quality_score:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Overall quality score
          example: 87.5
        is_valid:
          type: boolean
          description: Whether document meets quality standards
          example: true
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Validation confidence level
          example: 0.92
        detected_type:
          type: string
          description: Detected document type
          example: passport
        quality_checks:
          $ref: '#/components/schemas/QualityChecks'
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/QualitySuggestion'
          description: Improvement suggestions
        processing_time:
          type: integer
          description: Processing time in milliseconds
          example: 1250

    ValidationResult:
      type: object
      required:
        - is_valid
        - confidence
        - detected_type
        - quality_checks
        - suggestions
      properties:
        is_valid:
          type: boolean
          description: Whether document is valid
          example: true
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Validation confidence
          example: 0.95
        detected_type:
          type: string
          description: Detected document type
          example: passport
        quality_checks:
          $ref: '#/components/schemas/QualityChecks'
        suggestions:
          type: array
          items:
            type: string
          description: Quality improvement suggestions
          example: ["Ensure document is fully visible", "Improve lighting conditions"]

    QualityChecks:
      type: object
      required:
        - brightness
        - contrast
        - blur
        - completeness
      properties:
        brightness:
          $ref: '#/components/schemas/QualityCheck'
        contrast:
          $ref: '#/components/schemas/QualityCheck'
        blur:
          $ref: '#/components/schemas/QualityCheck'
        completeness:
          $ref: '#/components/schemas/QualityCheck'

    QualityCheck:
      type: object
      required:
        - status
        - score
        - message
      properties:
        status:
          type: string
          enum: [pass, fail, warning]
          description: Quality check status
          example: pass
        score:
          type: number
          format: float
          minimum: 0
          maximum: 100
          description: Quality score for this check
          example: 85.0
        message:
          type: string
          description: Quality check message
          example: Document brightness is optimal

    QualitySuggestion:
      type: object
      required:
        - type
        - message
        - priority
      properties:
        type:
          type: string
          enum: [lighting, positioning, focus, cropping]
          description: Suggestion category
          example: lighting
        message:
          type: string
          description: Improvement suggestion
          example: Increase lighting to improve document visibility
        priority:
          type: string
          enum: [high, medium, low]
          description: Suggestion priority
          example: medium

    # Component Library Schemas
    ComponentMetadataResponse:
      type: object
      required:
        - components
        - themes
      properties:
        components:
          type: array
          items:
            $ref: '#/components/schemas/ComponentMetadata'
          description: Available UI components
        themes:
          type: array
          items:
            $ref: '#/components/schemas/ThemeMetadata'
          description: Available themes

    ComponentMetadata:
      type: object
      required:
        - name
        - version
        - category
        - states
        - props
        - accessibility_features
        - browser_support
      properties:
        name:
          type: string
          description: Component name
          example: Button
        version:
          type: string
          description: Component version
          example: 1.2.0
        category:
          type: string
          enum: [input, button, navigation, feedback, layout]
          description: Component category
          example: button
        states:
          type: array
          items:
            type: string
          description: Available component states
          example: [default, hover, focus, active, disabled, loading, error, success]
        props:
          type: object
          description: Component properties
          example: {"size": "string", "variant": "string", "disabled": "boolean"}
        accessibility_features:
          type: array
          items:
            type: string
          description: Accessibility features
          example: ["keyboard_navigation", "screen_reader_support", "high_contrast"]
        browser_support:
          type: object
          description: Browser compatibility
          example: {"chrome": ">=90", "firefox": ">=88", "safari": ">=14"}

    ThemeMetadata:
      type: object
      required:
        - name
        - description
        - variables
      properties:
        name:
          type: string
          description: Theme name
          example: default
        description:
          type: string
          description: Theme description
          example: Default light theme with blue accents
        variables:
          type: object
          description: Theme variables
          example: {"primary_color": "#007bff", "secondary_color": "#6c757d"}

    # System Health Schemas
    HealthCheckResponse:
      type: object
      required:
        - status
        - timestamp
        - version
        - services
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
          description: Overall system status
          example: healthy
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
          example: 2024-01-15T12:00:00Z
        version:
          type: string
          description: API version
          example: 1.0.0
        services:
          $ref: '#/components/schemas/ServiceStatus'

    ServiceStatus:
      type: object
      required:
        - database
        - cache
        - storage
        - validation_service
      properties:
        database:
          type: string
          enum: [up, down, degraded]
          description: Database service status
          example: up
        cache:
          type: string
          enum: [up, down, degraded]
          description: Cache service status
          example: up
        storage:
          type: string
          enum: [up, down, degraded]
          description: Storage service status
          example: up
        validation_service:
          type: string
          enum: [up, down, degraded]
          description: Document validation service status
          example: up

    # Error Schemas
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'

    ErrorDetail:
      type: object
      required:
        - code
        - message
        - timestamp
        - request_id
      properties:
        code:
          type: string
          description: Error code
          example: VALIDATION_FAILED
        message:
          type: string
          description: Human-readable error message
          example: Request validation failed
        details:
          oneOf:
            - type: string
            - type: object
          description: Additional error details
          example: Invalid email format
        timestamp:
          type: string
          format: date-time
          description: Error timestamp
          example: 2024-01-15T12:00:00Z
        request_id:
          type: string
          description: Request identifier for tracking
          example: req_12345

  responses:
    BadRequest:
      description: Bad Request - Invalid request format or parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INVALID_REQUEST
              message: Invalid request format
              details: Missing required field 'email'
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12345

    Unauthorized:
      description: Unauthorized - Invalid or missing authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: AUTHENTICATION_FAILED
              message: Invalid or expired token
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12346

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: AUTHORIZATION_FAILED
              message: Insufficient permissions to access resource
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12347

    NotFound:
      description: Not Found - Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: RESOURCE_NOT_FOUND
              message: Requested resource not found
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12348

    Conflict:
      description: Conflict - Resource conflict or constraint violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: RESOURCE_CONFLICT
              message: Resource already exists or constraint violation
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12349

    PayloadTooLarge:
      description: Payload Too Large - File size exceeds limit
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: FILE_TOO_LARGE
              message: File size exceeds maximum limit of 10MB
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12350

    UnsupportedMediaType:
      description: Unsupported Media Type - Invalid file format
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INVALID_FILE_TYPE
              message: Unsupported file format. Allowed formats: jpg, png, pdf
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12351

    UnprocessableEntity:
      description: Unprocessable Entity - Document quality below threshold
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: DOCUMENT_QUALITY_LOW
              message: Document quality below acceptable threshold
              details:
                quality_score: 45.2
                minimum_required: 70.0
                suggestions:
                  - Improve lighting conditions
                  - Ensure document is fully visible
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12352

    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per time window
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Remaining requests in current window
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Time when rate limit resets (Unix timestamp)
        Retry-After:
          schema:
            type: integer
          description: Seconds to wait before retrying
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: RATE_LIMIT_EXCEEDED
              message: Too many requests. Please try again later.
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12353

    InternalServerError:
      description: Internal Server Error - Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INTERNAL_ERROR
              message: An unexpected error occurred. Please try again later.
              timestamp: 2024-01-15T12:00:00Z
              request_id: req_12354

  headers:
    X-Request-ID:
      description: Unique request identifier for tracking
      schema:
        type: string
        example: req_12345
    
    X-RateLimit-Limit:
      description: Request limit per time window
      schema:
        type: integer
        example: 1000
    
    X-RateLimit-Remaining:
      description: Remaining requests in current window
      schema:
        type: integer
        example: 995
    
    X-RateLimit-Reset:
      description: Time when rate limit resets (Unix timestamp)
      schema:
        type: integer
        example: 1640995200

tags:
  - name: Authentication
    description: User authentication and token management
  - name: Form Sessions
    description: Multi-step form session management
  - name: Documents
    description: Document upload, validation, and management
  - name: Component Library
    description: UI component metadata and configuration
  - name: User Management
    description: User profile and preference management
  - name: System Health
    description: System health monitoring and status

externalDocs:
  description: Complete API Documentation
  url: https://docs.tasheel.com/api/v1