openapi: 3.0.3
info:
  title: Task Management API
  description: |
    Enterprise Task Management API for creating, managing, and tracking tasks.
    
    This API provides comprehensive task management capabilities with enterprise-grade
    security, validation, and compliance features.
    
    **Key Features:**
    - JWT-based authentication
    - Comprehensive input validation
    - Business rule enforcement
    - Audit logging
    - Rate limiting
    - GDPR compliance
    
    **ADR Reference:** DEMO-2350
  version: 1.0.0
  contact:
    name: API Support Team
    email: api-support@company.com
  license:
    name: Proprietary
    url: https://company.com/license
  termsOfService: https://company.com/terms

servers:
  - url: https://api.taskmanagement.company.com/v1
    description: Production server
  - url: https://staging-api.taskmanagement.company.com/v1
    description: Staging server
  - url: https://dev-api.taskmanagement.company.com/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  /api/tasks:
    post:
      summary: Create a new task
      description: |
        Creates a new task with comprehensive validation and business logic enforcement.
        
        **Business Rules:**
        - Title is mandatory and cannot exceed 255 characters
        - Due date must be in the future
        - Status must be valid enum value
        - All inputs are validated and sanitized
        
        **Security:**
        - Requires valid JWT authentication token
        - Rate limited to 100 requests per minute per user
        - Input validation prevents SQL injection and XSS
        
        **Compliance:**
        - All operations are audit logged
        - GDPR compliant data handling
      operationId: createTask
      tags:
        - Tasks
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                value:
                  title: "Complete API documentation"
                  status: "TODO"
              detailed_task:
                summary: Detailed task with all fields
                value:
                  title: "Complete API documentation"
                  description: "Write comprehensive API documentation including examples and error codes"
                  status: "TODO"
                  due_date: "2024-12-31T23:59:59Z"
                  priority: "MEDIUM"
                  tags: ["documentation", "api", "urgent"]
              assigned_task:
                summary: Task with assignment
                value:
                  title: "Review code changes"
                  description: "Review and approve the latest code changes in the repository"
                  status: "TODO"
                  due_date: "2024-02-15T17:00:00Z"
                  assigned_to: "550e8400-e29b-41d4-a716-446655440000"
                  priority: "HIGH"
                  tags: ["review", "code"]
      responses:
        '201':
          description: Task created successfully
          headers:
            Location:
              description: URL of the created task
              schema:
                type: string
                format: uri
              example: "/api/tasks/123e4567-e89b-12d3-a456-426614174000"
            X-RateLimit-Remaining:
              description: Number of requests remaining in the current window
              schema:
                type: integer
              example: 99
            X-Correlation-ID:
              description: Unique request correlation ID for tracing
              schema:
                type: string
                format: uuid
              example: "abc123-def456-ghi789"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              examples:
                created_task:
                  summary: Successfully created task
                  value:
                    id: "123e4567-e89b-12d3-a456-426614174000"
                    title: "Complete API documentation"
                    description: "Write comprehensive API documentation including examples and error codes"
                    status: "TODO"
                    due_date: "2024-12-31T23:59:59Z"
                    created_at: "2024-01-15T10:30:00Z"
                    updated_at: "2024-01-15T10:30:00Z"
                    created_by: "550e8400-e29b-41d4-a716-446655440000"
                    assigned_to: null
                    priority: "MEDIUM"
                    tags: ["documentation", "api"]
        '400':
          description: Bad Request - Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                validation_errors:
                  summary: Multiple validation errors
                  value:
                    error: "Validation Error"
                    message: "Request validation failed"
                    statusCode: 400
                    timestamp: "2024-01-15T10:30:00Z"
                    path: "/api/tasks"
                    details:
                      - field: "title"
                        message: "title should not be empty"
                        value: ""
                      - field: "status"
                        message: "status must be one of: TODO, IN_PROGRESS, DONE"
                        value: "INVALID_STATUS"
        '401':
          description: Unauthorized - Invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Missing or invalid token
                  value:
                    error: "Unauthorized"
                    message: "Invalid or missing authentication token"
                    statusCode: 401
                    timestamp: "2024-01-15T10:30:00Z"
                    path: "/api/tasks"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error: "Forbidden"
                    message: "Insufficient permissions to create tasks"
                    statusCode: 403
                    timestamp: "2024-01-15T10:30:00Z"
                    path: "/api/tasks"
        '409':
          description: Conflict - Task with similar title already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorResponse'
              examples:
                conflict:
                  summary: Duplicate task title
                  value:
                    error: "Conflict"
                    message: "Task with similar title already exists for this user"
                    statusCode: 409
                    timestamp: "2024-01-15T10:30:00Z"
                    path: "/api/tasks"
                    conflictingResource:
                      id: "existing-task-uuid"
                      title: "Conflicting task title"
        '422':
          description: Unprocessable Entity - Business logic validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessRuleErrorResponse'
              examples:
                business_rule_violation:
                  summary: Due date in the past
                  value:
                    error: "Unprocessable Entity"
                    message: "Business rule validation failed"
                    statusCode: 422
                    timestamp: "2024-01-15T10:30:00Z"
                    path: "/api/tasks"
                    businessRuleViolations:
                      - rule: "DUE_DATE_FUTURE"
                        message: "Due date must be in the future"
                        field: "due_date"
                        value: "2023-12-31T23:59:59Z"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
              example: 60
            X-RateLimit-Limit:
              description: Request limit per window
              schema:
                type: integer
              example: 100
            X-RateLimit-Remaining:
              description: Requests remaining in current window
              schema:
                type: integer
              example: 0
            X-RateLimit-Reset:
              description: Time when the rate limit resets
              schema:
                type: integer
                format: int64
              example: 1642248660
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitErrorResponse'
              examples:
                rate_limit_exceeded:
                  summary: Rate limit exceeded
                  value:
                    error: "Too Many Requests"
                    message: "Rate limit exceeded. Maximum 100 requests per minute."
                    statusCode: 429
                    timestamp: "2024-01-15T10:30:00Z"
                    path: "/api/tasks"
                    retryAfter: 60
        '500':
          description: Internal Server Error - Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalErrorResponse'
              examples:
                internal_error:
                  summary: Unexpected server error
                  value:
                    error: "Internal Server Error"
                    message: "An unexpected error occurred"
                    statusCode: 500
                    timestamp: "2024-01-15T10:30:00Z"
                    path: "/api/tasks"
                    correlationId: "abc123-def456-ghi789"

  /health:
    get:
      summary: Health check endpoint
      description: Basic health check to verify API availability
      operationId: healthCheck
      tags:
        - Health
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "healthy"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-15T10:30:00Z"
                  version:
                    type: string
                    example: "1.0.0"

  /health/ready:
    get:
      summary: Readiness probe endpoint
      description: Kubernetes readiness probe to check if the service is ready to accept traffic
      operationId: readinessCheck
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ready"
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        example: "connected"
                      authentication:
                        type: string
                        example: "available"
        '503':
          description: Service is not ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "not_ready"
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        example: "disconnected"

  /health/live:
    get:
      summary: Liveness probe endpoint
      description: Kubernetes liveness probe to check if the service is alive
      operationId: livenessCheck
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "alive"
                  uptime:
                    type: number
                    example: 3600.5

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. 
        
        **Token Requirements:**
        - Valid JWT token issued by the authentication service
        - Token expiration: 1 hour maximum
        - Include in Authorization header as: `Bearer <token>`
        
        **Security Features:**
        - Token validation on every request
        - Role-based access control (RBAC)
        - Automatic token refresh mechanism available

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
        - status
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Task title (required)
          example: "Complete API documentation"
          pattern: "^[\s\S]*\S[\s\S]*$"
        description:
          type: string
          maxLength: 2000
          description: Detailed task description (optional)
          example: "Write comprehensive API documentation including examples and error codes"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "DONE"]
          description: Current task status
          example: "TODO"
        due_date:
          type: string
          format: date-time
          description: Task due date (ISO 8601 format, must be future date)
          example: "2024-12-31T23:59:59Z"
        assigned_to:
          type: string
          format: uuid
          description: UUID of assigned user (optional)
          example: "550e8400-e29b-41d4-a716-446655440000"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority level
          example: "MEDIUM"
          default: "MEDIUM"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
            pattern: "^[a-zA-Z0-9_-]+$"
          maxItems: 10
          uniqueItems: true
          description: Task tags for categorization
          example: ["documentation", "api", "urgent"]
      additionalProperties: false

    TaskResponse:
      type: object
      required:
        - id
        - title
        - status
        - created_at
        - updated_at
        - created_by
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
          readOnly: true
        title:
          type: string
          description: Task title
          example: "Complete API documentation"
        description:
          type: string
          nullable: true
          description: Task description
          example: "Write comprehensive API documentation including examples and error codes"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "DONE"]
          description: Current task status
          example: "TODO"
        due_date:
          type: string
          format: date-time
          nullable: true
          description: Task due date
          example: "2024-12-31T23:59:59Z"
        created_at:
          type: string
          format: date-time
          description: Task creation timestamp
          example: "2024-01-15T10:30:00Z"
          readOnly: true
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T10:30:00Z"
          readOnly: true
        created_by:
          type: string
          format: uuid
          description: UUID of user who created the task
          example: "550e8400-e29b-41d4-a716-446655440000"
          readOnly: true
        assigned_to:
          type: string
          format: uuid
          nullable: true
          description: UUID of assigned user
          example: "550e8400-e29b-41d4-a716-446655440000"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority level
          example: "MEDIUM"
        tags:
          type: array
          items:
            type: string
          description: Task tags
          example: ["documentation", "api", "urgent"]
      additionalProperties: false

    ErrorResponse:
      type: object
      required:
        - error
        - message
        - statusCode
        - timestamp
        - path
      properties:
        error:
          type: string
          description: Error type
          example: "Unauthorized"
        message:
          type: string
          description: Human-readable error message
          example: "Invalid or missing authentication token"
        statusCode:
          type: integer
          description: HTTP status code
          example: 401
        timestamp:
          type: string
          format: date-time
          description: Error occurrence timestamp
          example: "2024-01-15T10:30:00Z"
        path:
          type: string
          description: Request path that caused the error
          example: "/api/tasks"
      additionalProperties: false

    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            details:
              type: array
              items:
                type: object
                required:
                  - field
                  - message
                properties:
                  field:
                    type: string
                    description: Field that failed validation
                    example: "title"
                  message:
                    type: string
                    description: Validation error message
                    example: "title should not be empty"
                  value:
                    description: Invalid value that was provided
                    example: ""
              description: Detailed validation errors

    ConflictErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            conflictingResource:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  description: ID of the conflicting resource
                  example: "existing-task-uuid"
                title:
                  type: string
                  description: Title of the conflicting resource
                  example: "Conflicting task title"
              description: Information about the conflicting resource

    BusinessRuleErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            businessRuleViolations:
              type: array
              items:
                type: object
                required:
                  - rule
                  - message
                  - field
                properties:
                  rule:
                    type: string
                    description: Business rule that was violated
                    example: "DUE_DATE_FUTURE"
                  message:
                    type: string
                    description: Business rule violation message
                    example: "Due date must be in the future"
                  field:
                    type: string
                    description: Field that violated the business rule
                    example: "due_date"
                  value:
                    description: Value that violated the business rule
                    example: "2023-12-31T23:59:59Z"
              description: Business rule violations

    RateLimitErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            retryAfter:
              type: integer
              description: Number of seconds to wait before retrying
              example: 60

    InternalErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            correlationId:
              type: string
              description: Unique correlation ID for error tracking
              example: "abc123-def456-ghi789"

  parameters:
    CorrelationId:
      name: X-Correlation-ID
      in: header
      description: Unique request correlation ID for distributed tracing
      required: false
      schema:
        type: string
        format: uuid
      example: "abc123-def456-ghi789"

    RequestId:
      name: X-Request-ID
      in: header
      description: Unique request identifier
      required: false
      schema:
        type: string
        format: uuid
      example: "def456-ghi789-jkl012"

  responses:
    UnauthorizedError:
      description: Authentication token is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ForbiddenError:
      description: Insufficient permissions to perform the operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'

    RateLimitError:
      description: Rate limit exceeded
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying
          schema:
            type: integer
        X-RateLimit-Limit:
          description: Request limit per window
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: Requests remaining in current window
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitErrorResponse'

    InternalServerError:
      description: Unexpected server error occurred
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InternalErrorResponse'

  examples:
    BasicTaskCreation:
      summary: Basic task creation example
      description: Minimal required fields for task creation
      value:
        title: "Complete project documentation"
        status: "TODO"

    DetailedTaskCreation:
      summary: Detailed task creation example
      description: Task creation with all optional fields
      value:
        title: "Implement user authentication"
        description: "Implement JWT-based authentication system with role-based access control"
        status: "TODO"
        due_date: "2024-03-15T17:00:00Z"
        assigned_to: "550e8400-e29b-41d4-a716-446655440000"
        priority: "HIGH"
        tags: ["authentication", "security", "backend"]

    HighPriorityTask:
      summary: High priority task example
      description: Critical task with urgent priority
      value:
        title: "Fix security vulnerability"
        description: "Address critical security vulnerability in authentication module"
        status: "TODO"
        due_date: "2024-01-20T12:00:00Z"
        priority: "CRITICAL"
        tags: ["security", "urgent", "bug"]

tags:
  - name: Tasks
    description: |
      Task management operations
      
      **Features:**
      - Create tasks with comprehensive validation
      - Business rule enforcement
      - Audit logging for compliance
      - Rate limiting for security
      
      **Security:**
      - JWT authentication required
      - Role-based access control
      - Input validation and sanitization
  - name: Health
    description: |
      Health check and monitoring endpoints
      
      **Features:**
      - Basic health check
      - Kubernetes readiness probe
      - Kubernetes liveness probe
      - Dependency health monitoring

externalDocs:
  description: |
    Additional documentation and resources
    
    **Architecture Documentation:**
    - High-Level Design Document
    - API Contract Outline
    - Non-Functional Requirements
    
    **ADR Reference:** DEMO-2350
  url: https://docs.company.com/task-management-api

# OpenAPI Extensions for Enterprise Features
x-api-governance:
  version: "1.0"
  compliance:
    - GDPR
    - ISO27001
    - SOC2
  security-requirements:
    - JWT authentication
    - Rate limiting
    - Input validation
    - Audit logging
  performance-requirements:
    response-time: "200ms (95th percentile)"
    throughput: "1000 RPS"
    availability: "99.99%"

x-adr-reference:
  id: "DEMO-2350"
  title: "Task Management API - Task Creation Endpoint"
  status: "Implemented"
  components:
    - TaskController
    - CreateTaskDto
    - TaskService
    - Task Repository

x-traceability:
  requirements:
    - "REQ-TASK-001: Task creation functionality"
    - "REQ-VAL-001: Input validation requirements"
    - "REQ-SEC-001: Authentication requirements"
    - "REQ-AUD-001: Audit logging requirements"
  test-cases:
    - "TC001_CreateTaskSuccess"
    - "TC002_ValidationErrors"
    - "TC003_BusinessRules"
    - "TC004_ErrorResponses"

x-monitoring:
  metrics:
    - "task_creation_requests_total"
    - "task_creation_duration_seconds"
    - "task_creation_errors_total"
  alerts:
    - "High error rate (>1%)"
    - "High response time (>500ms)"
    - "Rate limit violations"
  dashboards:
    - "Task Management API Overview"
    - "Task Creation Performance"
    - "Security Metrics"