openapi: 3.0.3
info:
  title: Task Management API
  description: |
    Enterprise Task Management API for creating and managing tasks with real-time synchronization capabilities.
    
    This API provides comprehensive task creation functionality with enterprise-grade security, validation, 
    and compliance features. All operations require JWT authentication and follow RBAC principles.
    
    **Key Features:**
    - Real-time task creation with WebSocket synchronization
    - Comprehensive input validation and business rule enforcement
    - Enterprise security with JWT authentication and RBAC
    - Audit logging and compliance tracking
    - Rate limiting and DDoS protection
    
    **ADR Reference:** DEMO-2350
  version: 1.0.0
  contact:
    name: API Support Team
    email: api-support@company.com
    url: https://docs.taskmanagement.company.com
  license:
    name: Proprietary
    url: https://company.com/license
  termsOfService: https://company.com/terms

servers:
  - url: https://api.taskmanagement.company.com/v1
    description: Production server
  - url: https://api-staging.taskmanagement.company.com/v1
    description: Staging server
  - url: https://api-dev.taskmanagement.company.com/v1
    description: Development server

security:
  - bearerAuth: []

paths:
  /api/tasks:
    post:
      summary: Create a new task
      description: |
        Creates a new task in the system with comprehensive validation and business rule enforcement.
        
        **Business Rules:**
        - Title is required and must be between 1-200 characters
        - Due date must be in the future (at least 1 hour from now)
        - Assigned user must be active and have appropriate permissions
        - HIGH and CRITICAL priority tasks require manager approval
        - Tags are automatically normalized (lowercased and deduplicated)
        
        **Security Features:**
        - JWT token validation required
        - RBAC permission checks
        - Input sanitization and XSS protection
        - Rate limiting (100 requests/minute per user)
        - Audit logging for compliance
        
        **Performance:**
        - Target response time: <200ms
        - Real-time synchronization: <500ms
        - Supports up to 1000 RPS
      operationId: createTask
      tags:
        - Tasks
      requestBody:
        required: true
        description: Task creation request with validation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                description: Example of creating a basic task with minimal required fields
                value:
                  title: "Implement user authentication"
                  priority: "HIGH"
              detailed_task:
                summary: Detailed task with all fields
                description: Example of creating a comprehensive task with all optional fields
                value:
                  title: "Implement JWT-based authentication system"
                  description: "Implement comprehensive JWT-based authentication with role-based access control, token refresh, and security audit logging"
                  priority: "HIGH"
                  status: "TODO"
                  dueDate: "2024-12-31T23:59:59Z"
                  assignedTo: "550e8400-e29b-41d4-a716-446655440000"
                  tags: ["authentication", "security", "backend", "jwt"]
      responses:
        '201':
          description: Task created successfully
          headers:
            X-Correlation-ID:
              description: Request correlation ID for tracing
              schema:
                type: string
                format: uuid
            X-Response-Time:
              description: Response processing time in milliseconds
              schema:
                type: integer
            X-Rate-Limit-Limit:
              description: Rate limit maximum requests per minute
              schema:
                type: integer
                example: 100
            X-Rate-Limit-Remaining:
              description: Remaining requests in current window
              schema:
                type: integer
            X-Rate-Limit-Reset:
              description: Rate limit window reset time
              schema:
                type: string
                format: date-time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskSuccessResponse'
              examples:
                success_response:
                  summary: Successful task creation response
                  value:
                    success: true
                    data:
                      id: "123e4567-e89b-12d3-a456-426614174000"
                      title: "Implement user authentication"
                      description: "Implement JWT-based authentication system with role-based access control"
                      priority: "HIGH"
                      status: "TODO"
                      dueDate: "2024-12-31T23:59:59Z"
                      assignedTo: "550e8400-e29b-41d4-a716-446655440000"
                      createdBy: "660e8400-e29b-41d4-a716-446655440001"
                      tags: ["authentication", "security", "backend"]
                      createdAt: "2024-01-15T10:30:00Z"
                      updatedAt: "2024-01-15T10:30:00Z"
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
        '400':
          description: Bad Request - Validation errors or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  summary: Validation error example
                  value:
                    success: false
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Request validation failed"
                      details:
                        - field: "title"
                          message: "Title is required and cannot be empty"
                          value: ""
                        - field: "dueDate"
                          message: "Due date cannot be in the past"
                          value: "2023-01-01T00:00:00Z"
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
                malformed_request:
                  summary: Malformed JSON request
                  value:
                    success: false
                    error:
                      code: "MALFORMED_REQUEST"
                      message: "Invalid JSON format in request body"
                      details: []
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
        '401':
          description: Unauthorized - Authentication required or token invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_token:
                  summary: Missing authentication token
                  value:
                    success: false
                    error:
                      code: "UNAUTHORIZED"
                      message: "Authentication required. Please provide a valid Bearer token."
                      details: []
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
                invalid_token:
                  summary: Invalid or expired token
                  value:
                    success: false
                    error:
                      code: "INVALID_TOKEN"
                      message: "The provided authentication token is invalid or expired."
                      details: []
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                insufficient_permissions:
                  summary: Insufficient permissions to create tasks
                  value:
                    success: false
                    error:
                      code: "FORBIDDEN"
                      message: "Insufficient permissions to create tasks"
                      details:
                        - requiredPermission: "task:create"
                          userRole: "readonly"
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
        '409':
          description: Conflict - Duplicate task or business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicate_task:
                  summary: Duplicate task detected
                  value:
                    success: false
                    error:
                      code: "DUPLICATE_TASK"
                      message: "A task with similar title already exists for this user"
                      details:
                        - existingTaskId: "123e4567-e89b-12d3-a456-426614174000"
                          conflictReason: "Title similarity > 90%"
                          similarityScore: 0.95
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
        '422':
          description: Unprocessable Entity - Business rule validation failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                business_rule_violation:
                  summary: Business rule validation failure
                  value:
                    success: false
                    error:
                      code: "BUSINESS_RULE_VIOLATION"
                      message: "HIGH priority tasks require manager approval"
                      details:
                        - rule: "HIGH_PRIORITY_APPROVAL"
                          message: "Tasks with HIGH or CRITICAL priority require manager approval before creation"
                          requiredAction: "Obtain manager approval or reduce priority level"
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            X-Rate-Limit-Limit:
              description: Rate limit maximum requests per minute
              schema:
                type: integer
                example: 100
            X-Rate-Limit-Remaining:
              description: Remaining requests in current window
              schema:
                type: integer
                example: 0
            X-Rate-Limit-Reset:
              description: Rate limit window reset time
              schema:
                type: string
                format: date-time
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                rate_limit_exceeded:
                  summary: Rate limit exceeded
                  value:
                    success: false
                    error:
                      code: "RATE_LIMIT_EXCEEDED"
                      message: "Rate limit exceeded. Maximum 100 requests per minute allowed."
                      details:
                        - limit: 100
                          remaining: 0
                          resetTime: "2024-01-15T10:31:00Z"
                          retryAfter: 60
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
        '500':
          description: Internal Server Error - Unexpected system error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    success: false
                    error:
                      code: "INTERNAL_SERVER_ERROR"
                      message: "An unexpected error occurred. Please try again later."
                      details: []
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"
        '503':
          description: Service Unavailable - System maintenance or overload
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
                example: 300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                service_unavailable:
                  summary: Service temporarily unavailable
                  value:
                    success: false
                    error:
                      code: "SERVICE_UNAVAILABLE"
                      message: "Service is temporarily unavailable due to maintenance. Please try again later."
                      details:
                        - maintenanceWindow: "2024-01-15T02:00:00Z to 2024-01-15T04:00:00Z"
                        - estimatedRestoration: "2024-01-15T04:00:00Z"
                    metadata:
                      correlationId: "abc12345-def6-7890-ghij-klmnopqrstuv"
                      timestamp: "2024-01-15T10:30:00Z"
                      version: "1.0.0"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. Include the token in the Authorization header as:
        `Authorization: Bearer <token>`
        
        **Token Requirements:**
        - Valid JWT format with required claims
        - Token expiry: Maximum 24 hours
        - Refresh required every 12 hours
        - Must include user ID, roles, and permissions

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
        - priority
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          pattern: '^[^\s].*[^\s]$|^[^\s]$'
          description: |
            Task title (required). Must be between 1-200 characters.
            Leading and trailing whitespace will be trimmed.
            HTML tags will be stripped for security.
          example: "Implement user authentication"
        description:
          type: string
          maxLength: 2000
          description: |
            Detailed task description (optional). Maximum 2000 characters.
            HTML tags will be stripped and content will be sanitized.
            Supports markdown formatting.
          example: "Implement JWT-based authentication system with role-based access control, token refresh mechanisms, and comprehensive security audit logging"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: |
            Task priority level (required). Case-insensitive input, stored as uppercase.
            
            **Priority Levels:**
            - LOW: Standard tasks, no special handling
            - MEDIUM: Important tasks, normal processing
            - HIGH: Urgent tasks, requires manager approval
            - CRITICAL: Emergency tasks, requires immediate manager approval
          example: "HIGH"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "REVIEW", "DONE"]
          default: "TODO"
          description: |
            Initial task status (optional, defaults to TODO).
            
            **Status Values:**
            - TODO: Task created, ready to start
            - IN_PROGRESS: Task is being worked on
            - REVIEW: Task completed, awaiting review
            - DONE: Task completed and approved
          example: "TODO"
        dueDate:
          type: string
          format: date-time
          description: |
            Task due date in ISO 8601 format (optional).
            Must be at least 1 hour in the future.
            Timezone will be converted to UTC for storage.
          example: "2024-12-31T23:59:59Z"
        assignedTo:
          type: string
          format: uuid
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
          description: |
            UUID of the user assigned to the task (optional).
            User must be active and have appropriate permissions.
            Foreign key reference to users table.
          example: "550e8400-e29b-41d4-a716-446655440000"
        tags:
          type: array
          maxItems: 10
          uniqueItems: true
          items:
            type: string
            maxLength: 50
            pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9]$|^[a-zA-Z0-9]$'
            description: |
              Individual tag (alphanumeric and hyphens only).
              Tags are automatically normalized (lowercased and deduplicated).
          description: |
            Array of task tags for categorization and filtering (optional).
            Maximum 10 tags, each up to 50 characters.
            Tags are automatically lowercased and deduplicated.
          example: ["authentication", "security", "backend", "jwt"]
      additionalProperties: false
      example:
        title: "Implement user authentication"
        description: "Implement JWT-based authentication system with RBAC"
        priority: "HIGH"
        status: "TODO"
        dueDate: "2024-12-31T23:59:59Z"
        assignedTo: "550e8400-e29b-41d4-a716-446655440000"
        tags: ["authentication", "security", "backend"]

    TaskData:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier (UUID v4)
          example: "123e4567-e89b-12d3-a456-426614174000"
          readOnly: true
        title:
          type: string
          description: Task title
          example: "Implement user authentication"
        description:
          type: string
          nullable: true
          description: Task description
          example: "Implement JWT-based authentication system with role-based access control"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority level
          example: "HIGH"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "REVIEW", "DONE"]
          description: Current task status
          example: "TODO"
        dueDate:
          type: string
          format: date-time
          nullable: true
          description: Task due date (ISO 8601 format)
          example: "2024-12-31T23:59:59Z"
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: UUID of assigned user
          example: "550e8400-e29b-41d4-a716-446655440000"
        createdBy:
          type: string
          format: uuid
          description: UUID of user who created the task
          example: "660e8400-e29b-41d4-a716-446655440001"
          readOnly: true
        tags:
          type: array
          items:
            type: string
          description: Array of task tags
          example: ["authentication", "security", "backend"]
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp (ISO 8601 format)
          example: "2024-01-15T10:30:00Z"
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Task last update timestamp (ISO 8601 format)
          example: "2024-01-15T10:30:00Z"
          readOnly: true
      required:
        - id
        - title
        - priority
        - status
        - createdBy
        - createdAt
        - updatedAt
      additionalProperties: false

    ResponseMetadata:
      type: object
      properties:
        correlationId:
          type: string
          format: uuid
          description: |
            Request correlation ID for distributed tracing.
            Auto-generated if not provided in request headers.
          example: "abc12345-def6-7890-ghij-klmnopqrstuv"
        timestamp:
          type: string
          format: date-time
          description: Response generation timestamp (ISO 8601 format)
          example: "2024-01-15T10:30:00Z"
        version:
          type: string
          description: API version
          example: "1.0.0"
        requestId:
          type: string
          format: uuid
          description: Unique request identifier
          example: "def67890-abc1-2345-efgh-ijklmnopqrst"
        processingTime:
          type: integer
          description: Request processing time in milliseconds
          example: 150
          minimum: 0
      required:
        - correlationId
        - timestamp
        - version
      additionalProperties: false

    TaskSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates successful operation
          example: true
          enum: [true]
        data:
          $ref: '#/components/schemas/TaskData'
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
      required:
        - success
        - data
        - metadata
      additionalProperties: false

    ErrorDetail:
      type: object
      properties:
        field:
          type: string
          description: Field name that caused the error (for validation errors)
          example: "title"
        message:
          type: string
          description: Detailed error message
          example: "Title is required and cannot be empty"
        value:
          description: Invalid value that caused the error
          example: ""
        code:
          type: string
          description: Specific error code for programmatic handling
          example: "FIELD_REQUIRED"
      additionalProperties: true

    ErrorInfo:
      type: object
      properties:
        code:
          type: string
          description: |
            Error code for programmatic handling.
            
            **Common Error Codes:**
            - VALIDATION_ERROR: Input validation failure
            - UNAUTHORIZED: Authentication required or failed
            - FORBIDDEN: Insufficient permissions
            - DUPLICATE_TASK: Task already exists
            - BUSINESS_RULE_VIOLATION: Business logic violation
            - RATE_LIMIT_EXCEEDED: Too many requests
            - INTERNAL_SERVER_ERROR: Unexpected system error
            - SERVICE_UNAVAILABLE: System maintenance or overload
          example: "VALIDATION_ERROR"
        message:
          type: string
          description: Human-readable error message
          example: "Request validation failed"
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Array of detailed error information
        helpUrl:
          type: string
          format: uri
          description: URL to documentation or help for this error
          example: "https://docs.taskmanagement.company.com/errors/validation"
      required:
        - code
        - message
        - details
      additionalProperties: false

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Indicates failed operation
          example: false
          enum: [false]
        error:
          $ref: '#/components/schemas/ErrorInfo'
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'
      required:
        - success
        - error
        - metadata
      additionalProperties: false

  parameters:
    CorrelationId:
      name: X-Correlation-ID
      in: header
      required: false
      description: |
        Request correlation ID for distributed tracing.
        If not provided, will be auto-generated.
      schema:
        type: string
        format: uuid
      example: "abc12345-def6-7890-ghij-klmnopqrstuv"

    RequestId:
      name: X-Request-ID
      in: header
      required: false
      description: |
        Unique request identifier for debugging.
        If not provided, will be auto-generated.
      schema:
        type: string
        format: uuid
      example: "def67890-abc1-2345-efgh-ijklmnopqrst"

    UserAgent:
      name: User-Agent
      in: header
      required: false
      description: Client application identifier
      schema:
        type: string
      example: "TaskManagementApp/1.0.0 (Web)"

  responses:
    UnauthorizedError:
      description: Authentication required or token invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ForbiddenError:
      description: Insufficient permissions for the requested operation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimitError:
      description: Rate limit exceeded
      headers:
        X-Rate-Limit-Limit:
          description: Rate limit maximum requests per minute
          schema:
            type: integer
        X-Rate-Limit-Remaining:
          description: Remaining requests in current window
          schema:
            type: integer
        X-Rate-Limit-Reset:
          description: Rate limit window reset time
          schema:
            type: string
            format: date-time
        Retry-After:
          description: Seconds to wait before retrying
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  headers:
    X-Correlation-ID:
      description: Request correlation ID for tracing
      schema:
        type: string
        format: uuid

    X-Response-Time:
      description: Response processing time in milliseconds
      schema:
        type: integer
        minimum: 0

    X-Rate-Limit-Limit:
      description: Rate limit maximum requests per minute
      schema:
        type: integer

    X-Rate-Limit-Remaining:
      description: Remaining requests in current window
      schema:
        type: integer
        minimum: 0

    X-Rate-Limit-Reset:
      description: Rate limit window reset time
      schema:
        type: string
        format: date-time

tags:
  - name: Tasks
    description: |
      Task management operations including creation, retrieval, updating, and deletion.
      
      **Key Features:**
      - Real-time synchronization across all connected clients
      - Comprehensive validation and business rule enforcement
      - Audit logging for compliance and security
      - Role-based access control (RBAC)
      - Rate limiting and DDoS protection
    externalDocs:
      description: Task Management Documentation
      url: https://docs.taskmanagement.company.com/tasks

externalDocs:
  description: |
    Complete API Documentation and Developer Guide
    
    **Additional Resources:**
    - Authentication Guide: https://docs.taskmanagement.company.com/auth
    - Rate Limiting Guide: https://docs.taskmanagement.company.com/rate-limits
    - Error Handling Guide: https://docs.taskmanagement.company.com/errors
    - SDK Downloads: https://docs.taskmanagement.company.com/sdks
    - Postman Collection: https://docs.taskmanagement.company.com/postman
  url: https://docs.taskmanagement.company.com

# OpenAPI Extensions for tooling and documentation
x-tagGroups:
  - name: Core Operations
    tags:
      - Tasks

x-servers:
  - url: https://api.taskmanagement.company.com/v1
    description: Production Environment
    variables:
      environment:
        default: prod
        enum: [prod, staging, dev]

x-security-requirements:
  - authentication: JWT Bearer Token Required
  - authorization: RBAC Permissions Required
  - rateLimit: 100 requests per minute per user
  - encryption: TLS 1.3 minimum

x-compliance:
  - GDPR: Data protection and privacy controls
  - SOX: Financial data handling compliance
  - ISO27001: Information security management
  - OWASP: Security best practices implementation

x-performance:
  - responseTime: <200ms (95th percentile)
  - throughput: 1000+ RPS
  - availability: 99.99% uptime
  - scalability: Auto-scaling enabled

x-monitoring:
  - metrics: Real-time performance monitoring
  - logging: Structured JSON logs with correlation IDs
  - tracing: Distributed tracing enabled
  - alerting: Real-time error and performance alerts