openapi: 3.0.3
info:
  title: Youth Account Management System API
  description: |
    API for managing youth accounts, fund transfers, spending limits, and transaction history.
    This system enables parents to allocate and manage funds for their children's accounts 
    while maintaining visibility and control over spending.
    
    ## Key Features
    - Youth account dashboard with balance and spending information
    - Fund transfer capabilities from parent to youth accounts
    - Configurable spending limits with real-time enforcement
    - Comprehensive transaction history with filtering
    - Real-time balance updates and notifications
    
    ## Authentication
    This API uses OAuth 2.0 with JWT Bearer tokens for authentication.
    All requests must include a valid JWT token in the Authorization header.
    
    ## Rate Limiting
    - General API: 1000 requests per hour per user
    - Fund Transfer: 10 requests per hour per user
    - Dashboard: 100 requests per hour per user
    - Transaction History: 50 requests per hour per user
    
    ## Traceability
    This API implements requirements from SCIB-26, SCIB-27, SCIB-28, SCIB-29, SCIB-30
  version: 1.0.0
  contact:
    name: API Support
    email: api-support@scib.com
  license:
    name: Proprietary
    url: https://scib.com/license
servers:
  - url: https://api.scib.com/v1
    description: Production server
  - url: https://api-staging.scib.com/v1
    description: Staging server
  - url: https://api-dev.scib.com/v1
    description: Development server

security:
  - BearerAuth: []
  - OAuth2: [read, write]

paths:
  /youth-accounts/{youthAccountId}/dashboard:
    get:
      tags:
        - Youth Account Dashboard
      summary: Get youth account dashboard
      description: |
        Retrieve consolidated youth account information including balance, 
        spending limit, and recent transactions.
        
        **Traceability**: SCIB-26
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Unique identifier for the youth account
          schema:
            type: string
            pattern: '^YTH-[0-9]{6}$'
            example: YTH-456789
        - name: X-Request-ID
          in: header
          required: true
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Youth account dashboard data retrieved successfully
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Request limit per hour
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Remaining requests in current window
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Time when rate limit resets (Unix timestamp)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
              example:
                youthAccountId: YTH-456789
                accountBalance: 150.00
                spendingLimit: 100.00
                currentWeekSpent: 25.00
                remainingLimit: 75.00
                currency: USD
                weekStartDate: '2024-01-15'
                recentTransactions:
                  - transactionId: TXN-001
                    date: '2024-01-16T10:30:00Z'
                    description: Coffee Shop Purchase
                    merchant: Starbucks
                    amount: -5.50
                    transactionType: debit
                    status: completed
                accountStatus: active
                lastUpdated: '2024-01-16T15:45:00Z'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags:
        - Fund Transfer
      summary: Transfer funds to youth account
      description: |
        Transfer funds from parent account to youth account.
        
        **Traceability**: SCIB-27
      operationId: transferFunds
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Target youth account identifier
          schema:
            type: string
            pattern: '^YTH-[0-9]{6}$'
            example: YTH-456789
        - name: X-Request-ID
          in: header
          required: true
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
            example:
              sourceAccountId: ACC-789012
              transferAmount: 25.00
              currency: USD
              description: Weekly allowance
              transferType: allowance
      responses:
        '200':
          description: Fund transfer completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
              example:
                transferId: TRF-98765
                status: SUCCESS
                sourceAccountId: ACC-789012
                targetAccountId: YTH-456789
                transferAmount: 25.00
                currency: USD
                updatedYouthBalance: 175.00
                updatedParentBalance: 4975.00
                transactionDate: '2024-01-16T15:45:00Z'
                description: Weekly allowance
                processingTime: '0.245s'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'