openapi: 3.0.3
info:
  title: Youth Account Management System API
  description: |
    RESTful API for the Youth Account Management System that enables parents to allocate and manage funds for their children's accounts while maintaining visibility and control over spending.
  version: 1.0.0
  contact:
    name: SCIB API Support
    email: api-support@scib.com
servers:
  - url: https://api.scib.com/v1
    description: Production server
security:
  - BearerAuth: []
paths:
  /youth-accounts/{youthAccountId}/dashboard:
    get:
      tags:
        - Youth Account Dashboard
      summary: Get youth account dashboard
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Unique identifier for the youth account
          schema:
            type: string
            pattern: '^YTH-[0-9]{6}$'
            example: YTH-456789
        - name: X-Request-ID
          in: header
          required: true
          description: Unique request identifier for tracing
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Youth account dashboard data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    YouthAccountDashboard:
      type: object
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currentWeekSpent
        - remainingLimit
        - currency
      properties:
        youthAccountId:
          type: string
          example: YTH-456789
        accountBalance:
          type: number
          format: decimal
          example: 150.00
        spendingLimit:
          type: number
          format: decimal
          example: 100.00
        currentWeekSpent:
          type: number
          format: decimal
          example: 25.00
        remainingLimit:
          type: number
          format: decimal
          example: 75.00
        currency:
          type: string
          example: USD
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Invalid request format
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: Authentication required