openapi: 3.0.3
info:
  title: Task Creation API
  description: |
    Enterprise Task Management API for creating and managing tasks with comprehensive validation, 
    business logic processing, and enterprise-grade security.
    
    This API implements the requirements from ADR DEMO-2350 including:
    - TaskController with POST /api/tasks endpoint
    - CreateTaskDto with comprehensive validation decorators
    - TaskService business logic with data sanitization
    - Proper HTTP status codes and error handling
    - OpenAPI documentation generation
    - Due date validation preventing past dates
    
    ## Security
    - JWT Bearer token authentication required
    - Role-based access control (RBAC)
    - TLS 1.3 encryption for data in transit
    - Input validation and sanitization
    - Rate limiting per user
    
    ## Compliance
    - GDPR data minimization principles
    - ISO 27001 security controls
    - PCI-DSS compliance (if applicable)
    - SOC 2 Type II controls
    - OWASP Top 10 mitigation
  version: 1.0.0
  contact:
    name: API Support Team
    email: api-support@company.com
  license:
    name: Enterprise License
    url: https://company.com/licenses/enterprise
  termsOfService: https://company.com/terms
servers:
  - url: https://api.company.com/v1
    description: Production server
  - url: https://staging-api.company.com/v1
    description: Staging server
  - url: https://dev-api.company.com/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  /api/tasks:
    post:
      tags:
        - Tasks
      summary: Create a new task
      description: |
        Creates a new task with comprehensive validation and business logic processing.
        
        **Business Rules:**
        - Title is required and cannot be empty (max 255 characters)
        - Due date must be in the future
        - Status must be one of: TODO, IN_PROGRESS, DONE
        - Priority defaults to MEDIUM if not specified
        - Assigned user must exist and be active
        - Maximum 10 tags per task
        
        **Validation:**
        - Input sanitization to prevent XSS attacks
        - SQL injection prevention through parameterized queries
        - UUID format validation for user IDs
        - Date string validation for due dates
        
        **Rate Limiting:** 100 requests per minute per user
      operationId: createTask
      security:
        - BearerAuth: []
      parameters:
        - name: X-Request-ID
          in: header
          description: Optional request correlation ID
          required: false
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440003"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                value:
                  title: "Implement user authentication"
                  description: "Implement JWT-based authentication with role-based access control"
                  status: "TODO"
                  dueDate: "2024-12-31T23:59:59.000Z"
                  priority: "HIGH"
                  tags: ["backend", "security", "authentication"]
              minimal_task:
                summary: Minimal required fields
                value:
                  title: "Review code changes"
                  status: "TODO"
                  dueDate: "2024-06-30T17:00:00.000Z"
              assigned_task:
                summary: Task with assignment
                value:
                  title: "Database optimization"
                  description: "Optimize slow queries and add indexes"
                  status: "IN_PROGRESS"
                  dueDate: "2024-07-15T12:00:00.000Z"
                  assignedTo: "550e8400-e29b-41d4-a716-446655440001"
                  priority: "CRITICAL"
                  tags: ["database", "performance"]
      responses:
        '201':
          description: Task created successfully
          headers:
            Location:
              description: URL of the created task
              schema:
                type: string
                format: uri
                example: "/api/tasks/550e8400-e29b-41d4-a716-446655440000"
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              example:
                success: true
                data:
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  title: "Implement user authentication"
                  description: "Implement JWT-based authentication with role-based access control"
                  status: "TODO"
                  dueDate: "2024-12-31T23:59:59.000Z"
                  assignedTo: "550e8400-e29b-41d4-a716-446655440001"
                  priority: "HIGH"
                  tags: ["backend", "security", "authentication"]
                  createdAt: "2024-01-15T10:30:00.000Z"
                  updatedAt: "2024-01-15T10:30:00.000Z"
                  createdBy: "550e8400-e29b-41d4-a716-446655440002"
                  version: 1
                message: "Task created successfully"
                timestamp: "2024-01-15T10:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440003"
        '400':
          description: Bad Request - Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                validation_error:
                  summary: Multiple validation errors
                  value:
                    success: false
                    data: null
                    message: "Validation failed"
                    errors:
                      - field: "title"
                        message: "Title is required and cannot be empty"
                        code: "REQUIRED_FIELD"
                      - field: "dueDate"
                        message: "Due date cannot be in the past"
                        code: "INVALID_DATE"
                    timestamp: "2024-01-15T10:30:00.000Z"
                    requestId: "550e8400-e29b-41d4-a716-446655440003"
                title_too_long:
                  summary: Title length validation error
                  value:
                    success: false
                    data: null
                    message: "Validation failed"
                    errors:
                      - field: "title"
                        message: "Title must not exceed 255 characters"
                        code: "MAX_LENGTH_EXCEEDED"
                    timestamp: "2024-01-15T10:30:00.000Z"
                    requestId: "550e8400-e29b-41d4-a716-446655440003"
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                data: null
                message: "Authentication required"
                error:
                  code: "UNAUTHORIZED"
                  description: "Valid JWT token required"
                timestamp: "2024-01-15T10:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440003"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                data: null
                message: "Insufficient permissions"
                error:
                  code: "FORBIDDEN"
                  description: "User does not have permission to create tasks"
                timestamp: "2024-01-15T10:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440003"
        '409':
          description: Conflict - Duplicate task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictErrorResponse'
              example:
                success: false
                data: null
                message: "Task with similar title already exists"
                error:
                  code: "DUPLICATE_TASK"
                  description: "A task with the same title already exists for this user"
                  conflictingTaskId: "550e8400-e29b-41d4-a716-446655440004"
                timestamp: "2024-01-15T10:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440003"
        '422':
          description: Unprocessable Entity - Business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessRuleErrorResponse'
              example:
                success: false
                data: null
                message: "Business rule violation"
                error:
                  code: "BUSINESS_RULE_VIOLATION"
                  description: "Cannot assign task to inactive user"
                  details:
                    assignedUserId: "550e8400-e29b-41d4-a716-446655440001"
                    userStatus: "INACTIVE"
                timestamp: "2024-01-15T10:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440003"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
                example: 60
            X-RateLimit-Limit:
              description: Request limit per window
              schema:
                type: integer
                example: 100
            X-RateLimit-Remaining:
              description: Remaining requests in current window
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Time when rate limit resets (Unix timestamp)
              schema:
                type: integer
                example: 1642248660
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitErrorResponse'
              example:
                success: false
                data: null
                message: "Rate limit exceeded"
                error:
                  code: "RATE_LIMIT_EXCEEDED"
                  description: "Maximum 100 requests per minute exceeded"
                  retryAfter: 60
                timestamp: "2024-01-15T10:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440003"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                data: null
                message: "Internal server error"
                error:
                  code: "INTERNAL_ERROR"
                  description: "An unexpected error occurred. Please try again later."
                timestamp: "2024-01-15T10:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440003"
    
    get:
      tags:
        - Tasks
      summary: List tasks with filtering and pagination
      description: |
        Retrieves a paginated list of tasks with filtering and sorting options.
        
        **Features:**
        - Pagination support (page, limit)
        - Filtering by status, assignedTo, priority
        - Sorting by multiple fields
        - Search functionality
        
        **Rate Limiting:** 200 requests per minute per user
      operationId: listTasks
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number for pagination
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
            example: 1
        - name: limit
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: status
          in: query
          description: Filter by task status
          required: false
          schema:
            $ref: '#/components/schemas/TaskStatus'
        - name: assignedTo
          in: query
          description: Filter by assigned user ID
          required: false
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440001"
        - name: priority
          in: query
          description: Filter by priority level
          required: false
          schema:
            $ref: '#/components/schemas/TaskPriority'
        - name: sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
            enum: ["createdAt", "updatedAt", "dueDate", "priority", "title"]
            default: "createdAt"
            example: "createdAt"
        - name: sortOrder
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: ["asc", "desc"]
            default: "desc"
            example: "desc"
      responses:
        '200':
          description: Tasks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'
              example:
                success: true
                data:
                  tasks:
                    - id: "550e8400-e29b-41d4-a716-446655440000"
                      title: "Implement user authentication"
                      status: "IN_PROGRESS"
                      dueDate: "2024-12-31T23:59:59.000Z"
                      priority: "HIGH"
                      assignedTo: "550e8400-e29b-41d4-a716-446655440001"
                      createdAt: "2024-01-15T10:30:00.000Z"
                      updatedAt: "2024-01-16T14:20:00.000Z"
                  pagination:
                    currentPage: 1
                    totalPages: 5
                    totalItems: 87
                    itemsPerPage: 20
                    hasNextPage: true
                    hasPreviousPage: false
                message: "Tasks retrieved successfully"
                timestamp: "2024-01-16T15:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440006"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/tasks/{id}:
    get:
      tags:
        - Tasks
      summary: Get task by ID
      description: |
        Retrieves a specific task by its unique identifier.
        
        **Security:**
        - User can only access tasks they created or are assigned to
        - Administrators can access all tasks
        
        **Rate Limiting:** 300 requests per minute per user
      operationId: getTaskById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Unique task identifier
          required: true
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: Task retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              example:
                success: true
                data:
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  title: "Implement user authentication"
                  description: "Implement JWT-based authentication with role-based access control"
                  status: "IN_PROGRESS"
                  dueDate: "2024-12-31T23:59:59.000Z"
                  assignedTo: "550e8400-e29b-41d4-a716-446655440001"
                  priority: "HIGH"
                  tags: ["backend", "security", "authentication"]
                  createdAt: "2024-01-15T10:30:00.000Z"
                  updatedAt: "2024-01-16T14:20:00.000Z"
                  createdBy: "550e8400-e29b-41d4-a716-446655440002"
                  version: 2
                message: "Task retrieved successfully"
                timestamp: "2024-01-16T15:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440005"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: Task not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                success: false
                data: null
                message: "Task not found"
                error:
                  code: "TASK_NOT_FOUND"
                  description: "No task found with the provided ID"
                timestamp: "2024-01-16T15:30:00.000Z"
                requestId: "550e8400-e29b-41d4-a716-446655440005"
        '500':
          $ref: '#/components/responses/InternalServerError'

  /health/live:
    get:
      tags:
        - Health
      summary: Liveness probe
      description: |
        Kubernetes liveness probe endpoint to check if the application is running.
        Returns 200 if the application is alive, 503 if not.
      operationId: livenessCheck
      security: []
      responses:
        '200':
          description: Application is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "UP"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-16T15:30:00.000Z"
        '503':
          description: Application is not responding
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "DOWN"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-16T15:30:00.000Z"

  /health/ready:
    get:
      tags:
        - Health
      summary: Readiness probe
      description: |
        Kubernetes readiness probe endpoint to check if the application is ready to serve traffic.
        Checks database connectivity and other critical dependencies.
      operationId: readinessCheck
      security: []
      responses:
        '200':
          description: Application is ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "UP"
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        example: "UP"
                      authService:
                        type: string
                        example: "UP"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-16T15:30:00.000Z"
        '503':
          description: Application is not ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "DOWN"
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        example: "DOWN"
                      authService:
                        type: string
                        example: "UP"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-01-16T15:30:00.000Z"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. 
        
        **Token Format:** `Authorization: Bearer <jwt_token>`
        
        **Token Expiry:** 1 hour
        
        **Refresh:** Use separate refresh token endpoint
        
        **Claims Required:**
        - `sub`: User ID (UUID)
        - `email`: User email
        - `roles`: Array of user roles
        - `iat`: Issued at timestamp
        - `exp`: Expiration timestamp

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
        - status
        - dueDate
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Task title (required, non-empty, max 255 characters)
          example: "Implement user authentication"
          pattern: "^[\\s\\S]*\\S[\\s\\S]*$"
        description:
          type: string
          maxLength: 1000
          nullable: true
          description: Detailed task description (optional, max 1000 characters)
          example: "Implement JWT-based authentication with role-based access control"
        status:
          $ref: '#/components/schemas/TaskStatus'
        dueDate:
          type: string
          format: date-time
          description: |
            Task due date in ISO 8601 format. Must be in the future.
            
            **Validation Rules:**
            - Must be a valid ISO 8601 date-time string
            - Must be in the future (past dates rejected)
            - Timezone information is preserved
          example: "2024-12-31T23:59:59.000Z"
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: |
            UUID of the assigned user (optional).
            
            **Business Rules:**
            - User must exist in the system
            - User must be active
            - User must have appropriate permissions
          example: "550e8400-e29b-41d4-a716-446655440000"
        priority:
          $ref: '#/components/schemas/TaskPriority'
        tags:
          type: array
          items:
            type: string
            maxLength: 50
            pattern: "^[a-zA-Z0-9_-]+$"
          maxItems: 10
          nullable: true
          description: |
            Task tags for categorization (optional, max 10 tags).
            
            **Tag Rules:**
            - Each tag max 50 characters
            - Alphanumeric, underscore, hyphen only
            - Case sensitive
            - No duplicates allowed
          example: ["backend", "security", "authentication"]
      additionalProperties: false

    Task:
      type: object
      required:
        - id
        - title
        - status
        - dueDate
        - createdAt
        - updatedAt
        - createdBy
        - version
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier (UUID v4)
          example: "550e8400-e29b-41d4-a716-446655440000"
          readOnly: true
        title:
          type: string
          maxLength: 255
          description: Task title
          example: "Implement user authentication"
        description:
          type: string
          maxLength: 1000
          nullable: true
          description: Task description
          example: "Implement JWT-based authentication with role-based access control"
        status:
          $ref: '#/components/schemas/TaskStatus'
        dueDate:
          type: string
          format: date-time
          description: Task due date in ISO 8601 format
          example: "2024-12-31T23:59:59.000Z"
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: Assigned user ID
          example: "550e8400-e29b-41d4-a716-446655440001"
        priority:
          $ref: '#/components/schemas/TaskPriority'
        tags:
          type: array
          items:
            type: string
          nullable: true
          description: Task tags
          example: ["backend", "security", "authentication"]
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-01-15T10:30:00.000Z"
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T10:30:00.000Z"
          readOnly: true
        createdBy:
          type: string
          format: uuid
          description: Creator user ID
          example: "550e8400-e29b-41d4-a716-446655440002"
          readOnly: true
        version:
          type: integer
          minimum: 1
          description: Entity version for optimistic locking
          example: 1
          readOnly: true
      additionalProperties: false

    TaskStatus:
      type: string
      enum: ["TODO", "IN_PROGRESS", "DONE"]
      description: |
        Current task status.
        
        **Status Transitions:**
        - TODO → IN_PROGRESS
        - IN_PROGRESS → DONE
        - IN_PROGRESS → TODO (rollback)
        - DONE → IN_PROGRESS (reopen)
      example: "TODO"

    TaskPriority:
      type: string
      enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
      default: "MEDIUM"
      description: |
        Task priority level.
        
        **Priority Levels:**
        - LOW: Non-urgent, can be scheduled flexibly
        - MEDIUM: Standard priority (default)
        - HIGH: Important, should be prioritized
        - CRITICAL: Urgent, requires immediate attention
      example: "HIGH"

    TaskSummary:
      type: object
      required:
        - id
        - title
        - status
        - dueDate
        - priority
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
          example: "550e8400-e29b-41d4-a716-446655440000"
        title:
          type: string
          description: Task title
          example: "Implement user authentication"
        status:
          $ref: '#/components/schemas/TaskStatus'
        dueDate:
          type: string
          format: date-time
          description: Task due date
          example: "2024-12-31T23:59:59.000Z"
        priority:
          $ref: '#/components/schemas/TaskPriority'
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: Assigned user ID
          example: "550e8400-e29b-41d4-a716-446655440001"
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-01-15T10:30:00.000Z"
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-16T14:20:00.000Z"
      additionalProperties: false

    Pagination:
      type: object
      required:
        - currentPage
        - totalPages
        - totalItems
        - itemsPerPage
        - hasNextPage
        - hasPreviousPage
      properties:
        currentPage:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        totalPages:
          type: integer
          minimum: 0
          description: Total number of pages
          example: 5
        totalItems:
          type: integer
          minimum: 0
          description: Total number of items
          example: 87
        itemsPerPage:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of items per page
          example: 20
        hasNextPage:
          type: boolean
          description: Whether there is a next page
          example: true
        hasPreviousPage:
          type: boolean
          description: Whether there is a previous page
          example: false
      additionalProperties: false

    BaseResponse:
      type: object
      required:
        - success
        - message
        - timestamp
        - requestId
      properties:
        success:
          type: boolean
          description: Indicates if the request was successful
          example: true
        message:
          type: string
          description: Human-readable message
          example: "Operation completed successfully"
        timestamp:
          type: string
          format: date-time
          description: Response timestamp in ISO 8601 format
          example: "2024-01-15T10:30:00.000Z"
        requestId:
          type: string
          format: uuid
          description: Unique request identifier for tracing
          example: "550e8400-e29b-41d4-a716-446655440003"
      additionalProperties: false

    TaskResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          required:
            - data
          properties:
            data:
              $ref: '#/components/schemas/Task'

    TaskListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          required:
            - data
          properties:
            data:
              type: object
              required:
                - tasks
                - pagination
              properties:
                tasks:
                  type: array
                  items:
                    $ref: '#/components/schemas/TaskSummary'
                  description: Array of task summaries
                pagination:
                  $ref: '#/components/schemas/Pagination'
              additionalProperties: false

    ErrorResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          required:
            - data
            - error
          properties:
            success:
              type: boolean
              enum: [false]
              description: Always false for error responses
            data:
              type: "null"
              description: Always null for error responses
            error:
              type: object
              required:
                - code
                - description
              properties:
                code:
                  type: string
                  description: Machine-readable error code
                  example: "VALIDATION_ERROR"
                description:
                  type: string
                  description: Human-readable error description
                  example: "The request contains invalid data"
              additionalProperties: false

    ValidationError:
      type: object
      required:
        - field
        - message
        - code
      properties:
        field:
          type: string
          description: Field name that failed validation
          example: "title"
        message:
          type: string
          description: Human-readable validation error message
          example: "Title is required and cannot be empty"
        code:
          type: string
          description: Machine-readable validation error code
          example: "REQUIRED_FIELD"
      additionalProperties: false

    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          required:
            - data
            - errors
          properties:
            success:
              type: boolean
              enum: [false]
            data:
              type: "null"
            errors:
              type: array
              items:
                $ref: '#/components/schemas/ValidationError'
              description: Array of validation errors
              minItems: 1

    ConflictErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            error:
              type: object
              required:
                - code
                - description
                - conflictingTaskId
              properties:
                code:
                  type: string
                  enum: ["DUPLICATE_TASK"]
                description:
                  type: string
                  example: "A task with the same title already exists for this user"
                conflictingTaskId:
                  type: string
                  format: uuid
                  description: ID of the conflicting task
                  example: "550e8400-e29b-41d4-a716-446655440004"

    BusinessRuleErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            error:
              type: object
              required:
                - code
                - description
                - details
              properties:
                code:
                  type: string
                  enum: ["BUSINESS_RULE_VIOLATION"]
                description:
                  type: string
                  example: "Cannot assign task to inactive user"
                details:
                  type: object
                  description: Additional context about the business rule violation
                  example:
                    assignedUserId: "550e8400-e29b-41d4-a716-446655440001"
                    userStatus: "INACTIVE"

    RateLimitErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            error:
              type: object
              required:
                - code
                - description
                - retryAfter
              properties:
                code:
                  type: string
                  enum: ["RATE_LIMIT_EXCEEDED"]
                description:
                  type: string
                  example: "Maximum 100 requests per minute exceeded"
                retryAfter:
                  type: integer
                  description: Seconds to wait before retrying
                  example: 60

  responses:
    UnauthorizedError:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            data: null
            message: "Authentication required"
            error:
              code: "UNAUTHORIZED"
              description: "Valid JWT token required"
            timestamp: "2024-01-15T10:30:00.000Z"
            requestId: "550e8400-e29b-41d4-a716-446655440003"

    ForbiddenError:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            data: null
            message: "Insufficient permissions"
            error:
              code: "FORBIDDEN"
              description: "User does not have permission to perform this action"
            timestamp: "2024-01-15T10:30:00.000Z"
            requestId: "550e8400-e29b-41d4-a716-446655440003"

    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            data: null
            message: "Internal server error"
            error:
              code: "INTERNAL_ERROR"
              description: "An unexpected error occurred. Please try again later."
            timestamp: "2024-01-15T10:30:00.000Z"
            requestId: "550e8400-e29b-41d4-a716-446655440003"

  parameters:
    TaskId:
      name: id
      in: path
      description: Unique task identifier
      required: true
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440000"

    RequestId:
      name: X-Request-ID
      in: header
      description: Optional request correlation ID
      required: false
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440003"

  examples:
    BasicTask:
      summary: Basic task creation example
      description: Example of creating a basic task with required fields
      value:
        title: "Review code changes"
        status: "TODO"
        dueDate: "2024-06-30T17:00:00.000Z"

    CompleteTask:
      summary: Complete task creation example
      description: Example of creating a task with all optional fields
      value:
        title: "Implement user authentication"
        description: "Implement JWT-based authentication with role-based access control"
        status: "TODO"
        dueDate: "2024-12-31T23:59:59.000Z"
        assignedTo: "550e8400-e29b-41d4-a716-446655440001"
        priority: "HIGH"
        tags: ["backend", "security", "authentication"]

    HighPriorityTask:
      summary: High priority task example
      description: Example of creating a critical priority task
      value:
        title: "Fix security vulnerability"
        description: "Address critical security issue in authentication module"
        status: "TODO"
        dueDate: "2024-02-01T09:00:00.000Z"
        priority: "CRITICAL"
        tags: ["security", "hotfix"]

tags:
  - name: Tasks
    description: |
      Task management operations including creation, retrieval, and listing.
      
      **Features:**
      - Create tasks with comprehensive validation
      - Retrieve individual tasks by ID
      - List tasks with filtering and pagination
      - Role-based access control
      - Audit logging for all operations
      
      **Business Rules:**
      - Tasks must have valid due dates (future dates only)
      - Users can only access tasks they created or are assigned to
      - Administrators have full access to all tasks
      - Task titles must be unique per user
      - Inactive users cannot be assigned tasks
  - name: Health
    description: |
      Health check endpoints for monitoring and orchestration.
      
      **Endpoints:**
      - Liveness probe for Kubernetes
      - Readiness probe with dependency checks
      - Detailed health information
      
      **Monitoring:**
      - Used by load balancers for traffic routing
      - Integrated with Kubernetes health checks
      - Provides dependency status information

externalDocs:
  description: |
    Additional API documentation and resources.
    
    **Resources:**
    - Developer Portal: Complete API guides and tutorials
    - Status Page: Real-time API status and incident updates
    - Support Portal: Technical support and issue tracking
    - GitHub Repository: Source code and issue tracking
  url: https://developer.company.com/apis/task-management

# OpenAPI Extensions for tooling integration
x-logo:
  url: https://company.com/assets/api-logo.png
  altText: Task Management API Logo

x-api-id: task-management-api
x-audience: internal
x-lifecycle: production
x-owner: platform-team@company.com
x-support: api-support@company.com

# Rate limiting configuration
x-rate-limits:
  - endpoint: "POST /api/tasks"
    limit: 100
    window: "1m"
    per: "user"
  - endpoint: "GET /api/tasks"
    limit: 200
    window: "1m"
    per: "user"
  - endpoint: "GET /api/tasks/{id}"
    limit: 300
    window: "1m"
    per: "user"

# Security scanning configuration
x-security:
  contact: security@company.com
  scanning:
    - sast
    - dast
    - dependency-check
  compliance:
    - gdpr
    - iso27001
    - pci-dss
    - soc2

# Monitoring and observability
x-monitoring:
  metrics:
    - request_count
    - response_time
    - error_rate
    - active_users
  alerts:
    - high_error_rate
    - slow_response_time
    - rate_limit_exceeded
  dashboards:
    - operational
    - business
    - security