openapi: 3.0.3
info:
  title: Task Management API
  description: |
    Comprehensive Task Management API System providing RESTful endpoints for creating, managing, and tracking tasks within an enterprise environment.
    
    ## Key Features
    - Task lifecycle management with proper validation
    - Enterprise-grade security and audit capabilities
    - OAuth 2.0 authentication with RBAC authorization
    - Comprehensive error handling and monitoring
    - GDPR, SOX, ISO 27001, and PCI-DSS compliance
    
    ## Architecture
    - Built with Node.js/TypeScript and PostgreSQL
    - Deployed on Kubernetes with auto-scaling
    - Real-time monitoring and audit logging
    - Multi-region deployment for high availability
    
    ## ADR Reference
    This API implements DEMO-2350: Task creation API endpoint implementation
  version: 1.0.0
  contact:
    name: API Product Manager
    email: api-support@taskmanagement.company.com
    url: https://docs.taskmanagement.company.com
  license:
    name: Proprietary
    url: https://taskmanagement.company.com/license
  termsOfService: https://taskmanagement.company.com/terms

servers:
  - url: https://api.taskmanagement.company.com/v1
    description: Production server
  - url: https://staging-api.taskmanagement.company.com/v1
    description: Staging server
  - url: https://dev-api.taskmanagement.company.com/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  /api/tasks:
    post:
      summary: Create a new task
      description: |
        Creates a new task in the system with comprehensive validation and business rule enforcement.
        
        ## Business Rules
        - Task title is mandatory and limited to 100 characters
        - Due date must be a future date (not today or past)
        - Assigned user must be active and valid
        - Status defaults to 'TODO' if not specified
        - Priority defaults to 'MEDIUM' if not specified
        
        ## Security
        - Requires valid OAuth 2.0 Bearer token
        - RBAC authorization with task creation permissions
        - Input validation and sanitization
        - Rate limiting: 100 requests per hour per user
        
        ## Audit
        - All task creation events are logged
        - Complete audit trail with user attribution
        - Compliance with GDPR, SOX, and ISO 27001
      operationId: createTask
      tags:
        - Tasks
      parameters:
        - name: X-Correlation-ID
          in: header
          description: Optional correlation ID for request tracing
          required: false
          schema:
            type: string
            format: uuid
            example: "abc123-def456-ghi789"
        - name: X-Request-ID
          in: header
          description: Optional request ID for idempotency
          required: false
          schema:
            type: string
            format: uuid
            example: "req-123e4567-e89b-12d3-a456-426614174000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                value:
                  title: "Implement user authentication"
                  description: "Implement OAuth 2.0 authentication with JWT tokens"
                  status: "TODO"
                  priority: "HIGH"
              minimal_task:
                summary: Minimal task (only required fields)
                value:
                  title: "Review code changes"
              complete_task:
                summary: Complete task with all fields
                value:
                  title: "Database migration"
                  description: "Migrate user table to new schema"
                  status: "TODO"
                  priority: "CRITICAL"
                  dueDate: "2024-12-31"
                  assignedTo: "550e8400-e29b-41d4-a716-446655440000"
      responses:
        '201':
          description: Task created successfully
          headers:
            X-Correlation-ID:
              description: Correlation ID for request tracing
              schema:
                type: string
            X-Rate-Limit-Remaining:
              description: Remaining requests in current window
              schema:
                type: integer
                example: 99
            X-Rate-Limit-Reset:
              description: Time when rate limit resets (Unix timestamp)
              schema:
                type: integer
                example: 1703001600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              examples:
                created_task:
                  summary: Successfully created task
                  value:
                    id: "123e4567-e89b-12d3-a456-426614174000"
                    title: "Implement user authentication"
                    description: "Implement OAuth 2.0 authentication with JWT tokens"
                    status: "TODO"
                    priority: "HIGH"
                    dueDate: "2024-12-31"
                    createdAt: "2024-12-19T10:30:00.000Z"
                    updatedAt: "2024-12-19T10:30:00.000Z"
                    createdBy: "550e8400-e29b-41d4-a716-446655440000"
                    assignedTo: "550e8400-e29b-41d4-a716-446655440000"
        '400':
          description: Bad Request - Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                validation_error:
                  summary: Multiple validation errors
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Request validation failed"
                      details:
                        - field: "title"
                          message: "Title is required and cannot be empty"
                          code: "REQUIRED_FIELD"
                        - field: "dueDate"
                          message: "Due date cannot be in the past"
                          code: "INVALID_DATE"
                      timestamp: "2024-12-19T10:30:00.000Z"
                      correlationId: "abc123-def456-ghi789"
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unauthorized:
                  summary: Missing or invalid token
                  value:
                    error:
                      code: "UNAUTHORIZED"
                      message: "Invalid or missing authentication token"
                      timestamp: "2024-12-19T10:30:00.000Z"
                      correlationId: "abc123-def456-ghi789"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error:
                      code: "FORBIDDEN"
                      message: "Insufficient permissions to create tasks"
                      timestamp: "2024-12-19T10:30:00.000Z"
                      correlationId: "abc123-def456-ghi789"
        '409':
          description: Conflict - Business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessRuleError'
              examples:
                business_rule_violation:
                  summary: Business rule violation
                  value:
                    error:
                      code: "BUSINESS_RULE_VIOLATION"
                      message: "Cannot assign task to inactive user"
                      details:
                        rule: "ACTIVE_USER_ASSIGNMENT"
                        violatedValue: "550e8400-e29b-41d4-a716-446655440000"
                      timestamp: "2024-12-19T10:30:00.000Z"
                      correlationId: "abc123-def456-ghi789"
        '429':
          description: Too Many Requests - Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              examples:
                rate_limit_exceeded:
                  summary: Rate limit exceeded
                  value:
                    error:
                      code: "RATE_LIMIT_EXCEEDED"
                      message: "Rate limit exceeded. Please try again later."
                      details:
                        limit: 100
                        window: "1 hour"
                        retryAfter: 3600
                      timestamp: "2024-12-19T10:30:00.000Z"
                      correlationId: "abc123-def456-ghi789"
        '500':
          description: Internal Server Error - System error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    error:
                      code: "INTERNAL_SERVER_ERROR"
                      message: "An unexpected error occurred. Please try again later."
                      timestamp: "2024-12-19T10:30:00.000Z"
                      correlationId: "abc123-def456-ghi789"

  /health:
    get:
      summary: Basic health check
      description: Returns basic system health status
      operationId: getHealth
      tags:
        - Health
      security: []
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: ["UP", "DOWN"]
                  timestamp:
                    type: string
                    format: date-time
                example:
                  status: "UP"
                  timestamp: "2024-12-19T10:30:00.000Z"

  /health/detailed:
    get:
      summary: Detailed health check
      description: Returns comprehensive system health status including dependencies
      operationId: getDetailedHealth
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Detailed system health information
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: ["UP", "DOWN", "DEGRADED"]
                  timestamp:
                    type: string
                    format: date-time
                  components:
                    type: object
                    properties:
                      database:
                        $ref: '#/components/schemas/HealthComponent'
                      authService:
                        $ref: '#/components/schemas/HealthComponent'
                      auditService:
                        $ref: '#/components/schemas/HealthComponent'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        OAuth 2.0 Bearer token authentication.
        
        ## Token Requirements
        - Valid OAuth 2.0 access token
        - Token must not be expired (max 1 hour)
        - Token must have appropriate scopes for the operation
        
        ## Token Format
        ```
        Authorization: Bearer <access_token>
        ```
        
        ## Scopes
        - `tasks:create` - Create new tasks
        - `tasks:read` - Read task information
        - `tasks:update` - Update existing tasks
        - `tasks:delete` - Delete tasks

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 100
          pattern: '^[^<>"''&]*$'
          description: |
            Task title (required)
            - Must be between 1-100 characters
            - Cannot contain HTML special characters (< > " ' &)
            - Leading/trailing whitespace will be trimmed
          example: "Implement user authentication"
        description:
          type: string
          maxLength: 500
          pattern: '^[^<>"''&]*$'
          description: |
            Detailed task description (optional)
            - Maximum 500 characters
            - Cannot contain HTML special characters (< > " ' &)
            - Leading/trailing whitespace will be trimmed
          example: "Implement OAuth 2.0 authentication with JWT tokens"
        status:
          $ref: '#/components/schemas/TaskStatus'
        priority:
          $ref: '#/components/schemas/TaskPriority'
        dueDate:
          type: string
          format: date
          description: |
            Task due date (optional)
            - Must be in ISO 8601 format (YYYY-MM-DD)
            - Must be a future date (not today or past)
            - Timezone is assumed to be UTC
          example: "2024-12-31"
        assignedTo:
          type: string
          format: uuid
          description: |
            UUID of the user assigned to the task (optional)
            - Must be a valid RFC 4122 UUID
            - User must exist and be active in the system
            - Requester must have permission to assign tasks to this user
          example: "550e8400-e29b-41d4-a716-446655440000"
      additionalProperties: false

    TaskResponse:
      type: object
      required:
        - id
        - title
        - status
        - priority
        - createdAt
        - updatedAt
        - createdBy
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier (UUID v4)
          example: "123e4567-e89b-12d3-a456-426614174000"
          readOnly: true
        title:
          type: string
          maxLength: 100
          description: Task title
          example: "Implement user authentication"
        description:
          type: string
          maxLength: 500
          nullable: true
          description: Task description
          example: "Implement OAuth 2.0 authentication with JWT tokens"
        status:
          $ref: '#/components/schemas/TaskStatus'
        priority:
          $ref: '#/components/schemas/TaskPriority'
        dueDate:
          type: string
          format: date
          nullable: true
          description: Task due date (ISO 8601 format)
          example: "2024-12-31"
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp (ISO 8601 with timezone)
          example: "2024-12-19T10:30:00.000Z"
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp (ISO 8601 with timezone)
          example: "2024-12-19T10:30:00.000Z"
          readOnly: true
        createdBy:
          type: string
          format: uuid
          description: UUID of the user who created the task
          example: "550e8400-e29b-41d4-a716-446655440000"
          readOnly: true
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: UUID of the assigned user (if any)
          example: "550e8400-e29b-41d4-a716-446655440000"
      additionalProperties: false

    TaskStatus:
      type: string
      enum:
        - TODO
        - IN_PROGRESS
        - DONE
      default: TODO
      description: |
        Task status enumeration
        - `TODO`: Task is not started (default)
        - `IN_PROGRESS`: Task is currently being worked on
        - `DONE`: Task is completed
      example: "TODO"

    TaskPriority:
      type: string
      enum:
        - LOW
        - MEDIUM
        - HIGH
        - CRITICAL
      default: MEDIUM
      description: |
        Task priority enumeration
        - `LOW`: Low priority task
        - `MEDIUM`: Medium priority task (default)
        - `HIGH`: High priority task
        - `CRITICAL`: Critical priority task requiring immediate attention
      example: "HIGH"

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: "UNAUTHORIZED"
            message:
              type: string
              description: Human-readable error message
              example: "Invalid or missing authentication token"
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp (ISO 8601)
              example: "2024-12-19T10:30:00.000Z"
            correlationId:
              type: string
              description: Correlation ID for request tracing
              example: "abc123-def456-ghi789"
          additionalProperties: false
      additionalProperties: false

    ValidationError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - timestamp
          properties:
            code:
              type: string
              enum: ["VALIDATION_ERROR"]
              description: Error code indicating validation failure
            message:
              type: string
              description: General validation error message
              example: "Request validation failed"
            details:
              type: array
              items:
                type: object
                required:
                  - field
                  - message
                  - code
                properties:
                  field:
                    type: string
                    description: Field name that failed validation
                    example: "title"
                  message:
                    type: string
                    description: Specific validation error message
                    example: "Title is required and cannot be empty"
                  code:
                    type: string
                    description: Validation error code
                    enum:
                      - REQUIRED_FIELD
                      - INVALID_LENGTH
                      - INVALID_FORMAT
                      - INVALID_DATE
                      - INVALID_ENUM
                      - INVALID_UUID
                    example: "REQUIRED_FIELD"
                additionalProperties: false
              description: Array of specific validation errors
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp (ISO 8601)
              example: "2024-12-19T10:30:00.000Z"
            correlationId:
              type: string
              description: Correlation ID for request tracing
              example: "abc123-def456-ghi789"
          additionalProperties: false
      additionalProperties: false

    BusinessRuleError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - timestamp
          properties:
            code:
              type: string
              enum: ["BUSINESS_RULE_VIOLATION"]
              description: Error code indicating business rule violation
            message:
              type: string
              description: Business rule violation message
              example: "Cannot assign task to inactive user"
            details:
              type: object
              required:
                - rule
                - violatedValue
              properties:
                rule:
                  type: string
                  description: Business rule that was violated
                  example: "ACTIVE_USER_ASSIGNMENT"
                violatedValue:
                  type: string
                  description: Value that caused the rule violation
                  example: "550e8400-e29b-41d4-a716-446655440000"
              additionalProperties: false
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp (ISO 8601)
              example: "2024-12-19T10:30:00.000Z"
            correlationId:
              type: string
              description: Correlation ID for request tracing
              example: "abc123-def456-ghi789"
          additionalProperties: false
      additionalProperties: false

    RateLimitError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - timestamp
          properties:
            code:
              type: string
              enum: ["RATE_LIMIT_EXCEEDED"]
              description: Error code indicating rate limit exceeded
            message:
              type: string
              description: Rate limit error message
              example: "Rate limit exceeded. Please try again later."
            details:
              type: object
              required:
                - limit
                - window
                - retryAfter
              properties:
                limit:
                  type: integer
                  description: Rate limit threshold
                  example: 100
                window:
                  type: string
                  description: Rate limit time window
                  example: "1 hour"
                retryAfter:
                  type: integer
                  description: Seconds to wait before retrying
                  example: 3600
              additionalProperties: false
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp (ISO 8601)
              example: "2024-12-19T10:30:00.000Z"
            correlationId:
              type: string
              description: Correlation ID for request tracing
              example: "abc123-def456-ghi789"
          additionalProperties: false
      additionalProperties: false

    HealthComponent:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          enum: ["UP", "DOWN", "DEGRADED"]
          description: Component health status
        details:
          type: object
          description: Additional component-specific details
          additionalProperties: true
        responseTime:
          type: number
          description: Component response time in milliseconds
          example: 45.2
      additionalProperties: false

tags:
  - name: Tasks
    description: |
      Task management operations
      
      ## Overview
      The Tasks API provides endpoints for creating, reading, updating, and deleting tasks within the task management system.
      
      ## Security
      All task operations require authentication and appropriate authorization.
      
      ## Rate Limiting
      - 100 requests per hour per user
      - 1000 requests per hour per API key
      - Burst allowance: 10 requests per minute
  - name: Health
    description: |
      System health and monitoring endpoints
      
      ## Overview
      Health endpoints provide information about system status and component health.
      
      ## Usage
      - Use `/health` for basic health checks (load balancers, monitoring)
      - Use `/health/detailed` for comprehensive system status

externalDocs:
  description: Complete API Documentation
  url: https://docs.taskmanagement.company.com/api

# OpenAPI Extensions for Enterprise Features
x-compliance:
  gdpr:
    dataProtection: true
    rightToErasure: true
    dataPortability: true
  sox:
    auditTrail: true
    changeManagement: true
  iso27001:
    securityControls: true
    riskManagement: true
  pci-dss:
    dataEncryption: true
    accessControl: true

x-monitoring:
  metrics:
    - responseTime
    - errorRate
    - throughput
    - availability
  alerting:
    - responseTime > 500ms
    - errorRate > 1%
    - availability < 99.9%
  tracing:
    correlationId: true
    distributedTracing: true

x-security:
  authentication:
    type: oauth2
    flows:
      authorizationCode:
        authorizationUrl: https://auth.taskmanagement.company.com/oauth/authorize
        tokenUrl: https://auth.taskmanagement.company.com/oauth/token
        scopes:
          tasks:create: Create new tasks
          tasks:read: Read task information
          tasks:update: Update existing tasks
          tasks:delete: Delete tasks
  rateLimiting:
    perUser: 100/hour
    perApiKey: 1000/hour
    burst: 10/minute
  encryption:
    transit: TLS 1.3
    rest: AES-256

x-deployment:
  platform: kubernetes
  scaling:
    min: 2
    max: 20
    targetCPU: 70%
  healthChecks:
    liveness: /health
    readiness: /health
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi