openapi: 3.0.3
info:
  title: Task Management API
  description: |
    A comprehensive Task Management API system that enables task creation, management, and validation through RESTful endpoints.
    
    This API provides:
    - Task creation with comprehensive validation
    - Data sanitization and security enforcement
    - RESTful API design patterns
    - Comprehensive error handling
    - Real-time synchronization capabilities
    
    ## Authentication
    This API uses JWT Bearer token authentication. Include the token in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```
    
    ## Rate Limiting
    - 100 requests per minute per user
    - 1000 requests per minute per IP address
    - Burst allowance of 20 requests
    
    ## Data Validation
    All inputs are validated and sanitized to prevent security vulnerabilities including:
    - SQL injection prevention
    - XSS protection
    - Input encoding
    - HTML tag stripping
  version: 1.0.0
  contact:
    name: API Development Team
    email: api-team@taskmanagement.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.taskmanagement.com/api/v1
    description: Production server
  - url: https://staging-api.taskmanagement.com/api/v1
    description: Staging server
  - url: https://dev-api.taskmanagement.com/api/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  /tasks:
    post:
      summary: Create a new task
      description: |
        Creates a new task with comprehensive validation and business logic enforcement.
        
        The task will be validated for:
        - Required field presence
        - Data format compliance
        - Business rule adherence
        - Security constraints
        
        Upon successful creation, the task will be synchronized across all connected clients in real-time.
      operationId: createTask
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: X-Request-ID
          in: header
          description: Optional request correlation ID for tracing
          required: false
          schema:
            type: string
            format: uuid
            example: "123e4567-e89b-12d3-a456-426614174000"
        - name: X-Client-Version
          in: header
          description: Optional client version for compatibility tracking
          required: false
          schema:
            type: string
            example: "1.0.0"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                value:
                  title: "Complete project documentation"
                  description: "Create comprehensive documentation for the new API endpoints"
                  status: "TODO"
                  priority: "HIGH"
                  dueDate: "2024-12-31"
              minimal_task:
                summary: Minimal required fields
                value:
                  title: "Review code changes"
                  status: "TODO"
                  priority: "MEDIUM"
                  dueDate: "2024-06-30"
              task_with_assignment:
                summary: Task with assignment and tags
                value:
                  title: "Implement user authentication"
                  description: "Add JWT-based authentication to the API"
                  status: "IN_PROGRESS"
                  priority: "CRITICAL"
                  dueDate: "2024-05-15"
                  assignedTo: "123e4567-e89b-12d3-a456-426614174000"
                  tags: ["authentication", "security", "backend"]
      responses:
        '201':
          description: Task created successfully
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
            X-Rate-Limit-Remaining:
              description: Number of requests remaining in current window
              schema:
                type: integer
            X-Rate-Limit-Reset:
              description: Time when rate limit resets
              schema:
                type: string
                format: date-time
            Location:
              description: URL of the created task
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              examples:
                created_task:
                  summary: Successfully created task
                  value:
                    id: "123e4567-e89b-12d3-a456-426614174000"
                    title: "Complete project documentation"
                    description: "Create comprehensive documentation for the new API endpoints"
                    status: "TODO"
                    priority: "HIGH"
                    dueDate: "2024-12-31"
                    assignedTo: "123e4567-e89b-12d3-a456-426614174000"
                    createdBy: "987fcdeb-51a2-43d1-9c4f-123456789abc"
                    tags: ["documentation", "api", "urgent"]
                    createdAt: "2024-01-15T10:30:00Z"
                    updatedAt: "2024-01-15T10:30:00Z"
                    _links:
                      self:
                        href: "/api/v1/tasks/123e4567-e89b-12d3-a456-426614174000"
                      update:
                        href: "/api/v1/tasks/123e4567-e89b-12d3-a456-426614174000"
                        method: "PUT"
                      delete:
                        href: "/api/v1/tasks/123e4567-e89b-12d3-a456-426614174000"
                        method: "DELETE"
        '400':
          description: Bad Request - Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                validation_error:
                  summary: Multiple validation failures
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Request validation failed"
                      details:
                        - field: "title"
                          message: "Title is required and cannot be empty"
                          rejectedValue: ""
                        - field: "dueDate"
                          message: "Due date cannot be in the past"
                          rejectedValue: "2023-01-01"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Missing or invalid JWT token
                  value:
                    error:
                      code: "UNAUTHORIZED"
                      message: "Authentication required"
                      details: "Invalid or missing JWT token"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error:
                      code: "FORBIDDEN"
                      message: "Insufficient permissions"
                      details: "User does not have permission to create tasks"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
        '409':
          description: Conflict - Duplicate task
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                duplicate_task:
                  summary: Task already exists
                  value:
                    error:
                      code: "DUPLICATE_TASK"
                      message: "Task with similar title already exists"
                      details: "A task with the same title and due date already exists for this user"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
        '422':
          description: Unprocessable Entity - Business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                business_rule_violation:
                  summary: Business rule validation failed
                  value:
                    error:
                      code: "BUSINESS_RULE_VIOLATION"
                      message: "Business rule validation failed"
                      details: "Cannot assign task to inactive user"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
            X-Rate-Limit-Remaining:
              description: Number of requests remaining
              schema:
                type: integer
                example: 0
            X-Rate-Limit-Reset:
              description: Time when rate limit resets
              schema:
                type: string
                format: date-time
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              examples:
                rate_limit_exceeded:
                  summary: Rate limit exceeded
                  value:
                    error:
                      code: "RATE_LIMIT_EXCEEDED"
                      message: "Rate limit exceeded"
                      details: "Maximum 100 requests per minute allowed"
                      retryAfter: 60
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal_error:
                  summary: Unexpected server error
                  value:
                    error:
                      code: "INTERNAL_SERVER_ERROR"
                      message: "An unexpected error occurred"
                      details: "Please try again later or contact support"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req-123e4567-e89b-12d3-a456-426614174000"
    get:
      summary: List tasks (Planned)
      description: Retrieve a paginated list of tasks with filtering and sorting capabilities
      operationId: listTasks
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number (1-based)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: status
          in: query
          description: Filter by task status
          required: false
          schema:
            $ref: '#/components/schemas/TaskStatus'
        - name: priority
          in: query
          description: Filter by task priority
          required: false
          schema:
            $ref: '#/components/schemas/TaskPriority'
        - name: assignedTo
          in: query
          description: Filter by assigned user ID
          required: false
          schema:
            type: string
            format: uuid
        - name: dueDate
          in: query
          description: Filter by due date (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
        - name: sortBy
          in: query
          description: Sort field
          required: false
          schema:
            type: string
            enum: ["createdAt", "updatedAt", "dueDate", "priority", "title"]
            default: "createdAt"
        - name: sortOrder
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: ["asc", "desc"]
            default: "desc"
      responses:
        '200':
          description: Tasks retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskListResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /tasks/{id}:
    get:
      summary: Get task by ID (Planned)
      description: Retrieve a specific task by its unique identifier
      operationId: getTaskById
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Task unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Task retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    put:
      summary: Update task (Planned)
      description: Update an existing task with new information
      operationId: updateTask
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Task unique identifier
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
      responses:
        '200':
          description: Task updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '422':
          $ref: '#/components/responses/BusinessRuleError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    
    delete:
      summary: Delete task (Planned)
      description: Delete an existing task
      operationId: deleteTask
      tags:
        - Tasks
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          description: Task unique identifier
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Task deleted successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /tasks/bulk:
    post:
      summary: Bulk task operations (Planned)
      description: Perform bulk operations on multiple tasks
      operationId: bulkTaskOperations
      tags:
        - Tasks
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTaskRequest'
      responses:
        '200':
          description: Bulk operation completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTaskResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /health:
    get:
      summary: Basic health check
      description: Check if the API service is running and responsive
      operationId: healthCheck
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /health/detailed:
    get:
      summary: Detailed health check
      description: Comprehensive health status including dependencies
      operationId: detailedHealthCheck
      tags:
        - Health
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Detailed health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '503':
          description: Service or dependencies are unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. 
        
        Token must contain required claims:
        - user_id: User identifier
        - permissions: User permissions array
        - exp: Token expiration time
        
        Example: `Authorization: Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9...`

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
        - status
        - priority
        - dueDate
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Task title (required, no HTML tags allowed)
          example: "Complete project documentation"
          pattern: '^[^<>]*$'
        description:
          type: string
          maxLength: 2000
          description: Detailed task description (HTML tags will be stripped)
          example: "Create comprehensive documentation for the new API endpoints"
        status:
          $ref: '#/components/schemas/TaskStatus'
        priority:
          $ref: '#/components/schemas/TaskPriority'
        dueDate:
          type: string
          format: date
          description: Task due date (must be a future date, ISO 8601 format)
          example: "2024-12-31"
        assignedTo:
          type: string
          format: uuid
          description: User ID of assigned person (must be a valid, active user)
          example: "123e4567-e89b-12d3-a456-426614174000"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
            pattern: '^[a-zA-Z0-9_-]+$'
          maxItems: 10
          description: Task tags for categorization (alphanumeric, underscore, hyphen only)
          example: ["documentation", "api", "urgent"]
      additionalProperties: false

    UpdateTaskRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Task title
          pattern: '^[^<>]*$'
        description:
          type: string
          maxLength: 2000
          description: Task description
        status:
          $ref: '#/components/schemas/TaskStatus'
        priority:
          $ref: '#/components/schemas/TaskPriority'
        dueDate:
          type: string
          format: date
          description: Task due date
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: User ID of assigned person
        tags:
          type: array
          items:
            type: string
            maxLength: 50
            pattern: '^[a-zA-Z0-9_-]+$'
          maxItems: 10
          description: Task tags
      additionalProperties: false

    TaskResponse:
      type: object
      required:
        - id
        - title
        - status
        - priority
        - dueDate
        - createdBy
        - createdAt
        - updatedAt
        - _links
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
        title:
          type: string
          description: Task title
          example: "Complete project documentation"
        description:
          type: string
          nullable: true
          description: Task description
          example: "Create comprehensive documentation for the new API endpoints"
        status:
          $ref: '#/components/schemas/TaskStatus'
        priority:
          $ref: '#/components/schemas/TaskPriority'
        dueDate:
          type: string
          format: date
          description: Task due date
          example: "2024-12-31"
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: User ID of assigned person
          example: "123e4567-e89b-12d3-a456-426614174000"
        createdBy:
          type: string
          format: uuid
          description: User ID of task creator
          example: "987fcdeb-51a2-43d1-9c4f-123456789abc"
        tags:
          type: array
          items:
            type: string
          description: Task tags
          example: ["documentation", "api", "urgent"]
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp
          example: "2024-01-15T10:30:00Z"
        updatedAt:
          type: string
          format: date-time
          description: Task last update timestamp
          example: "2024-01-15T10:30:00Z"
        _links:
          $ref: '#/components/schemas/TaskLinks'
      additionalProperties: false

    TaskLinks:
      type: object
      description: HATEOAS links for task operations
      properties:
        self:
          $ref: '#/components/schemas/Link'
        update:
          $ref: '#/components/schemas/LinkWithMethod'
        delete:
          $ref: '#/components/schemas/LinkWithMethod'
      additionalProperties: false

    Link:
      type: object
      required:
        - href
      properties:
        href:
          type: string
          format: uri-reference
          description: Link URL
          example: "/api/v1/tasks/123e4567-e89b-12d3-a456-426614174000"
      additionalProperties: false

    LinkWithMethod:
      allOf:
        - $ref: '#/components/schemas/Link'
        - type: object
          properties:
            method:
              type: string
              description: HTTP method for the link
              example: "PUT"

    TaskStatus:
      type: string
      enum:
        - TODO
        - IN_PROGRESS
        - DONE
      description: Current task status
      example: "TODO"

    TaskPriority:
      type: string
      enum:
        - LOW
        - MEDIUM
        - HIGH
        - CRITICAL
      description: Task priority level
      example: "HIGH"

    TaskListResponse:
      type: object
      required:
        - data
        - pagination
        - _links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TaskResponse'
          description: Array of tasks
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
        _links:
          $ref: '#/components/schemas/PaginationLinks'
      additionalProperties: false

    PaginationInfo:
      type: object
      required:
        - page
        - pageSize
        - totalItems
        - totalPages
        - hasNext
        - hasPrevious
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        pageSize:
          type: integer
          minimum: 1
          description: Number of items per page
          example: 20
        totalItems:
          type: integer
          minimum: 0
          description: Total number of items
          example: 150
        totalPages:
          type: integer
          minimum: 0
          description: Total number of pages
          example: 8
        hasNext:
          type: boolean
          description: Whether there is a next page
          example: true
        hasPrevious:
          type: boolean
          description: Whether there is a previous page
          example: false
      additionalProperties: false

    PaginationLinks:
      type: object
      required:
        - self
      properties:
        self:
          $ref: '#/components/schemas/Link'
        first:
          $ref: '#/components/schemas/Link'
        prev:
          $ref: '#/components/schemas/Link'
        next:
          $ref: '#/components/schemas/Link'
        last:
          $ref: '#/components/schemas/Link'
      additionalProperties: false

    BulkTaskRequest:
      type: object
      required:
        - operation
        - tasks
      properties:
        operation:
          type: string
          enum:
            - create
            - update
            - delete
          description: Bulk operation type
        tasks:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/CreateTaskRequest'
              - $ref: '#/components/schemas/UpdateTaskRequest'
              - type: string
                format: uuid
          minItems: 1
          maxItems: 100
          description: Array of tasks or task IDs for bulk operation
      additionalProperties: false

    BulkTaskResponse:
      type: object
      required:
        - operation
        - totalRequested
        - totalSuccessful
        - totalFailed
        - results
      properties:
        operation:
          type: string
          description: Bulk operation type performed
        totalRequested:
          type: integer
          minimum: 0
          description: Total number of items requested
        totalSuccessful:
          type: integer
          minimum: 0
          description: Number of successful operations
        totalFailed:
          type: integer
          minimum: 0
          description: Number of failed operations
        results:
          type: array
          items:
            $ref: '#/components/schemas/BulkOperationResult'
          description: Detailed results for each operation
      additionalProperties: false

    BulkOperationResult:
      type: object
      required:
        - index
        - success
      properties:
        index:
          type: integer
          minimum: 0
          description: Index of the item in the original request
        success:
          type: boolean
          description: Whether the operation was successful
        data:
          oneOf:
            - $ref: '#/components/schemas/TaskResponse'
            - type: string
          description: Result data (task for successful operations)
        error:
          $ref: '#/components/schemas/ErrorInfo'
      additionalProperties: false

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorInfo'
      additionalProperties: false

    ErrorInfo:
      type: object
      required:
        - code
        - message
        - timestamp
        - requestId
      properties:
        code:
          type: string
          description: Error code for programmatic handling
          example: "VALIDATION_ERROR"
        message:
          type: string
          description: Human-readable error message
          example: "Request validation failed"
        details:
          type: string
          description: Additional error details
          example: "Invalid or missing JWT token"
        timestamp:
          type: string
          format: date-time
          description: Error occurrence timestamp
          example: "2024-01-15T10:30:00Z"
        requestId:
          type: string
          format: uuid
          description: Request correlation ID for tracing
          example: "req-123e4567-e89b-12d3-a456-426614174000"
      additionalProperties: false

    ValidationError:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            error:
              allOf:
                - $ref: '#/components/schemas/ErrorInfo'
                - type: object
                  properties:
                    details:
                      type: array
                      items:
                        $ref: '#/components/schemas/ValidationErrorDetail'
                      description: Detailed validation errors

    ValidationErrorDetail:
      type: object
      required:
        - field
        - message
      properties:
        field:
          type: string
          description: Field name that failed validation
          example: "title"
        message:
          type: string
          description: Validation error message
          example: "Title is required and cannot be empty"
        rejectedValue:
          description: The value that was rejected
          example: ""
      additionalProperties: false

    RateLimitError:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            error:
              allOf:
                - $ref: '#/components/schemas/ErrorInfo'
                - type: object
                  properties:
                    retryAfter:
                      type: integer
                      description: Number of seconds to wait before retrying
                      example: 60

    HealthResponse:
      type: object
      required:
        - status
        - timestamp
      properties:
        status:
          type: string
          enum:
            - UP
            - DOWN
          description: Overall health status
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
        version:
          type: string
          description: API version
          example: "1.0.0"
        uptime:
          type: integer
          description: Service uptime in seconds
      additionalProperties: false

    DetailedHealthResponse:
      allOf:
        - $ref: '#/components/schemas/HealthResponse'
        - type: object
          properties:
            dependencies:
              type: object
              description: Health status of dependencies
              properties:
                database:
                  $ref: '#/components/schemas/DependencyHealth'
                cache:
                  $ref: '#/components/schemas/DependencyHealth'
                authentication:
                  $ref: '#/components/schemas/DependencyHealth'
              additionalProperties:
                $ref: '#/components/schemas/DependencyHealth'

    DependencyHealth:
      type: object
      required:
        - status
        - responseTime
      properties:
        status:
          type: string
          enum:
            - UP
            - DOWN
            - DEGRADED
          description: Dependency health status
        responseTime:
          type: integer
          description: Response time in milliseconds
        lastChecked:
          type: string
          format: date-time
          description: Last health check timestamp
        error:
          type: string
          description: Error message if status is DOWN
      additionalProperties: false

  responses:
    ValidationError:
      description: Bad Request - Validation Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'

    UnauthorizedError:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "UNAUTHORIZED"
              message: "Authentication required"
              details: "Invalid or missing JWT token"
              timestamp: "2024-01-15T10:30:00Z"
              requestId: "req-123e4567-e89b-12d3-a456-426614174000"

    ForbiddenError:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "FORBIDDEN"
              message: "Insufficient permissions"
              details: "User does not have permission to perform this action"
              timestamp: "2024-01-15T10:30:00Z"
              requestId: "req-123e4567-e89b-12d3-a456-426614174000"

    NotFoundError:
      description: Not Found - Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "NOT_FOUND"
              message: "Resource not found"
              details: "Task with the specified ID does not exist"
              timestamp: "2024-01-15T10:30:00Z"
              requestId: "req-123e4567-e89b-12d3-a456-426614174000"

    ConflictError:
      description: Conflict - Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "CONFLICT"
              message: "Resource conflict"
              details: "Task with similar title already exists"
              timestamp: "2024-01-15T10:30:00Z"
              requestId: "req-123e4567-e89b-12d3-a456-426614174000"

    BusinessRuleError:
      description: Unprocessable Entity - Business rule violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "BUSINESS_RULE_VIOLATION"
              message: "Business rule validation failed"
              details: "Cannot assign task to inactive user"
              timestamp: "2024-01-15T10:30:00Z"
              requestId: "req-123e4567-e89b-12d3-a456-426614174000"

    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: "INTERNAL_SERVER_ERROR"
              message: "An unexpected error occurred"
              details: "Please try again later or contact support"
              timestamp: "2024-01-15T10:30:00Z"
              requestId: "req-123e4567-e89b-12d3-a456-426614174000"

  parameters:
    TaskId:
      name: id
      in: path
      description: Task unique identifier
      required: true
      schema:
        type: string
        format: uuid
      example: "123e4567-e89b-12d3-a456-426614174000"

    PageNumber:
      name: page
      in: query
      description: Page number (1-based)
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

    PageSize:
      name: pageSize
      in: query
      description: Number of items per page
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    RequestId:
      name: X-Request-ID
      in: header
      description: Optional request correlation ID for tracing
      required: false
      schema:
        type: string
        format: uuid

  examples:
    BasicTask:
      summary: Basic task creation example
      description: Example of creating a basic task with required fields
      value:
        title: "Complete project documentation"
        description: "Create comprehensive documentation for the new API endpoints"
        status: "TODO"
        priority: "HIGH"
        dueDate: "2024-12-31"

    MinimalTask:
      summary: Minimal task creation example
      description: Example with only required fields
      value:
        title: "Review code changes"
        status: "TODO"
        priority: "MEDIUM"
        dueDate: "2024-06-30"

    TaskWithAssignment:
      summary: Task with assignment and tags
      description: Example of a task with assignment and categorization
      value:
        title: "Implement user authentication"
        description: "Add JWT-based authentication to the API"
        status: "IN_PROGRESS"
        priority: "CRITICAL"
        dueDate: "2024-05-15"
        assignedTo: "123e4567-e89b-12d3-a456-426614174000"
        tags: ["authentication", "security", "backend"]

tags:
  - name: Tasks
    description: Task management operations
  - name: Health
    description: Service health monitoring

externalDocs:
  description: Find more information about the Task Management API
  url: https://docs.taskmanagement.com/api/v1