openapi: 3.0.3
info:
  title: Task Management API
  description: |
    A comprehensive Task Management API system providing endpoints for managing tasks within the enterprise ecosystem.
    
    This API follows enterprise security standards with JWT-based authentication, comprehensive validation,
    and standardized error handling. The initial implementation focuses on task creation capabilities with
    plans for full CRUD operations in future phases.
    
    ## Key Features
    - Task creation with comprehensive validation
    - Data sanitization and security controls
    - Standardized error handling and response formatting
    - Enterprise security integration
    - GDPR and compliance-ready audit logging
    
    ## Authentication
    All endpoints require JWT-based authentication using Bearer tokens.
    
    ## Rate Limiting
    API requests are rate-limited to 100 requests per minute per user.
    
    ## Data Formats
    - All dates must be in ISO 8601 format (YYYY-MM-DDTHH:mm:ss.sssZ)
    - UUIDs must be RFC 4122 compliant
    - All string inputs are validated and sanitized
  version: 1.0.0
  contact:
    name: API Development Team
    email: api-team@company.com
  license:
    name: Proprietary
    url: https://company.com/license
  termsOfService: https://company.com/terms
servers:
  - url: https://api.company.com/v1
    description: Production server
  - url: https://staging-api.company.com/v1
    description: Staging server
  - url: https://dev-api.company.com/v1
    description: Development server

security:
  - bearerAuth: []

paths:
  /api/tasks:
    post:
      tags:
        - Tasks
      summary: Create a new task
      description: |
        Creates a new task in the system with comprehensive validation and audit logging.
        
        ## Business Rules
        - Task title must be unique per user
        - Due date must be in the future
        - Assigned user must exist and be active
        - All inputs are sanitized for security
        
        ## Audit Trail
        All task creation operations are logged for compliance and audit purposes.
      operationId: createTask
      security:
        - bearerAuth: []
      parameters:
        - name: X-Request-ID
          in: header
          description: Unique request identifier for tracing and correlation
          required: false
          schema:
            type: string
            format: uuid
            example: "req-123e4567-e89b-12d3-a456-426614174000"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                description: Example of creating a basic task with required fields
                value:
                  title: "Complete project documentation"
                  description: "Create comprehensive documentation for the new API endpoints"
                  status: "TODO"
                  priority: "HIGH"
                  dueDate: "2024-12-31T23:59:59.000Z"
              assigned_task:
                summary: Task with assignment
                description: Example of creating a task assigned to a specific user
                value:
                  title: "Review security implementation"
                  description: "Conduct thorough security review of authentication middleware"
                  status: "TODO"
                  priority: "CRITICAL"
                  dueDate: "2024-02-15T17:00:00.000Z"
                  assignedTo: "123e4567-e89b-12d3-a456-426614174000"
      responses:
        '201':
          description: Task created successfully
          headers:
            Location:
              description: URL of the created task resource
              schema:
                type: string
                format: uri
                example: "/api/tasks/987fcdeb-51a2-43d1-9f12-345678901234"
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                example: "req-123e4567-e89b-12d3-a456-426614174000"
            X-Rate-Limit-Remaining:
              description: Number of requests remaining in current window
              schema:
                type: integer
                example: 99
            X-Rate-Limit-Reset:
              description: Time when rate limit window resets
              schema:
                type: string
                format: date-time
                example: "2024-01-15T10:31:00.000Z"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              example:
                id: "987fcdeb-51a2-43d1-9f12-345678901234"
                title: "Complete project documentation"
                description: "Create comprehensive documentation for the new API endpoints"
                status: "TODO"
                priority: "HIGH"
                dueDate: "2024-12-31T23:59:59.000Z"
                assignedTo: "123e4567-e89b-12d3-a456-426614174000"
                createdBy: "456e7890-e12c-34d5-b678-901234567890"
                createdAt: "2024-01-15T10:30:00.000Z"
                updatedAt: "2024-01-15T10:30:00.000Z"
        '400':
          description: Bad Request - Validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
              examples:
                validation_error:
                  summary: Multiple validation errors
                  description: Example of validation errors for multiple fields
                  value:
                    statusCode: 400
                    message: "Validation failed"
                    errors:
                      - field: "title"
                        message: "Title should not be empty"
                        value: ""
                      - field: "dueDate"
                        message: "Due date must be in the future"
                        value: "2023-01-01T00:00:00.000Z"
                    timestamp: "2024-01-15T10:30:00.000Z"
                    path: "/api/tasks"
                    requestId: "req-123456789"
        '401':
          description: Unauthorized - Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 401
                message: "Unauthorized"
                error: "Invalid or missing authentication token"
                timestamp: "2024-01-15T10:30:00.000Z"
                path: "/api/tasks"
                requestId: "req-123456789"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 403
                message: "Forbidden"
                error: "Insufficient permissions to create tasks"
                timestamp: "2024-01-15T10:30:00.000Z"
                path: "/api/tasks"
                requestId: "req-123456789"
        '409':
          description: Conflict - Business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 409
                message: "Conflict"
                error: "Task with similar title already exists for this user"
                timestamp: "2024-01-15T10:30:00.000Z"
                path: "/api/tasks"
                requestId: "req-123456789"
        '422':
          description: Unprocessable Entity - Business logic error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessErrorResponse'
              example:
                statusCode: 422
                message: "Unprocessable Entity"
                error: "Cannot assign task to inactive user"
                details:
                  userId: "123e4567-e89b-12d3-a456-426614174000"
                  userStatus: "inactive"
                timestamp: "2024-01-15T10:30:00.000Z"
                path: "/api/tasks"
                requestId: "req-123456789"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
                example: 60
            X-Rate-Limit-Limit:
              description: Request limit per window
              schema:
                type: integer
                example: 100
            X-Rate-Limit-Remaining:
              description: Requests remaining in current window
              schema:
                type: integer
                example: 0
            X-Rate-Limit-Reset:
              description: Time when rate limit window resets
              schema:
                type: string
                format: date-time
                example: "2024-01-15T10:31:00.000Z"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitErrorResponse'
              example:
                statusCode: 429
                message: "Too Many Requests"
                error: "Rate limit exceeded"
                retryAfter: 60
                limit: 100
                remaining: 0
                resetTime: "2024-01-15T10:31:00.000Z"
                timestamp: "2024-01-15T10:30:00.000Z"
                path: "/api/tasks"
                requestId: "req-123456789"
        '500':
          description: Internal Server Error - System error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                message: "Internal Server Error"
                error: "An unexpected error occurred"
                timestamp: "2024-01-15T10:30:00.000Z"
                path: "/api/tasks"
                requestId: "req-123456789"

  /health:
    get:
      tags:
        - System
      summary: Health check endpoint
      description: Returns the health status of the API service and its dependencies
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: "healthy"
                timestamp: "2024-01-15T10:30:00.000Z"
                version: "1.0.0"
                dependencies:
                  database: "healthy"
                  authService: "healthy"
                  auditService: "healthy"
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: "unhealthy"
                timestamp: "2024-01-15T10:30:00.000Z"
                version: "1.0.0"
                dependencies:
                  database: "unhealthy"
                  authService: "healthy"
                  auditService: "degraded"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT-based authentication. Include the JWT token in the Authorization header.
        
        Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...`
        
        Tokens expire after 1 hour and must be refreshed using the refresh token mechanism.

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
        - status
        - priority
        - dueDate
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          pattern: '^[\s\S]*\S[\s\S]*$'
          description: |
            Task title - must not be empty or contain only whitespace.
            Maximum 255 characters allowed.
          example: "Complete project documentation"
        description:
          type: string
          maxLength: 2000
          description: |
            Detailed task description. Optional field with maximum 2000 characters.
            Supports markdown formatting.
          example: "Create comprehensive documentation for the new API endpoints including examples and best practices"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "DONE", "CANCELLED"]
          description: |
            Current status of the task. Must be one of the predefined values.
            - TODO: Task is created but not started
            - IN_PROGRESS: Task is currently being worked on
            - DONE: Task has been completed
            - CANCELLED: Task has been cancelled
          example: "TODO"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: |
            Task priority level affecting scheduling and notifications.
            - LOW: Non-urgent task
            - MEDIUM: Standard priority
            - HIGH: Important task requiring attention
            - CRITICAL: Urgent task requiring immediate attention
          example: "HIGH"
        dueDate:
          type: string
          format: date-time
          description: |
            Task due date in ISO 8601 format. Must be a future date.
            The system validates that the due date is at least 1 hour in the future.
          example: "2024-12-31T23:59:59.000Z"
        assignedTo:
          type: string
          format: uuid
          description: |
            UUID of the user assigned to the task. Optional field.
            If provided, the user must exist in the system and be active.
            If not provided, the task remains unassigned.
          example: "123e4567-e89b-12d3-a456-426614174000"
      additionalProperties: false
      example:
        title: "Complete project documentation"
        description: "Create comprehensive documentation for the new API endpoints"
        status: "TODO"
        priority: "HIGH"
        dueDate: "2024-12-31T23:59:59.000Z"
        assignedTo: "123e4567-e89b-12d3-a456-426614174000"

    TaskResponse:
      type: object
      required:
        - id
        - title
        - status
        - priority
        - dueDate
        - createdBy
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier generated by the system
          example: "987fcdeb-51a2-43d1-9f12-345678901234"
          readOnly: true
        title:
          type: string
          description: Task title as provided in the request
          example: "Complete project documentation"
        description:
          type: string
          nullable: true
          description: Task description, null if not provided
          example: "Create comprehensive documentation for the new API endpoints"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "DONE", "CANCELLED"]
          description: Current task status
          example: "TODO"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority level
          example: "HIGH"
        dueDate:
          type: string
          format: date-time
          description: Task due date in ISO 8601 format
          example: "2024-12-31T23:59:59.000Z"
        assignedTo:
          type: string
          format: uuid
          nullable: true
          description: UUID of assigned user, null if unassigned
          example: "123e4567-e89b-12d3-a456-426614174000"
        createdBy:
          type: string
          format: uuid
          description: UUID of the user who created the task
          example: "456e7890-e12c-34d5-b678-901234567890"
          readOnly: true
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp
          example: "2024-01-15T10:30:00.000Z"
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T10:30:00.000Z"
          readOnly: true
      additionalProperties: false

    ErrorResponse:
      type: object
      required:
        - statusCode
        - message
        - error
        - timestamp
        - path
      properties:
        statusCode:
          type: integer
          description: HTTP status code
          example: 400
        message:
          type: string
          description: Human-readable error message
          example: "Bad Request"
        error:
          type: string
          description: Detailed error description
          example: "Invalid request data"
        timestamp:
          type: string
          format: date-time
          description: Error occurrence timestamp
          example: "2024-01-15T10:30:00.000Z"
        path:
          type: string
          description: API endpoint where error occurred
          example: "/api/tasks"
        requestId:
          type: string
          description: Unique request identifier for tracing
          example: "req-123456789"
      additionalProperties: false

    ValidationErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          required:
            - errors
          properties:
            errors:
              type: array
              description: Array of field-specific validation errors
              items:
                type: object
                required:
                  - field
                  - message
                properties:
                  field:
                    type: string
                    description: Name of the field that failed validation
                    example: "title"
                  message:
                    type: string
                    description: Validation error message
                    example: "Title should not be empty"
                  value:
                    description: The invalid value that was provided
                    example: ""
                additionalProperties: false
              minItems: 1

    BusinessErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          properties:
            details:
              type: object
              description: Additional context about the business error
              additionalProperties: true
              example:
                userId: "123e4567-e89b-12d3-a456-426614174000"
                userStatus: "inactive"

    RateLimitErrorResponse:
      allOf:
        - $ref: '#/components/schemas/ErrorResponse'
        - type: object
          required:
            - retryAfter
            - limit
            - remaining
            - resetTime
          properties:
            retryAfter:
              type: integer
              description: Number of seconds to wait before retrying
              example: 60
            limit:
              type: integer
              description: Request limit per time window
              example: 100
            remaining:
              type: integer
              description: Requests remaining in current window
              example: 0
            resetTime:
              type: string
              format: date-time
              description: Time when rate limit window resets
              example: "2024-01-15T10:31:00.000Z"

    HealthResponse:
      type: object
      required:
        - status
        - timestamp
        - version
      properties:
        status:
          type: string
          enum: ["healthy", "degraded", "unhealthy"]
          description: Overall health status of the service
          example: "healthy"
        timestamp:
          type: string
          format: date-time
          description: Health check timestamp
          example: "2024-01-15T10:30:00.000Z"
        version:
          type: string
          description: API version
          example: "1.0.0"
        dependencies:
          type: object
          description: Health status of external dependencies
          additionalProperties:
            type: string
            enum: ["healthy", "degraded", "unhealthy"]
          example:
            database: "healthy"
            authService: "healthy"
            auditService: "healthy"
      additionalProperties: false

tags:
  - name: Tasks
    description: |
      Task management operations including creation, retrieval, updates, and deletion.
      
      All task operations require proper authentication and authorization.
      Tasks are automatically audited for compliance purposes.
  - name: System
    description: |
      System-level operations including health checks and service status.
      
      These endpoints are typically used by monitoring systems and load balancers.

externalDocs:
  description: Enterprise API Design Guidelines
  url: https://company.com/api-guidelines

# OpenAPI Extensions for tooling and documentation
x-tagGroups:
  - name: API Operations
    tags:
      - Tasks
  - name: System Operations
    tags:
      - System

x-logo:
  url: https://company.com/logo.png
  altText: Company Logo

x-api-id: task-management-api
x-audience: internal
x-lifecycle-stage: production
x-owner: api-development-team
x-compliance:
  - GDPR
  - ISO27001
  - SOC2
  - PCI-DSS

x-rate-limiting:
  default:
    requests: 100
    window: 60
    unit: seconds
  authenticated:
    requests: 1000
    window: 60
    unit: seconds

x-security-requirements:
  - authentication: required
  - authorization: rbac
  - encryption: tls-1.3
  - audit-logging: enabled

x-performance-requirements:
  response-time-p95: 200ms
  throughput: 1000rps
  availability: 99.9%

x-monitoring:
  metrics:
    - request-count
    - response-time
    - error-rate
    - business-metrics
  alerting:
    - error-rate-threshold: 5%
    - response-time-threshold: 500ms
    - availability-threshold: 99.5%

x-documentation:
  examples-included: true
  interactive-docs: true
  sdk-generation: true
  postman-collection: true