openapi: 3.0.3
info:
  title: Task Management API
  description: |
    Enterprise-grade Task Management API for creating and managing tasks.
    This API follows security-by-design principles and enterprise architectural standards.
    
    ## Features
    - Secure task creation with comprehensive validation
    - Role-based access control (RBAC)
    - Comprehensive error handling
    - Rate limiting and security controls
    - Full audit trail and compliance logging
    
    ## Security
    - JWT Bearer token authentication required
    - Input validation and sanitization
    - Rate limiting: 100 requests per minute per user
    - HTTPS/TLS 1.3 encryption
    
    ## Compliance
    - GDPR compliant
    - ISO 27001 security controls
    - SOX audit trail requirements
    - PCI-DSS compliance ready
  version: 1.0.0
  contact:
    name: API Team
    email: api-team@taskmanagement.com
  license:
    name: Proprietary
    url: https://taskmanagement.com/license
servers:
  - url: https://api.taskmanagement.com/v1
    description: Production server
  - url: https://staging-api.taskmanagement.com/v1
    description: Staging server
  - url: https://dev-api.taskmanagement.com/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  /api/tasks:
    post:
      tags:
        - Tasks
      summary: Create a new task
      description: |
        Creates a new task in the system with comprehensive validation and business rule enforcement.
        
        ## Business Rules
        - Users can only create tasks they have permission to create
        - Cannot assign tasks to inactive or non-existent users
        - Due dates must be reasonable (not more than 5 years in future)
        - Task titles must be unique per user (case-insensitive)
        
        ## Performance
        - Target response time: < 200ms for 95% of requests
        - Rate limit: 100 requests per minute per user
        - Timeout: 30 seconds maximum
      operationId: createTask
      security:
        - BearerAuth: []
      parameters:
        - name: X-Request-ID
          in: header
          description: Unique request identifier for tracing
          required: false
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
        - name: X-Client-Version
          in: header
          description: Client version for analytics
          required: false
          schema:
            type: string
            example: "1.2.3"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                value:
                  title: "Complete API documentation"
                  description: "Create comprehensive API documentation including examples and error codes"
                  priority: "HIGH"
                  dueDate: "2024-12-31T23:59:59Z"
              minimal_task:
                summary: Minimal task creation
                value:
                  title: "Review code changes"
              assigned_task:
                summary: Task with assignee
                value:
                  title: "Fix authentication bug"
                  description: "Resolve JWT token validation issue"
                  status: "TODO"
                  priority: "CRITICAL"
                  assigneeId: "123e4567-e89b-12d3-a456-426614174000"
                  tags: ["bug", "authentication", "urgent"]
      responses:
        '201':
          description: Task created successfully
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
            X-Rate-Limit-Remaining:
              description: Number of requests remaining in current window
              schema:
                type: integer
                example: 95
            X-Rate-Limit-Reset:
              description: Unix timestamp when rate limit resets
              schema:
                type: integer
                example: 1640995200
            Location:
              description: URL of the created task
              schema:
                type: string
                example: "/api/tasks/987fcdeb-51a2-43d1-9c4b-123456789abc"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              example:
                id: "987fcdeb-51a2-43d1-9c4b-123456789abc"
                title: "Complete API documentation"
                description: "Create comprehensive API documentation including examples and error codes"
                status: "TODO"
                priority: "HIGH"
                dueDate: "2024-12-31T23:59:59Z"
                assigneeId: "123e4567-e89b-12d3-a456-426614174000"
                createdBy: "456e7890-e89b-12d3-a456-426614174111"
                createdAt: "2024-01-15T10:30:00Z"
                updatedAt: "2024-01-15T10:30:00Z"
                tags: ["documentation", "api", "urgent"]
        '400':
          description: Bad Request - Validation errors
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                missing_title:
                  summary: Missing required title
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Request validation failed"
                      details:
                        - field: "title"
                          message: "Title is required and cannot be empty"
                          code: "REQUIRED_FIELD"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"
                invalid_date:
                  summary: Invalid due date
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Request validation failed"
                      details:
                        - field: "dueDate"
                          message: "Due date cannot be in the past"
                          code: "INVALID_DATE"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"
        '401':
          description: Unauthorized - Authentication required
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
            WWW-Authenticate:
              description: Authentication method required
              schema:
                type: string
                example: "Bearer"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: "UNAUTHORIZED"
                  message: "Authentication required. Please provide a valid bearer token."
                  timestamp: "2024-01-15T10:30:00Z"
                  requestId: "req_123456789"
        '403':
          description: Forbidden - Insufficient permissions
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: "FORBIDDEN"
                  message: "Insufficient permissions to create tasks"
                  timestamp: "2024-01-15T10:30:00Z"
                  requestId: "req_123456789"
        '409':
          description: Conflict - Duplicate task
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: "DUPLICATE_TASK"
                  message: "A task with similar title already exists for this user"
                  timestamp: "2024-01-15T10:30:00Z"
                  requestId: "req_123456789"
        '422':
          description: Unprocessable Entity - Business rule violations
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessRuleError'
              example:
                error:
                  code: "BUSINESS_RULE_VIOLATION"
                  message: "Business rule validation failed"
                  details:
                    - rule: "ASSIGNEE_VALIDATION"
                      message: "Cannot assign task to inactive user"
                      code: "INVALID_ASSIGNEE"
                  timestamp: "2024-01-15T10:30:00Z"
                  requestId: "req_123456789"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
            Retry-After:
              description: Seconds to wait before retrying
              schema:
                type: integer
                example: 60
            X-Rate-Limit-Remaining:
              description: Number of requests remaining
              schema:
                type: integer
                example: 0
            X-Rate-Limit-Reset:
              description: Unix timestamp when rate limit resets
              schema:
                type: integer
                example: 1640995260
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              example:
                error:
                  code: "RATE_LIMIT_EXCEEDED"
                  message: "Rate limit exceeded. Maximum 100 requests per minute allowed."
                  retryAfter: 60
                  timestamp: "2024-01-15T10:30:00Z"
                  requestId: "req_123456789"
        '500':
          description: Internal Server Error
          headers:
            X-Request-ID:
              description: Request correlation ID
              schema:
                type: string
                format: uuid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: "INTERNAL_SERVER_ERROR"
                  message: "An unexpected error occurred. Please try again later."
                  timestamp: "2024-01-15T10:30:00Z"
                  requestId: "req_123456789"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. Include the token in the Authorization header.
        
        Example: `Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...`
        
        ## Token Requirements
        - Must be a valid JWT token
        - Must not be expired
        - Must contain necessary permissions for task creation
        - Tokens expire after 24 hours and require refresh

  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Task title (required, non-empty, max 255 characters)
          example: "Complete API documentation"
          pattern: "^(?!\\s*$).+"
        description:
          type: string
          maxLength: 1000
          description: Detailed task description (optional, max 1000 characters)
          example: "Create comprehensive API documentation including examples and error codes"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "DONE", "CANCELLED"]
          default: "TODO"
          description: Current task status (defaults to TODO)
          example: "TODO"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          default: "MEDIUM"
          description: Task priority level (defaults to MEDIUM)
          example: "HIGH"
        dueDate:
          type: string
          format: date-time
          description: |
            Task due date in ISO 8601 format (must be in the future).
            Cannot be more than 5 years in the future.
          example: "2024-12-31T23:59:59Z"
        assigneeId:
          type: string
          format: uuid
          description: |
            ID of the user assigned to the task (optional).
            User must exist and be active in the system.
          example: "123e4567-e89b-12d3-a456-426614174000"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
            pattern: "^[a-zA-Z0-9_-]+$"
          maxItems: 10
          uniqueItems: true
          description: |
            Task tags for categorization (optional, max 10 tags).
            Each tag max 50 characters, alphanumeric with hyphens/underscores only.
            Duplicate tags will be automatically removed.
          example: ["documentation", "api", "urgent"]
      additionalProperties: false

    TaskResponse:
      type: object
      required:
        - id
        - title
        - status
        - priority
        - createdBy
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier (system generated)
          example: "987fcdeb-51a2-43d1-9c4b-123456789abc"
          readOnly: true
        title:
          type: string
          description: Task title
          example: "Complete API documentation"
        description:
          type: string
          nullable: true
          description: Task description
          example: "Create comprehensive API documentation including examples and error codes"
        status:
          type: string
          enum: ["TODO", "IN_PROGRESS", "DONE", "CANCELLED"]
          description: Current task status
          example: "TODO"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority level
          example: "HIGH"
        dueDate:
          type: string
          format: date-time
          nullable: true
          description: Task due date
          example: "2024-12-31T23:59:59Z"
        assigneeId:
          type: string
          format: uuid
          nullable: true
          description: ID of assigned user
          example: "123e4567-e89b-12d3-a456-426614174000"
        createdBy:
          type: string
          format: uuid
          description: ID of user who created the task
          example: "456e7890-e89b-12d3-a456-426614174111"
          readOnly: true
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp (ISO 8601)
          example: "2024-01-15T10:30:00Z"
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp (ISO 8601)
          example: "2024-01-15T10:30:00Z"
          readOnly: true
        tags:
          type: array
          items:
            type: string
          description: Task tags
          example: ["documentation", "api", "urgent"]
      additionalProperties: false

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
            - requestId
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: "UNAUTHORIZED"
            message:
              type: string
              description: Human-readable error message
              example: "Authentication required. Please provide a valid bearer token."
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp (ISO 8601)
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              description: Request correlation ID for support
              example: "req_123456789"
          additionalProperties: false
      additionalProperties: false

    ValidationError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - timestamp
            - requestId
          properties:
            code:
              type: string
              enum: ["VALIDATION_ERROR"]
              description: Error code for validation failures
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: General validation error message
              example: "Request validation failed"
            details:
              type: array
              items:
                type: object
                required:
                  - field
                  - message
                  - code
                properties:
                  field:
                    type: string
                    description: Field that failed validation
                    example: "title"
                  message:
                    type: string
                    description: Specific validation error message
                    example: "Title is required and cannot be empty"
                  code:
                    type: string
                    description: Specific validation error code
                    example: "REQUIRED_FIELD"
                additionalProperties: false
              description: Array of specific validation errors
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp (ISO 8601)
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              description: Request correlation ID for support
              example: "req_123456789"
          additionalProperties: false
      additionalProperties: false

    BusinessRuleError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - timestamp
            - requestId
          properties:
            code:
              type: string
              enum: ["BUSINESS_RULE_VIOLATION"]
              description: Error code for business rule violations
              example: "BUSINESS_RULE_VIOLATION"
            message:
              type: string
              description: General business rule error message
              example: "Business rule validation failed"
            details:
              type: array
              items:
                type: object
                required:
                  - rule
                  - message
                  - code
                properties:
                  rule:
                    type: string
                    description: Business rule that was violated
                    example: "ASSIGNEE_VALIDATION"
                  message:
                    type: string
                    description: Specific business rule error message
                    example: "Cannot assign task to inactive user"
                  code:
                    type: string
                    description: Specific business rule error code
                    example: "INVALID_ASSIGNEE"
                additionalProperties: false
              description: Array of specific business rule violations
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp (ISO 8601)
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              description: Request correlation ID for support
              example: "req_123456789"
          additionalProperties: false
      additionalProperties: false

    RateLimitError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - retryAfter
            - timestamp
            - requestId
          properties:
            code:
              type: string
              enum: ["RATE_LIMIT_EXCEEDED"]
              description: Error code for rate limit violations
              example: "RATE_LIMIT_EXCEEDED"
            message:
              type: string
              description: Rate limit error message
              example: "Rate limit exceeded. Maximum 100 requests per minute allowed."
            retryAfter:
              type: integer
              minimum: 1
              description: Seconds to wait before retrying
              example: 60
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp (ISO 8601)
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              description: Request correlation ID for support
              example: "req_123456789"
          additionalProperties: false
      additionalProperties: false

  examples:
    CreateBasicTask:
      summary: Basic task creation
      description: Example of creating a simple task with minimal required fields
      value:
        title: "Review pull request #123"
        description: "Review and approve the authentication improvements"
        priority: "MEDIUM"
        
    CreateUrgentTask:
      summary: Urgent task with assignee
      description: Example of creating an urgent task with specific assignee
      value:
        title: "Fix production database connection issue"
        description: "Database connection pool is exhausted, immediate attention required"
        status: "TODO"
        priority: "CRITICAL"
        dueDate: "2024-01-16T09:00:00Z"
        assigneeId: "123e4567-e89b-12d3-a456-426614174000"
        tags: ["production", "database", "critical"]
        
    CreateProjectTask:
      summary: Project task with tags
      description: Example of creating a project-related task with categorization tags
      value:
        title: "Implement user authentication API"
        description: "Design and implement JWT-based authentication system with refresh tokens"
        priority: "HIGH"
        dueDate: "2024-02-15T17:00:00Z"
        tags: ["authentication", "api", "security", "jwt"]

  parameters:
    RequestId:
      name: X-Request-ID
      in: header
      description: Unique request identifier for tracing and debugging
      required: false
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440000"
        
    ClientVersion:
      name: X-Client-Version
      in: header
      description: Client application version for analytics and compatibility
      required: false
      schema:
        type: string
        pattern: "^\\d+\\.\\d+\\.\\d+$"
        example: "1.2.3"

  headers:
    RequestId:
      description: Request correlation ID echoed back for tracing
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440000"
        
    RateLimitRemaining:
      description: Number of requests remaining in current rate limit window
      schema:
        type: integer
        minimum: 0
        example: 95
        
    RateLimitReset:
      description: Unix timestamp when the rate limit window resets
      schema:
        type: integer
        minimum: 0
        example: 1640995200

# Additional metadata for enterprise compliance and documentation
x-api-governance:
  owner: "API Team"
  domain: "Task Management"
  lifecycle: "active"
  classification: "internal"
  
x-compliance:
  gdpr: true
  pci-dss: false
  iso27001: true
  sox: true
  
x-sla:
  availability: "99.99%"
  responseTime: "200ms"
  throughput: "1000 RPS"
  
x-security:
  authentication: "JWT Bearer Token"
  authorization: "RBAC"
  encryption: "TLS 1.3"
  inputValidation: true
  outputSanitization: true
  
x-monitoring:
  metrics: ["response_time", "error_rate", "throughput", "availability"]
  alerts: ["high_error_rate", "slow_response", "service_down"]
  logging: "structured"
  tracing: "distributed"
  
x-changelog:
  - version: "1.0.0"
    date: "2024-01-15"
    changes: ["Initial API specification", "Task creation endpoint"]
    author: "API Integration Architect"
    
tags:
  - name: Tasks
    description: |
      Task management operations for creating, updating, and managing tasks.
      
      ## Security Requirements
      - All operations require valid JWT authentication
      - Role-based access control (RBAC) enforced
      - Rate limiting applied per user
      
      ## Performance Characteristics
      - Target response time: < 200ms
      - Throughput: 1000+ RPS
      - Auto-scaling enabled
      
      ## Compliance
      - Full audit trail maintained
      - GDPR compliant data handling
      - SOX compliance for audit requirements
    externalDocs:
      description: Task Management API Documentation
      url: https://docs.taskmanagement.com/api/tasks

externalDocs:
  description: Complete API Documentation and Developer Guide
  url: https://docs.taskmanagement.com/api