openapi: 3.0.3
info:
  title: Youth Account Management System API
  description: |
    Comprehensive API for managing youth banking accounts, enabling parents to allocate funds,
    configure spending limits, and monitor transaction activity for their children's accounts.
    
    ## Key Features
    - **Account Dashboard**: Consolidated view of youth account status and activity
    - **Fund Management**: Secure transfer of funds between parent and youth accounts
    - **Spending Controls**: Configurable weekly spending limits with real-time enforcement
    - **Transaction History**: Comprehensive transaction tracking with filtering and analytics
    - **Compliance**: Full audit trails and regulatory compliance (PCI-DSS, GDPR, SOX)
    
    ## Security
    - OAuth 2.0 + JWT Bearer token authentication
    - Role-based access control (RBAC)
    - Multi-factor authentication (MFA) support
    - Rate limiting and API security controls
    
    ## Traceability
    This API specification implements requirements from:
    - SCIB-25: Parent fund allocation and management (Main Epic)
    - SCIB-26: Youth account dashboard API implementation
    - SCIB-27: Fund transfer API development
    - SCIB-28: Spending limit configuration API
    - SCIB-29: Transaction history API
    - SCIB-30: OpenAPI/Swagger specification
  version: 1.0.0
  contact:
    name: SCIB API Support
    email: api-support@scib.com
    url: https://developer.scib.com
  license:
    name: Proprietary
    url: https://scib.com/api-license
  termsOfService: https://scib.com/api-terms

servers:
  - url: https://api.scib.com/v1
    description: Production server
  - url: https://api-staging.scib.com/v1
    description: Staging server
  - url: https://api-dev.scib.com/v1
    description: Development server

security:
  - OAuth2JWT: []

tags:
  - name: Youth Accounts
    description: Youth account management and dashboard operations
  - name: Fund Transfers
    description: Fund transfer operations between parent and youth accounts
  - name: Spending Limits
    description: Spending limit configuration and enforcement
  - name: Transaction History
    description: Transaction history retrieval and analytics
  - name: Account Status
    description: Account status and metadata operations
  - name: Validation
    description: Transaction validation and spending limit enforcement

paths:
  /youth-accounts/{youthAccountId}/dashboard:
    get:
      tags:
        - Youth Accounts
      summary: Get youth account dashboard
      description: |
        Retrieve consolidated youth account information including balance, spending limit,
        current week spending, and recent transactions. This endpoint provides a comprehensive
        view for parents to monitor their child's account activity.
        
        **Traceability**: SCIB-26 - Dashboard API implementation
      operationId: getYouthAccountDashboard
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Youth account dashboard data retrieved successfully
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
              examples:
                active_account:
                  summary: Active youth account with transactions
                  value:
                    youthAccountId: "YTH-456789"
                    accountBalance: 150.00
                    spendingLimit: 100.00
                    currentWeekSpent: 25.00
                    remainingLimit: 75.00
                    currency: "USD"
                    weekStartDate: "2024-01-15"
                    recentTransactions:
                      - transactionId: "TXN-001"
                        date: "2024-01-16T10:30:00Z"
                        description: "Coffee Shop Purchase"
                        merchant: "Starbucks"
                        amount: -5.50
                        transactionType: "debit"
                        status: "completed"
                    accountStatus: "active"
                    lastUpdated: "2024-01-16T15:45:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags:
        - Fund Transfers
      summary: Transfer funds to youth account
      description: |
        Transfer funds from parent account to youth account. This operation supports
        various transfer types including allowances, rewards, and emergency funds.
        All transfers are processed in real-time with immediate balance updates.
        
        **Traceability**: SCIB-27 - Fund transfer API implementation
      operationId: transferFundsToYouthAccount
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
            examples:
              weekly_allowance:
                summary: Weekly allowance transfer
                value:
                  sourceAccountId: "ACC-789012"
                  transferAmount: 25.00
                  currency: "USD"
                  description: "Weekly allowance"
                  transferType: "allowance"
              reward_transfer:
                summary: Reward for good grades
                value:
                  sourceAccountId: "ACC-789012"
                  transferAmount: 50.00
                  currency: "USD"
                  description: "Good grades reward"
                  transferType: "reward"
      responses:
        '200':
          description: Fund transfer completed successfully
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
              examples:
                successful_transfer:
                  summary: Successful fund transfer
                  value:
                    transferId: "TRF-98765"
                    status: "SUCCESS"
                    sourceAccountId: "ACC-789012"
                    targetAccountId: "YTH-456789"
                    transferAmount: 25.00
                    currency: "USD"
                    updatedYouthBalance: 175.00
                    updatedParentBalance: 4975.00
                    transactionDate: "2024-01-16T15:45:00Z"
                    description: "Weekly allowance"
                    processingTime: "0.245s"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags:
        - Spending Limits
      summary: Configure spending limit
      description: |
        Configure weekly spending limit for youth account. The limit takes effect
        immediately or on the specified effective date. Notification preferences
        can be configured to alert parents when spending thresholds are reached.
        
        **Traceability**: SCIB-28 - Spending limit configuration API
      operationId: configureSpendingLimit
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
            examples:
              basic_limit:
                summary: Basic weekly spending limit
                value:
                  weeklyLimit: 100.00
                  currency: "USD"
                  effectiveDate: "2024-01-22"
                  notificationPreferences:
                    notifyAt75Percent: true
                    notifyAt90Percent: true
                    notifyOnExceed: true
      responses:
        '200':
          description: Spending limit configured successfully
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
              examples:
                limit_updated:
                  summary: Spending limit successfully updated
                  value:
                    youthAccountId: "YTH-456789"
                    weeklyLimit: 100.00
                    currency: "USD"
                    previousLimit: 75.00
                    effectiveDate: "2024-01-22T00:00:00Z"
                    status: "UPDATED"
                    notificationPreferences:
                      notifyAt75Percent: true
                      notifyAt90Percent: true
                      notifyOnExceed: true
                    updatedAt: "2024-01-16T15:45:00Z"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /youth-accounts/{youthAccountId}/transactions:
    get:
      tags:
        - Transaction History
      summary: Get transaction history
      description: |
        Retrieve transaction history for youth account with comprehensive filtering
        and pagination support. Supports filtering by date range, transaction type,
        status, and merchant. Results include transaction details and spending analytics.
        
        **Traceability**: SCIB-29 - Transaction history API
      operationId: getTransactionHistory
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/RequestId'
        - name: startDate
          in: query
          description: Start date for transaction history (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date
            example: "2024-01-01"
        - name: endDate
          in: query
          description: End date for transaction history (ISO 8601 format)
          required: false
          schema:
            type: string
            format: date
            example: "2024-01-31"
        - name: transactionType
          in: query
          description: Filter by transaction type
          required: false
          schema:
            type: string
            enum: ["debit", "credit", "all"]
            default: "all"
        - name: status
          in: query
          description: Filter by transaction status
          required: false
          schema:
            type: string
            enum: ["completed", "pending", "failed", "all"]
            default: "all"
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: sortBy
          in: query
          description: Field to sort by
          required: false
          schema:
            type: string
            enum: ["date", "amount", "merchant"]
            default: "date"
        - name: sortOrder
          in: query
          description: Sort direction
          required: false
          schema:
            type: string
            enum: ["asc", "desc"]
            default: "desc"
      responses:
        '200':
          description: Transaction history retrieved successfully
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/RateLimitRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
              examples:
                transaction_history:
                  summary: Transaction history with pagination
                  value:
                    youthAccountId: "YTH-456789"
                    transactions:
                      - transactionId: "TXN-001"
                        date: "2024-01-16T10:30:00Z"
                        merchant: "Starbucks"
                        description: "Coffee Shop Purchase"
                        amount: -5.50
                        currency: "USD"
                        transactionType: "debit"
                        status: "completed"
                        category: "food_beverage"
                        balanceAfter: 144.50
                        location:
                          city: "New York"
                          state: "NY"
                          country: "US"
                    pagination:
                      page: 1
                      pageSize: 20
                      totalRecords: 45
                      totalPages: 3
                      hasNext: true
                      hasPrevious: false
                    summary:
                      totalDebits: -125.50
                      totalCredits: 25.00
                      netAmount: -100.50
                      transactionCount: 45
                    filters:
                      startDate: "2024-01-01"
                      endDate: "2024-01-31"
                      transactionType: "debit"
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /youth-accounts/{youthAccountId}/status:
    get:
      tags:
        - Account Status
      summary: Get account status
      description: |
        Retrieve current account status, metadata, restrictions, and enabled features
        for the youth account. This provides comprehensive account configuration details.
      operationId: getAccountStatus
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/RequestId'
      responses:
        '200':
          description: Account status retrieved successfully
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStatus'
              examples:
                active_account:
                  summary: Active youth account status
                  value:
                    youthAccountId: "YTH-456789"
                    status: "active"
                    accountType: "youth_savings"
                    openDate: "2024-01-01T00:00:00Z"
                    parentAccountId: "ACC-789012"
                    youthUserId: "USR-002"
                    restrictions:
                      dailyWithdrawalLimit: 50.00
                      monthlyTransactionLimit: 100
                      allowedMerchantCategories: ["grocery", "gas", "entertainment", "food_beverage"]
                    features:
                      debitCardEnabled: true
                      onlineTransactionsEnabled: true
                      atmAccessEnabled: false
                      internationalTransactionsEnabled: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /youth-accounts/{youthAccountId}/validate-transaction:
    post:
      tags:
        - Validation
      summary: Validate transaction against spending limits
      description: |
        Validate if a proposed transaction can proceed based on current spending limits
        and account restrictions. This endpoint is used for real-time spending limit
        enforcement before transaction processing.
      operationId: validateTransaction
      parameters:
        - $ref: '#/components/parameters/YouthAccountId'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionValidationRequest'
            examples:
              valid_transaction:
                summary: Transaction within spending limit
                value:
                  transactionAmount: 25.00
                  currency: "USD"
                  merchant: "Target"
                  category: "retail"
                  transactionDate: "2024-01-16T15:45:00Z"
      responses:
        '200':
          description: Transaction validation completed
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionValidationResponse'
              examples:
                approved_transaction:
                  summary: Transaction approved
                  value:
                    validationResult: "APPROVED"
                    currentWeekSpent: 75.00
                    weeklyLimit: 100.00
                    remainingLimit: 25.00
                    projectedSpentAfterTransaction: 100.00
                    warnings: []
                    restrictions: []
        '422':
          description: Transaction blocked due to spending limit
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionValidationResponse'
              examples:
                blocked_transaction:
                  summary: Transaction blocked - limit exceeded
                  value:
                    validationResult: "BLOCKED"
                    reason: "WEEKLY_LIMIT_EXCEEDED"
                    currentWeekSpent: 95.00
                    weeklyLimit: 100.00
                    remainingLimit: 5.00
                    requestedAmount: 25.00
                    excessAmount: 20.00
                    nextResetDate: "2024-01-22T00:00:00Z"
                    parentNotified: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    OAuth2JWT:
      type: oauth2
      description: |
        OAuth 2.0 authorization with JWT bearer tokens. All API requests must include
        a valid JWT token in the Authorization header. Tokens expire after 15 minutes
        and must be refreshed using the refresh token.
      flows:
        authorizationCode:
          authorizationUrl: https://auth.scib.com/oauth/authorize
          tokenUrl: https://auth.scib.com/oauth/token
          refreshUrl: https://auth.scib.com/oauth/refresh
          scopes:
            youth-account:read: Read access to youth account information
            youth-account:write: Write access to youth account operations
            fund-transfer:execute: Execute fund transfers
            spending-limit:manage: Manage spending limits
            transaction:read: Read transaction history

  parameters:
    YouthAccountId:
      name: youthAccountId
      in: path
      required: true
      description: Unique identifier for the youth account
      schema:
        type: string
        pattern: '^YTH-[0-9]{6}$'
        example: "YTH-456789"
    
    RequestId:
      name: X-Request-ID
      in: header
      required: false
      description: Unique request identifier for tracking and correlation
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440000"
    
    Page:
      name: page
      in: query
      required: false
      description: Page number for pagination (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
        example: 1
    
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of items per page (max 100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
        example: 20

  headers:
    RequestId:
      description: Request correlation identifier
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440000"
    
    RateLimitRemaining:
      description: Number of requests remaining in current rate limit window
      schema:
        type: integer
        example: 999

  schemas:
    YouthAccountDashboard:
      type: object
      required:
        - youthAccountId
        - accountBalance
        - spendingLimit
        - currentWeekSpent
        - remainingLimit
        - currency
        - weekStartDate
        - accountStatus
        - lastUpdated
      properties:
        youthAccountId:
          type: string
          pattern: '^YTH-[0-9]{6}$'
          description: Unique youth account identifier
          example: "YTH-456789"
        accountBalance:
          type: number
          format: decimal
          minimum: 0
          description: Current account balance
          example: 150.00
        spendingLimit:
          type: number
          format: decimal
          minimum: 0
          description: Weekly spending limit
          example: 100.00
        currentWeekSpent:
          type: number
          format: decimal
          minimum: 0
          description: Amount spent in current week
          example: 25.00
        remainingLimit:
          type: number
          format: decimal
          minimum: 0
          description: Remaining spending limit for current week
          example: 75.00
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code
          example: "USD"
        weekStartDate:
          type: string
          format: date
          description: Start date of current spending week
          example: "2024-01-15"
        recentTransactions:
          type: array
          description: Recent transaction history (last 10 transactions)
          items:
            $ref: '#/components/schemas/Transaction'
        accountStatus:
          type: string
          enum: ["active", "suspended", "closed"]
          description: Current account status
          example: "active"
        lastUpdated:
          type: string
          format: date-time
          description: Timestamp of last account update
          example: "2024-01-16T15:45:00Z"

    Transaction:
      type: object
      required:
        - transactionId
        - date
        - amount
        - currency
        - transactionType
        - status
      properties:
        transactionId:
          type: string
          pattern: '^TXN-[0-9]{3,10}$'
          description: Unique transaction identifier
          example: "TXN-001"
        date:
          type: string
          format: date-time
          description: Transaction timestamp
          example: "2024-01-16T10:30:00Z"
        merchant:
          type: string
          maxLength: 100
          description: Merchant name
          example: "Starbucks"
        description:
          type: string
          maxLength: 255
          description: Transaction description
          example: "Coffee Shop Purchase"
        amount:
          type: number
          format: decimal
          description: Transaction amount (negative for debits, positive for credits)
          example: -5.50
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code
          example: "USD"
        transactionType:
          type: string
          enum: ["debit", "credit"]
          description: Type of transaction
          example: "debit"
        status:
          type: string
          enum: ["completed", "pending", "failed"]
          description: Transaction status
          example: "completed"
        category:
          type: string
          description: Transaction category
          example: "food_beverage"
        balanceAfter:
          type: number
          format: decimal
          description: Account balance after transaction
          example: 144.50
        location:
          $ref: '#/components/schemas/TransactionLocation'

    TransactionLocation:
      type: object
      properties:
        city:
          type: string
          maxLength: 50
          description: Transaction city
          example: "New York"
        state:
          type: string
          maxLength: 50
          description: Transaction state/province
          example: "NY"
        country:
          type: string
          pattern: '^[A-Z]{2}$'
          description: ISO 3166-1 alpha-2 country code
          example: "US"

    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
        - transferType
      properties:
        sourceAccountId:
          type: string
          pattern: '^ACC-[0-9]{6}$'
          description: Source parent account identifier
          example: "ACC-789012"
        transferAmount:
          type: number
          format: decimal
          minimum: 1.00
          maximum: 1000.00
          description: Amount to transfer (minimum $1.00, maximum $1,000.00)
          example: 25.00
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code
          example: "USD"
        description:
          type: string
          maxLength: 255
          description: Transfer description
          example: "Weekly allowance"
        transferType:
          type: string
          enum: ["allowance", "reward", "emergency", "other"]
          description: Type of fund transfer
          example: "allowance"

    FundTransferResponse:
      type: object
      required:
        - transferId
        - status
        - sourceAccountId
        - targetAccountId
        - transferAmount
        - currency
        - transactionDate
      properties:
        transferId:
          type: string
          pattern: '^TRF-[0-9]{5}$'
          description: Unique transfer identifier
          example: "TRF-98765"
        status:
          type: string
          enum: ["SUCCESS", "FAILED", "PENDING"]
          description: Transfer status
          example: "SUCCESS"
        sourceAccountId:
          type: string
          pattern: '^ACC-[0-9]{6}$'
          description: Source account identifier
          example: "ACC-789012"
        targetAccountId:
          type: string
          pattern: '^YTH-[0-9]{6}$'
          description: Target youth account identifier
          example: "YTH-456789"
        transferAmount:
          type: number
          format: decimal
          description: Transfer amount
          example: 25.00
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code
          example: "USD"
        updatedYouthBalance:
          type: number
          format: decimal
          description: Youth account balance after transfer
          example: 175.00
        updatedParentBalance:
          type: number
          format: decimal
          description: Parent account balance after transfer
          example: 4975.00
        transactionDate:
          type: string
          format: date-time
          description: Transfer completion timestamp
          example: "2024-01-16T15:45:00Z"
        description:
          type: string
          maxLength: 255
          description: Transfer description
          example: "Weekly allowance"
        processingTime:
          type: string
          description: Transfer processing time
          example: "0.245s"

    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
        - currency
      properties:
        weeklyLimit:
          type: number
          format: decimal
          minimum: 1.00
          maximum: 10000.00
          description: Weekly spending limit (minimum $1.00, maximum $10,000.00)
          example: 100.00
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code (must match account currency)
          example: "USD"
        effectiveDate:
          type: string
          format: date
          description: Date when limit becomes effective (defaults to next Monday)
          example: "2024-01-22"
        notificationPreferences:
          $ref: '#/components/schemas/NotificationPreferences'

    NotificationPreferences:
      type: object
      properties:
        notifyAt75Percent:
          type: boolean
          description: Send notification when 75% of limit is reached
          default: true
          example: true
        notifyAt90Percent:
          type: boolean
          description: Send notification when 90% of limit is reached
          default: true
          example: true
        notifyOnExceed:
          type: boolean
          description: Send notification when limit is exceeded
          default: true
          example: true

    SpendingLimitResponse:
      type: object
      required:
        - youthAccountId
        - weeklyLimit
        - currency
        - effectiveDate
        - status
        - updatedAt
      properties:
        youthAccountId:
          type: string
          pattern: '^YTH-[0-9]{6}$'
          description: Youth account identifier
          example: "YTH-456789"
        weeklyLimit:
          type: number
          format: decimal
          description: New weekly spending limit
          example: 100.00
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code
          example: "USD"
        previousLimit:
          type: number
          format: decimal
          description: Previous weekly spending limit
          example: 75.00
        effectiveDate:
          type: string
          format: date-time
          description: When the new limit becomes effective
          example: "2024-01-22T00:00:00Z"
        status:
          type: string
          enum: ["UPDATED", "SCHEDULED"]
          description: Limit configuration status
          example: "UPDATED"
        notificationPreferences:
          $ref: '#/components/schemas/NotificationPreferences'
        updatedAt:
          type: string
          format: date-time
          description: Timestamp of limit configuration
          example: "2024-01-16T15:45:00Z"

    TransactionHistoryResponse:
      type: object
      required:
        - youthAccountId
        - transactions
        - pagination
      properties:
        youthAccountId:
          type: string
          pattern: '^YTH-[0-9]{6}$'
          description: Youth account identifier
          example: "YTH-456789"
        transactions:
          type: array
          description: List of transactions
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/PaginationInfo'
        summary:
          $ref: '#/components/schemas/TransactionSummary'
        filters:
          $ref: '#/components/schemas/AppliedFilters'

    PaginationInfo:
      type: object
      required:
        - page
        - pageSize
        - totalRecords
        - totalPages
        - hasNext
        - hasPrevious
      properties:
        page:
          type: integer
          minimum: 1
          description: Current page number
          example: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 100
          description: Items per page
          example: 20
        totalRecords:
          type: integer
          minimum: 0
          description: Total number of records
          example: 45
        totalPages:
          type: integer
          minimum: 0
          description: Total number of pages
          example: 3
        hasNext:
          type: boolean
          description: Whether there are more pages
          example: true
        hasPrevious:
          type: boolean
          description: Whether there are previous pages
          example: false

    TransactionSummary:
      type: object
      properties:
        totalDebits:
          type: number
          format: decimal
          description: Sum of all debit transactions
          example: -125.50
        totalCredits:
          type: number
          format: decimal
          description: Sum of all credit transactions
          example: 25.00
        netAmount:
          type: number
          format: decimal
          description: Net transaction amount (credits - debits)
          example: -100.50
        transactionCount:
          type: integer
          minimum: 0
          description: Total number of transactions
          example: 45

    AppliedFilters:
      type: object
      properties:
        startDate:
          type: string
          format: date
          description: Applied start date filter
          example: "2024-01-01"
        endDate:
          type: string
          format: date
          description: Applied end date filter
          example: "2024-01-31"
        transactionType:
          type: string
          enum: ["debit", "credit", "all"]
          description: Applied transaction type filter
          example: "debit"
        status:
          type: string
          enum: ["completed", "pending", "failed", "all"]
          description: Applied status filter
          example: "completed"

    AccountStatus:
      type: object
      required:
        - youthAccountId
        - status
        - accountType
        - openDate
        - parentAccountId
        - youthUserId
      properties:
        youthAccountId:
          type: string
          pattern: '^YTH-[0-9]{6}$'
          description: Youth account identifier
          example: "YTH-456789"
        status:
          type: string
          enum: ["active", "suspended", "closed"]
          description: Account status
          example: "active"
        accountType:
          type: string
          enum: ["youth_savings", "youth_checking"]
          description: Type of youth account
          example: "youth_savings"
        openDate:
          type: string
          format: date-time
          description: Account opening date
          example: "2024-01-01T00:00:00Z"
        parentAccountId:
          type: string
          pattern: '^ACC-[0-9]{6}$'
          description: Associated parent account identifier
          example: "ACC-789012"
        youthUserId:
          type: string
          pattern: '^USR-[0-9]{3}$'
          description: Youth user identifier
          example: "USR-002"
        restrictions:
          $ref: '#/components/schemas/AccountRestrictions'
        features:
          $ref: '#/components/schemas/AccountFeatures'

    AccountRestrictions:
      type: object
      properties:
        dailyWithdrawalLimit:
          type: number
          format: decimal
          minimum: 0
          description: Daily withdrawal limit
          example: 50.00
        monthlyTransactionLimit:
          type: integer
          minimum: 0
          description: Monthly transaction count limit
          example: 100
        allowedMerchantCategories:
          type: array
          description: Allowed merchant categories
          items:
            type: string
            enum: ["grocery", "gas", "entertainment", "food_beverage", "retail", "online"]
          example: ["grocery", "gas", "entertainment", "food_beverage"]

    AccountFeatures:
      type: object
      properties:
        debitCardEnabled:
          type: boolean
          description: Whether debit card is enabled
          example: true
        onlineTransactionsEnabled:
          type: boolean
          description: Whether online transactions are enabled
          example: true
        atmAccessEnabled:
          type: boolean
          description: Whether ATM access is enabled
          example: false
        internationalTransactionsEnabled:
          type: boolean
          description: Whether international transactions are enabled
          example: false

    TransactionValidationRequest:
      type: object
      required:
        - transactionAmount
        - currency
        - merchant
        - category
        - transactionDate
      properties:
        transactionAmount:
          type: number
          format: decimal
          minimum: 0.01
          description: Proposed transaction amount
          example: 25.00
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          description: ISO 4217 currency code
          example: "USD"
        merchant:
          type: string
          maxLength: 100
          description: Merchant name
          example: "Target"
        category:
          type: string
          description: Transaction category
          example: "retail"
        transactionDate:
          type: string
          format: date-time
          description: Proposed transaction timestamp
          example: "2024-01-16T15:45:00Z"

    TransactionValidationResponse:
      type: object
      required:
        - validationResult
      properties:
        validationResult:
          type: string
          enum: ["APPROVED", "BLOCKED", "WARNING"]
          description: Validation result
          example: "APPROVED"
        reason:
          type: string
          description: Reason for blocking (if blocked)
          example: "WEEKLY_LIMIT_EXCEEDED"
        currentWeekSpent:
          type: number
          format: decimal
          description: Current week spending amount
          example: 75.00
        weeklyLimit:
          type: number
          format: decimal
          description: Weekly spending limit
          example: 100.00
        remainingLimit:
          type: number
          format: decimal
          description: Remaining spending limit
          example: 25.00
        projectedSpentAfterTransaction:
          type: number
          format: decimal
          description: Projected spending after transaction
          example: 100.00
        requestedAmount:
          type: number
          format: decimal
          description: Requested transaction amount
          example: 25.00
        excessAmount:
          type: number
          format: decimal
          description: Amount exceeding limit
          example: 20.00
        nextResetDate:
          type: string
          format: date-time
          description: Next limit reset date
          example: "2024-01-22T00:00:00Z"
        parentNotified:
          type: boolean
          description: Whether parent was notified
          example: true
        warnings:
          type: array
          description: Validation warnings
          items:
            type: string
        restrictions:
          type: array
          description: Applied restrictions
          items:
            type: string

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'

    ErrorDetail:
      type: object
      required:
        - code
        - message
        - timestamp
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: "YOUTH_ACCOUNT_NOT_FOUND"
        message:
          type: string
          description: Human-readable error message
          example: "The specified youth account was not found"
        details:
          type: string
          description: Additional technical details
          example: "Youth account YTH-456789 does not exist or is not accessible"
        timestamp:
          type: string
          format: date-time
          description: Error occurrence timestamp
          example: "2024-01-16T15:45:00Z"
        requestId:
          type: string
          format: uuid
          description: Request correlation identifier
          example: "550e8400-e29b-41d4-a716-446655440000"
        path:
          type: string
          description: API endpoint path
          example: "/youth-accounts/YTH-456789/dashboard"
        method:
          type: string
          description: HTTP method
          example: "GET"
        validationErrors:
          type: array
          description: Field-specific validation errors
          items:
            $ref: '#/components/schemas/ValidationError'

    ValidationError:
      type: object
      required:
        - field
        - message
      properties:
        field:
          type: string
          description: Field name that failed validation
          example: "transferAmount"
        message:
          type: string
          description: Validation error message
          example: "Amount must be greater than 0"
        rejectedValue:
          description: The value that was rejected
          example: -10.00

  responses:
    BadRequest:
      description: Bad Request - Invalid request parameters
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid_account_id:
              summary: Invalid youth account ID format
              value:
                error:
                  code: "INVALID_ACCOUNT_ID"
                  message: "Invalid youth account ID format"
                  details: "Youth account ID must match pattern YTH-XXXXXX"
                  timestamp: "2024-01-16T15:45:00Z"
                  requestId: "550e8400-e29b-41d4-a716-446655440000"
                  path: "/youth-accounts/INVALID-ID/dashboard"
                  method: "GET"

    Unauthorized:
      description: Unauthorized - Invalid or missing authentication
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
        WWW-Authenticate:
          description: Authentication challenge
          schema:
            type: string
            example: 'Bearer realm="SCIB API", error="invalid_token"'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid_token:
              summary: Invalid or expired JWT token
              value:
                error:
                  code: "INVALID_TOKEN"
                  message: "Invalid or expired authentication token"
                  details: "JWT token has expired or is malformed"
                  timestamp: "2024-01-16T15:45:00Z"
                  requestId: "550e8400-e29b-41d4-a716-446655440000"

    Forbidden:
      description: Forbidden - Insufficient permissions
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            access_denied:
              summary: Parent does not have access to youth account
              value:
                error:
                  code: "ACCESS_DENIED"
                  message: "Parent does not have access to this youth account"
                  details: "User ACC-789012 does not have permission to access youth account YTH-456789"
                  timestamp: "2024-01-16T15:45:00Z"
                  requestId: "550e8400-e29b-41d4-a716-446655440000"

    NotFound:
      description: Not Found - Resource does not exist
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            account_not_found:
              summary: Youth account not found
              value:
                error:
                  code: "YOUTH_ACCOUNT_NOT_FOUND"
                  message: "The specified youth account was not found"
                  details: "Youth account YTH-456789 does not exist or is not accessible"
                  timestamp: "2024-01-16T15:45:00Z"
                  requestId: "550e8400-e29b-41d4-a716-446655440000"

    Conflict:
      description: Conflict - Resource conflict or concurrent modification
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            transfer_in_progress:
              summary: Transfer already in progress
              value:
                error:
                  code: "TRANSFER_IN_PROGRESS"
                  message: "A transfer is already in progress for this account"
                  details: "Please wait for the current transfer to complete before initiating a new one"
                  timestamp: "2024-01-16T15:45:00Z"
                  requestId: "550e8400-e29b-41d4-a716-446655440000"

    UnprocessableEntity:
      description: Unprocessable Entity - Business rule violation
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            insufficient_funds:
              summary: Insufficient funds in parent account
              value:
                error:
                  code: "INSUFFICIENT_FUNDS"
                  message: "Insufficient funds in parent account"
                  details: "Available balance: $4,500.00, Requested transfer: $6,000.00"
                  timestamp: "2024-01-16T15:45:00Z"
                  requestId: "550e8400-e29b-41d4-a716-446655440000"

    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
        X-RateLimit-Limit:
          description: Rate limit maximum
          schema:
            type: integer
            example: 1000
        X-RateLimit-Remaining:
          description: Requests remaining
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          description: Rate limit reset time (Unix timestamp)
          schema:
            type: integer
            example: 1642348800
        Retry-After:
          description: Seconds to wait before retrying
          schema:
            type: integer
            example: 3600
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            rate_limit_exceeded:
              summary: API rate limit exceeded
              value:
                error:
                  code: "RATE_LIMIT_EXCEEDED"
                  message: "API rate limit exceeded"
                  details: "Maximum 1000 requests per hour allowed. Limit resets at 2024-01-16T16:00:00Z"
                  timestamp: "2024-01-16T15:45:00Z"
                  requestId: "550e8400-e29b-41d4-a716-446655440000"

    InternalServerError:
      description: Internal Server Error - System error occurred
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            system_error:
              summary: Internal system error
              value:
                error:
                  code: "INTERNAL_ERROR"
                  message: "An internal system error occurred"
                  details: "Please try again later or contact support if the problem persists"
                  timestamp: "2024-01-16T15:45:00Z"
                  requestId: "550e8400-e29b-41d4-a716-446655440000"

# Rate Limiting Configuration
x-rate-limits:
  general:
    limit: 1000
    window: 3600  # 1 hour
    scope: "user"
  fund-transfer:
    limit: 10
    window: 3600  # 1 hour
    scope: "user"
  dashboard:
    limit: 100
    window: 3600  # 1 hour
    scope: "user"
  transaction-history:
    limit: 50
    window: 3600  # 1 hour
    scope: "user"

# API Versioning
x-api-version:
  current: "1.0.0"
  supported: ["1.0.0"]
  deprecated: []
  sunset: null

# Compliance and Audit
x-compliance:
  pci-dss: "Level 1"
  gdpr: true
  sox: true
  bsa: true
  iso27001: true
  audit-retention: "7 years"

# Performance SLA
x-performance-sla:
  response-time-p95: "200ms"
  availability: "99.99%"
  throughput: "10,000 concurrent users"
  rto: "4 hours"
  rpo: "1 hour"