openapi: 3.0.3
info:
  title: SCIB Task Management API
  description: |
    Task Creation Synchronization System API for SCIB Task Management Platform.
    
    This API provides real-time task creation and synchronization capabilities with WebSocket support.
    Tasks appear on all connected users' boards within 500ms of creation.
    
    ## Key Features
    - Real-time task synchronization via WebSocket
    - Comprehensive task validation
    - Bulk task creation with batch processing
    - JWT-based authentication
    - Role-based access control
    
    ## Related Documentation
    - High-Level Design: API Development/Requirement Documents/HLDDocument.txt
    - API Contract: API Development/Requirement Documents/APIContractOutline.txt
    - Story Reference: DEMO-1841
  version: 1.0.0
  contact:
    name: SCIB Development Team
    email: dev-team@scib.com
  license:
    name: Proprietary
    url: https://scib.com/license
servers:
  - url: https://api.scib.com/v1
    description: Production server
  - url: https://staging-api.scib.com/v1
    description: Staging server
  - url: http://localhost:8080/v1
    description: Development server

security:
  - bearerAuth: []

paths:
  /api/boards/{boardId}/tasks:
    post:
      summary: Create a new task
      description: |
        Creates a new task in the specified board. The task will be validated server-side
        and broadcast to all connected users via WebSocket within 500ms.
        
        **Performance Target**: < 200ms response time (95th percentile)
        **Real-time Sync**: Task appears on all boards within 500ms
      operationId: createTask
      tags:
        - Tasks
      parameters:
        - $ref: '#/components/parameters/BoardId'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreationRequest'
            examples:
              basic_task:
                summary: Basic task creation
                value:
                  title: "Implement user authentication"
                  description: "Add JWT-based authentication to the API endpoints"
                  priority: "HIGH"
                  columnId: "todo"
              complete_task:
                summary: Complete task with all fields
                value:
                  title: "Setup database schema"
                  description: "Create initial database tables and constraints"
                  assigneeId: "550e8400-e29b-41d4-a716-446655440000"
                  priority: "MEDIUM"
                  dueDate: "2024-12-25T10:00:00Z"
                  tags: ["database", "setup", "backend"]
                  columnId: "todo"
      responses:
        '201':
          description: Task created successfully
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
            Location:
              description: URL of the created task
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
              examples:
                created_task:
                  summary: Successfully created task
                  value:
                    id: "123e4567-e89b-12d3-a456-426614174000"
                    title: "Implement user authentication"
                    description: "Add JWT-based authentication to the API endpoints"
                    boardId: "550e8400-e29b-41d4-a716-446655440001"
                    assigneeId: "550e8400-e29b-41d4-a716-446655440000"
                    assigneeName: "John Doe"
                    priority: "HIGH"
                    dueDate: "2024-12-25T10:00:00Z"
                    tags: ["backend", "security", "authentication"]
                    columnId: "todo"
                    position: 1
                    createdAt: "2024-12-19T14:30:00Z"
                    createdBy: "550e8400-e29b-41d4-a716-446655440002"
                    createdByName: "Jane Smith"
                    updatedAt: "2024-12-19T14:30:00Z"
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/BoardNotFound'
        '409':
          $ref: '#/components/responses/DuplicateTitle'
        '422':
          $ref: '#/components/responses/BusinessRuleViolation'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/boards/{boardId}/tasks/batch:
    post:
      summary: Create multiple tasks in batch
      description: |
        Creates multiple tasks in a single batch operation. Supports up to 1000 tasks per request.
        All tasks are processed within a single transaction for atomicity.
        
        **Performance Target**: < 2000ms for 100 tasks
        **Batch Limit**: Maximum 1000 tasks per request
      operationId: createTasksBatch
      tags:
        - Tasks
        - Batch Operations
      parameters:
        - $ref: '#/components/parameters/BoardId'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchTaskCreationRequest'
            examples:
              batch_creation:
                summary: Batch task creation
                value:
                  tasks:
                    - title: "Setup database schema"
                      description: "Create initial database tables"
                      priority: "HIGH"
                      columnId: "todo"
                      tags: ["database", "setup"]
                    - title: "Implement API endpoints"
                      description: "Create REST API for task management"
                      assigneeId: "550e8400-e29b-41d4-a716-446655440000"
                      priority: "MEDIUM"
                      dueDate: "2024-12-30T17:00:00Z"
                      columnId: "todo"
                      tags: ["api", "backend"]
                  options:
                    validateOnly: false
                    continueOnError: false
      responses:
        '201':
          description: Batch creation completed successfully
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchTaskCreationResponse'
        '207':
          description: Partial success - some tasks created, some failed
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchTaskCreationResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/BoardNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/boards/{boardId}/tasks/validate:
    post:
      summary: Validate task data without creation
      description: |
        Validates task data without actually creating the task. Useful for real-time
        form validation and preventing invalid submissions.
        
        **Performance Target**: < 100ms response time
      operationId: validateTask
      tags:
        - Tasks
        - Validation
      parameters:
        - $ref: '#/components/parameters/BoardId'
        - $ref: '#/components/parameters/RequestId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskCreationRequest'
      responses:
        '200':
          description: Validation completed
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResult'
              examples:
                valid_task:
                  summary: Valid task data
                  value:
                    valid: true
                    errors: []
                    warnings:
                      - field: "dueDate"
                        message: "Due date is very close to current date"
                invalid_task:
                  summary: Invalid task data
                  value:
                    valid: false
                    errors:
                      - field: "title"
                        code: "DUPLICATE_TITLE"
                        message: "A task with this title already exists in the board"
                      - field: "assigneeId"
                        code: "INVALID_ASSIGNEE"
                        message: "Assignee does not have access to this board"
                    warnings: []
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/BoardNotFound'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'

  /health:
    get:
      summary: Health check endpoint
      description: Returns the health status of the API service
      operationId: healthCheck
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: ["UP", "DOWN"]
                  timestamp:
                    type: string
                    format: date-time
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: ["UP", "DOWN"]
                      redis:
                        type: string
                        enum: ["UP", "DOWN"]
                      websocket:
                        type: string
                        enum: ["UP", "DOWN"]
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: ["DOWN"]
                  timestamp:
                    type: string
                    format: date-time
                  error:
                    type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token for authentication. Token expires after 24 hours.
        Include in Authorization header: `Bearer <token>`

  parameters:
    BoardId:
      name: boardId
      in: path
      required: true
      description: UUID of the target board
      schema:
        type: string
        format: uuid
      example: "550e8400-e29b-41d4-a716-446655440001"
    
    RequestId:
      name: X-Request-ID
      in: header
      required: false
      description: Unique request identifier for tracing
      schema:
        type: string
        format: uuid
      example: "req-123e4567-e89b-12d3-a456-426614174000"

  headers:
    RequestId:
      description: Request correlation ID
      schema:
        type: string
        format: uuid
    
    RateLimitLimit:
      description: Request limit per window
      schema:
        type: integer
    
    RateLimitRemaining:
      description: Remaining requests in current window
      schema:
        type: integer
    
    RateLimitReset:
      description: Unix timestamp when rate limit resets
      schema:
        type: integer

  schemas:
    TaskCreationRequest:
      type: object
      required:
        - title
        - priority
        - columnId
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 200
          description: Task title, must be unique within the board
          example: "Implement user authentication"
        description:
          type: string
          maxLength: 2000
          description: Detailed task description
          example: "Add JWT-based authentication to the API endpoints"
        assigneeId:
          type: string
          format: uuid
          description: UUID of the user assigned to this task
          example: "550e8400-e29b-41d4-a716-446655440000"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority level
          example: "HIGH"
        dueDate:
          type: string
          format: date-time
          description: ISO8601 datetime, must be in the future
          example: "2024-12-25T10:00:00Z"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          description: Array of task tags
          example: ["backend", "security", "authentication"]
        columnId:
          type: string
          description: ID of the column where the task should be placed
          example: "todo"

    Task:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
          example: "123e4567-e89b-12d3-a456-426614174000"
        title:
          type: string
          description: Task title
          example: "Implement user authentication"
        description:
          type: string
          description: Task description
          example: "Add JWT-based authentication to the API endpoints"
        boardId:
          type: string
          format: uuid
          description: Board identifier
          example: "550e8400-e29b-41d4-a716-446655440001"
        assigneeId:
          type: string
          format: uuid
          nullable: true
          description: Assigned user identifier
          example: "550e8400-e29b-41d4-a716-446655440000"
        assigneeName:
          type: string
          nullable: true
          description: Assigned user display name
          example: "John Doe"
        priority:
          type: string
          enum: ["LOW", "MEDIUM", "HIGH", "CRITICAL"]
          description: Task priority
          example: "HIGH"
        dueDate:
          type: string
          format: date-time
          nullable: true
          description: Task due date
          example: "2024-12-25T10:00:00Z"
        tags:
          type: array
          items:
            type: string
          description: Task tags
          example: ["backend", "security", "authentication"]
        columnId:
          type: string
          description: Column identifier
          example: "todo"
        position:
          type: integer
          description: Position within the column
          example: 1
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2024-12-19T14:30:00Z"
        createdBy:
          type: string
          format: uuid
          description: Creator user identifier
          example: "550e8400-e29b-41d4-a716-446655440002"
        createdByName:
          type: string
          description: Creator display name
          example: "Jane Smith"
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-12-19T14:30:00Z"

    BatchTaskCreationRequest:
      type: object
      required:
        - tasks
      properties:
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/TaskCreationRequest'
          minItems: 1
          maxItems: 1000
          description: Array of tasks to create
        options:
          type: object
          properties:
            validateOnly:
              type: boolean
              default: false
              description: If true, only validate without creating tasks
            continueOnError:
              type: boolean
              default: false
              description: If true, continue processing even if some tasks fail validation

    BatchTaskCreationResponse:
      type: object
      properties:
        batchId:
          type: string
          format: uuid
          description: Unique batch identifier
          example: "batch-123e4567-e89b-12d3-a456-426614174000"
        totalRequested:
          type: integer
          description: Total number of tasks requested
          example: 2
        totalCreated:
          type: integer
          description: Number of tasks successfully created
          example: 2
        totalFailed:
          type: integer
          description: Number of tasks that failed creation
          example: 0
        tasks:
          type: array
          items:
            $ref: '#/components/schemas/Task'
          description: Successfully created tasks
        errors:
          type: array
          items:
            $ref: '#/components/schemas/BatchError'
          description: Errors for failed tasks
        processingTimeMs:
          type: integer
          description: Total processing time in milliseconds
          example: 150
        createdAt:
          type: string
          format: date-time
          description: Batch processing timestamp
          example: "2024-12-19T14:30:00Z"

    BatchError:
      type: object
      properties:
        index:
          type: integer
          description: Index of the failed task in the request array
          example: 1
        task:
          type: object
          description: The task data that failed
        error:
          $ref: '#/components/schemas/ErrorDetail'

    ValidationResult:
      type: object
      properties:
        valid:
          type: boolean
          description: Whether the task data is valid
          example: true
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
          description: Validation errors
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/ValidationWarning'
          description: Validation warnings

    ValidationError:
      type: object
      properties:
        field:
          type: string
          description: Field name that failed validation
          example: "title"
        code:
          type: string
          description: Error code
          example: "DUPLICATE_TITLE"
        message:
          type: string
          description: Human-readable error message
          example: "A task with this title already exists in the board"

    ValidationWarning:
      type: object
      properties:
        field:
          type: string
          description: Field name with warning
          example: "dueDate"
        message:
          type: string
          description: Warning message
          example: "Due date is very close to current date"

    ErrorResponse:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'

    ErrorDetail:
      type: object
      properties:
        code:
          type: string
          description: Error code
          example: "VALIDATION_ERROR"
        message:
          type: string
          description: Human-readable error message
          example: "Request validation failed"
        details:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Field-specific error details
          example:
            title: ["Title cannot be empty", "Title must be unique within the board"]
            priority: ["Priority must be one of: LOW, MEDIUM, HIGH, CRITICAL"]
        timestamp:
          type: string
          format: date-time
          description: Error timestamp
          example: "2024-12-19T14:30:00Z"
        requestId:
          type: string
          description: Request correlation ID
          example: "req-123456"
        path:
          type: string
          description: Request path
          example: "/api/boards/123/tasks"
        method:
          type: string
          description: HTTP method
          example: "POST"

    WebSocketMessage:
      type: object
      discriminator:
        propertyName: type
        mapping:
          TASK_CREATED: '#/components/schemas/TaskCreatedEvent'
          TASKS_BATCH_CREATED: '#/components/schemas/TasksBatchCreatedEvent'
          CONNECTION_ESTABLISHED: '#/components/schemas/ConnectionEstablishedEvent'
          CONNECTION_ERROR: '#/components/schemas/ConnectionErrorEvent'
      properties:
        type:
          type: string
          description: Event type
        timestamp:
          type: string
          format: date-time
          description: Event timestamp

    TaskCreatedEvent:
      allOf:
        - $ref: '#/components/schemas/WebSocketMessage'
        - type: object
          properties:
            type:
              type: string
              enum: ["TASK_CREATED"]
            boardId:
              type: string
              format: uuid
              description: Board identifier
            task:
              $ref: '#/components/schemas/Task'
            metadata:
              type: object
              properties:
                source:
                  type: string
                  example: "api"
                requestId:
                  type: string
                  example: "req-123456"
                userAgent:
                  type: string
                  example: "Mozilla/5.0..."

    TasksBatchCreatedEvent:
      allOf:
        - $ref: '#/components/schemas/WebSocketMessage'
        - type: object
          properties:
            type:
              type: string
              enum: ["TASKS_BATCH_CREATED"]
            boardId:
              type: string
              format: uuid
              description: Board identifier
            batchId:
              type: string
              format: uuid
              description: Batch identifier
            totalTasks:
              type: integer
              description: Total number of tasks in batch
            tasks:
              type: array
              items:
                $ref: '#/components/schemas/Task'
              description: Created tasks
            metadata:
              type: object
              properties:
                source:
                  type: string
                  example: "batch_api"
                requestId:
                  type: string
                  example: "req-123456"
                processingTimeMs:
                  type: integer
                  example: 150

    ConnectionEstablishedEvent:
      allOf:
        - $ref: '#/components/schemas/WebSocketMessage'
        - type: object
          properties:
            type:
              type: string
              enum: ["CONNECTION_ESTABLISHED"]
            boardId:
              type: string
              format: uuid
            userId:
              type: string
              format: uuid
            sessionId:
              type: string
              example: "session-123456"

    ConnectionErrorEvent:
      allOf:
        - $ref: '#/components/schemas/WebSocketMessage'
        - type: object
          properties:
            type:
              type: string
              enum: ["CONNECTION_ERROR"]
            error:
              $ref: '#/components/schemas/ErrorDetail'

  responses:
    ValidationError:
      description: Request validation failed
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            validation_error:
              summary: Validation error example
              value:
                error:
                  code: "VALIDATION_ERROR"
                  message: "Request validation failed"
                  details:
                    title: ["Title cannot be empty", "Title must be unique within the board"]
                    priority: ["Priority must be one of: LOW, MEDIUM, HIGH, CRITICAL"]
                    dueDate: ["Due date must be in the future"]
                  timestamp: "2024-12-19T14:30:00Z"
                  requestId: "req-123456"
                  path: "/api/boards/123/tasks"
                  method: "POST"

    Unauthorized:
      description: Authentication required
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
        WWW-Authenticate:
          description: Authentication scheme
          schema:
            type: string
            example: "Bearer"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unauthorized:
              summary: Unauthorized access
              value:
                error:
                  code: "UNAUTHORIZED"
                  message: "Authentication required"
                  timestamp: "2024-12-19T14:30:00Z"
                  requestId: "req-123456"

    Forbidden:
      description: Insufficient permissions
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            forbidden:
              summary: Access denied
              value:
                error:
                  code: "ACCESS_DENIED"
                  message: "Insufficient permissions to create tasks in this board"
                  timestamp: "2024-12-19T14:30:00Z"
                  requestId: "req-123456"

    BoardNotFound:
      description: Board not found
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            board_not_found:
              summary: Board not found
              value:
                error:
                  code: "BOARD_NOT_FOUND"
                  message: "Board with ID 550e8400-e29b-41d4-a716-446655440001 not found"
                  timestamp: "2024-12-19T14:30:00Z"
                  requestId: "req-123456"

    DuplicateTitle:
      description: Task title already exists
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            duplicate_title:
              summary: Duplicate task title
              value:
                error:
                  code: "DUPLICATE_TITLE"
                  message: "A task with this title already exists in the board"
                  timestamp: "2024-12-19T14:30:00Z"
                  requestId: "req-123456"

    BusinessRuleViolation:
      description: Business rule constraint violated
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            business_rule_violation:
              summary: Business rule violation
              value:
                error:
                  code: "BUSINESS_RULE_VIOLATION"
                  message: "Assignee does not have access to this board"
                  timestamp: "2024-12-19T14:30:00Z"
                  requestId: "req-123456"

    RateLimitExceeded:
      description: Rate limit exceeded
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
        X-RateLimit-Limit:
          $ref: '#/components/headers/RateLimitLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/RateLimitRemaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/RateLimitReset'
        Retry-After:
          description: Seconds to wait before retrying
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            rate_limit_exceeded:
              summary: Rate limit exceeded
              value:
                error:
                  code: "RATE_LIMIT_EXCEEDED"
                  message: "Rate limit exceeded. Try again in 30 seconds."
                  retryAfter: 30
                  timestamp: "2024-12-19T14:30:00Z"
                  requestId: "req-123456"

    InternalError:
      description: Internal server error
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal_error:
              summary: Internal server error
              value:
                error:
                  code: "INTERNAL_ERROR"
                  message: "An unexpected error occurred while creating the task"
                  timestamp: "2024-12-19T14:30:00Z"
                  requestId: "req-123456"

# WebSocket API Documentation
# WebSocket URL: wss://api.scib.com/ws/boards/{boardId}?token={jwt_token}
# 
# Connection Authentication:
# - JWT token required in query parameter or Authorization header
# - Connection established event sent on successful connection
# - Connection error event sent on authentication failure
#
# Real-time Events:
# - TASK_CREATED: Sent when a task is created via API
# - TASKS_BATCH_CREATED: Sent when multiple tasks are created via batch API
# - CONNECTION_ESTABLISHED: Sent when WebSocket connection is established
# - CONNECTION_ERROR: Sent when connection fails
#
# Performance Characteristics:
# - Task creation events broadcast within 50ms
# - Support for 10,000+ concurrent connections
# - Automatic reconnection with exponential backoff
# - Message delivery guarantee: at-least-once
#
# Rate Limits:
# - Single task creation: 100 requests/minute per user
# - Batch task creation: 10 requests/minute per user
# - Task validation: 200 requests/minute per user
# - WebSocket connections: 50 connections per user
#
# Security:
# - TLS 1.3 encryption for all communications
# - JWT-based authentication with 24-hour expiration
# - Role-based access control at board level
# - Input validation and sanitization
# - Rate limiting and DDoS protection
#
# Compliance:
# - GDPR compliant data handling
# - SOC 2 Type II certified
# - ISO 27001 aligned security controls
# - Comprehensive audit logging
# - Data encryption in transit and at rest