openapi: 3.0.3
info:
  title: Task Management API
  version: 1.0.0
  description: |
    Enterprise-grade Task Management API for creating and managing tasks with real-time synchronization capabilities.
    
    This API follows security-by-design principles and provides comprehensive task creation functionality
    with validation, authentication, and audit logging.
    
    ## Features
    - JWT-based authentication and RBAC authorization
    - Comprehensive input validation and sanitization
    - Real-time task synchronization via WebSocket
    - Audit logging and compliance support
    - Rate limiting and security controls
    
    ## Security
    - All endpoints require JWT authentication
    - Role-based access control (RBAC)
    - Input validation and XSS/SQL injection prevention
    - Rate limiting: 100 requests per minute per user
    - TLS 1.3 encryption in transit
    - AES-256 encryption at rest
    
    ## Compliance
    - GDPR compliant data handling
    - PCI-DSS security standards
    - ISO 27001 information security management
    - SOC 2 Type II controls
  contact:
    name: API Support Team
    email: api-support@taskmanagement.com
    url: https://docs.taskmanagement.com
  license:
    name: Proprietary
    url: https://taskmanagement.com/license
  termsOfService: https://taskmanagement.com/terms

servers:
  - url: https://api.taskmanagement.com
    description: Production server
  - url: https://staging-api.taskmanagement.com
    description: Staging server
  - url: https://dev-api.taskmanagement.com
    description: Development server

paths:
  /api/tasks:
    post:
      summary: Create a new task
      description: |
        Creates a new task in the system with comprehensive validation and real-time synchronization.
        
        The created task will be immediately synchronized across all connected user sessions
        via WebSocket notifications within 500ms.
        
        ## Business Rules
        - Task title is required and must be 1-255 characters
        - Due date must be in the future if specified
        - Assigned user must exist and be active
        - User must have 'task:create' permission
        
        ## Audit Logging
        All task creation operations are logged for compliance and audit purposes.
      operationId: createTask
      tags:
        - Tasks
      security:
        - bearerAuth: [task:create]
      parameters:
        - name: X-Request-ID
          in: header
          description: Unique request identifier for tracing
          required: false
          schema:
            type: string
            format: uuid
            example: "550e8400-e29b-41d4-a716-446655440000"
        - name: X-Client-Version
          in: header
          description: Client application version
          required: false
          schema:
            type: string
            example: "1.2.3"
        - name: User-Agent
          in: header
          description: Client application identifier
          required: false
          schema:
            type: string
            example: "TaskApp/1.0 (iOS 15.0)"
      requestBody:
        required: true
        description: Task creation request payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
            examples:
              basic_task:
                summary: Basic task creation
                description: Simple task with minimal required fields
                value:
                  title: "Complete project documentation"
                  description: "Create comprehensive documentation for the new API endpoints"
                  priority: "HIGH"
              full_task:
                summary: Complete task with all fields
                description: Task creation with all optional fields populated
                value:
                  title: "Review security implementation"
                  description: "Conduct thorough security review of authentication and authorization mechanisms"
                  status: "TODO"
                  priority: "CRITICAL"
                  dueDate: "2024-12-31T23:59:59Z"
                  assignedTo: "123e4567-e89b-12d3-a456-426614174000"
                  tags: ["security", "review", "urgent"]
      responses:
        '201':
          description: Task created successfully
          headers:
            X-Request-ID:
              description: Echo of request ID or generated ID
              schema:
                type: string
                format: uuid
            X-Response-Time:
              description: Response processing time in milliseconds
              schema:
                type: integer
                example: 145
            X-Rate-Limit-Remaining:
              description: Remaining requests in current window
              schema:
                type: integer
                example: 95
            X-Rate-Limit-Reset:
              description: Rate limit reset timestamp
              schema:
                type: integer
                format: unix-timestamp
                example: 1640995200
            Location:
              description: URI of the created task
              schema:
                type: string
                format: uri
                example: "/api/tasks/987fcdeb-51a2-43d1-9c67-123456789abc"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
              examples:
                created_task:
                  summary: Successfully created task
                  value:
                    id: "987fcdeb-51a2-43d1-9c67-123456789abc"
                    title: "Complete project documentation"
                    description: "Create comprehensive documentation for the new API endpoints"
                    status: "TODO"
                    priority: "HIGH"
                    dueDate: "2024-12-31T23:59:59Z"
                    createdAt: "2024-01-15T10:30:00Z"
                    updatedAt: "2024-01-15T10:30:00Z"
                    createdBy: "456e7890-e12b-34d5-a678-901234567def"
                    assignedTo: "123e4567-e89b-12d3-a456-426614174000"
                    tags: ["documentation", "api", "urgent"]
        '400':
          description: Bad request - Validation errors or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                validation_error:
                  summary: Validation failure
                  value:
                    error:
                      code: "VALIDATION_ERROR"
                      message: "Request validation failed"
                      details:
                        - field: "title"
                          message: "Title is required and cannot be empty"
                          code: "REQUIRED_FIELD"
                        - field: "dueDate"
                          message: "Due date cannot be in the past"
                          code: "INVALID_DATE"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"
        '401':
          description: Unauthorized - Missing or invalid authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                unauthorized:
                  summary: Authentication required
                  value:
                    error:
                      code: "UNAUTHORIZED"
                      message: "Authentication required"
                      details: "Invalid or missing Bearer token"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"
        '403':
          description: Forbidden - Insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                forbidden:
                  summary: Insufficient permissions
                  value:
                    error:
                      code: "FORBIDDEN"
                      message: "Insufficient permissions"
                      details: "User does not have 'task:create' permission"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"
        '409':
          description: Conflict - Business rule violation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                business_rule_violation:
                  summary: Business rule violation
                  value:
                    error:
                      code: "BUSINESS_RULE_VIOLATION"
                      message: "Task creation violates business rules"
                      details: "Cannot assign task to inactive user"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"
        '422':
          description: Unprocessable Entity - Semantic validation errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
              examples:
                semantic_error:
                  summary: Semantic validation error
                  value:
                    error:
                      code: "SEMANTIC_ERROR"
                      message: "Request contains semantic errors"
                      details:
                        - field: "assignedTo"
                          message: "User with provided UUID does not exist"
                          code: "USER_NOT_FOUND"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"
        '429':
          description: Too Many Requests - Rate limit exceeded
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
                example: 60
            X-Rate-Limit-Remaining:
              description: Remaining requests in current window
              schema:
                type: integer
                example: 0
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
              examples:
                rate_limit_exceeded:
                  summary: Rate limit exceeded
                  value:
                    error:
                      code: "RATE_LIMIT_EXCEEDED"
                      message: "Too many requests"
                      details: "Rate limit of 100 requests per minute exceeded"
                      retryAfter: 60
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"
        '500':
          description: Internal Server Error - Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                internal_error:
                  summary: Internal server error
                  value:
                    error:
                      code: "INTERNAL_SERVER_ERROR"
                      message: "An unexpected error occurred"
                      details: "Please try again later or contact support"
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"
        '503':
          description: Service Unavailable - Service temporarily unavailable
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying
              schema:
                type: integer
                example: 300
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableError'
              examples:
                service_unavailable:
                  summary: Service temporarily unavailable
                  value:
                    error:
                      code: "SERVICE_UNAVAILABLE"
                      message: "Service temporarily unavailable"
                      details: "Database maintenance in progress"
                      retryAfter: 300
                      timestamp: "2024-01-15T10:30:00Z"
                      requestId: "req_123456789"

  /health:
    get:
      summary: Health check endpoint
      description: Returns the health status of the API service
      operationId: healthCheck
      tags:
        - Health
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                example:
                  status: "healthy"
                  timestamp: "2024-01-15T10:30:00Z"
                  version: "1.0.0"
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [unhealthy]
                  timestamp:
                    type: string
                    format: date-time
                  errors:
                    type: array
                    items:
                      type: string

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication. Include the token in the Authorization header:
        `Authorization: Bearer <token>`
        
        Token expiration: 1 hour
        Refresh token mechanism available
        
  schemas:
    CreateTaskRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Task title (required)
          example: "Complete project documentation"
          pattern: "^[\\s\\S]*\\S[\\s\\S]*$"
        description:
          type: string
          maxLength: 1000
          description: Detailed task description
          example: "Create comprehensive documentation for the new API endpoints"
        status:
          $ref: '#/components/schemas/TaskStatus'
        priority:
          $ref: '#/components/schemas/TaskPriority'
        dueDate:
          type: string
          format: date-time
          description: Task due date in ISO 8601 format (must be future date)
          example: "2024-12-31T23:59:59Z"
        assignedTo:
          type: string
          format: uuid
          description: UUID of the user assigned to the task
          example: "123e4567-e89b-12d3-a456-426614174000"
        tags:
          type: array
          items:
            type: string
            maxLength: 50
            pattern: "^[a-zA-Z0-9_-]+$"
          maxItems: 10
          uniqueItems: true
          description: Array of task tags (alphanumeric, underscore, hyphen only)
          example: ["documentation", "api", "urgent"]
      additionalProperties: false
      example:
        title: "Complete project documentation"
        description: "Create comprehensive documentation for the new API endpoints"
        priority: "HIGH"
        dueDate: "2024-12-31T23:59:59Z"
        assignedTo: "123e4567-e89b-12d3-a456-426614174000"
        tags: ["documentation", "api", "urgent"]

    Task:
      type: object
      required:
        - id
        - title
        - status
        - priority
        - createdAt
        - updatedAt
        - createdBy
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
          example: "987fcdeb-51a2-43d1-9c67-123456789abc"
          readOnly: true
        title:
          type: string
          minLength: 1
          maxLength: 255
          description: Task title
          example: "Complete project documentation"
        description:
          type: string
          maxLength: 1000
          description: Task description
          example: "Create comprehensive documentation for the new API endpoints"
        status:
          $ref: '#/components/schemas/TaskStatus'
        priority:
          $ref: '#/components/schemas/TaskPriority'
        dueDate:
          type: string
          format: date-time
          description: Task due date
          example: "2024-12-31T23:59:59Z"
          nullable: true
        createdAt:
          type: string
          format: date-time
          description: Task creation timestamp
          example: "2024-01-15T10:30:00Z"
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2024-01-15T10:30:00Z"
          readOnly: true
        createdBy:
          type: string
          format: uuid
          description: UUID of the user who created the task
          example: "456e7890-e12b-34d5-a678-901234567def"
          readOnly: true
        assignedTo:
          type: string
          format: uuid
          description: UUID of the assigned user
          example: "123e4567-e89b-12d3-a456-426614174000"
          nullable: true
        tags:
          type: array
          items:
            type: string
            maxLength: 50
          maxItems: 10
          uniqueItems: true
          description: Task tags
          example: ["documentation", "api", "urgent"]
      additionalProperties: false

    TaskStatus:
      type: string
      enum:
        - TODO
        - IN_PROGRESS
        - DONE
        - CANCELLED
      default: TODO
      description: |
        Current status of the task:
        - TODO: Task is created but not started
        - IN_PROGRESS: Task is being worked on
        - DONE: Task is completed
        - CANCELLED: Task is cancelled
      example: "TODO"

    TaskPriority:
      type: string
      enum:
        - LOW
        - MEDIUM
        - HIGH
        - CRITICAL
      default: MEDIUM
      description: |
        Task priority level:
        - LOW: Low priority task
        - MEDIUM: Normal priority task
        - HIGH: High priority task
        - CRITICAL: Critical priority task requiring immediate attention
      example: "MEDIUM"

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
            - requestId
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: "UNAUTHORIZED"
            message:
              type: string
              description: Human-readable error message
              example: "Authentication required"
            details:
              type: string
              description: Additional error details
              example: "Invalid or missing Bearer token"
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              description: Request identifier for tracing
              example: "req_123456789"
          additionalProperties: false
      additionalProperties: false

    ValidationError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - timestamp
            - requestId
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Human-readable error message
              example: "Request validation failed"
            details:
              type: array
              items:
                type: object
                required:
                  - field
                  - message
                  - code
                properties:
                  field:
                    type: string
                    description: Field name that failed validation
                    example: "title"
                  message:
                    type: string
                    description: Validation error message
                    example: "Title is required and cannot be empty"
                  code:
                    type: string
                    description: Validation error code
                    example: "REQUIRED_FIELD"
                additionalProperties: false
              description: Array of validation errors
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              description: Request identifier for tracing
              example: "req_123456789"
          additionalProperties: false
      additionalProperties: false

    RateLimitError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - retryAfter
            - timestamp
            - requestId
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: "RATE_LIMIT_EXCEEDED"
            message:
              type: string
              description: Human-readable error message
              example: "Too many requests"
            details:
              type: string
              description: Rate limit details
              example: "Rate limit of 100 requests per minute exceeded"
            retryAfter:
              type: integer
              description: Seconds to wait before retrying
              example: 60
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              description: Request identifier for tracing
              example: "req_123456789"
          additionalProperties: false
      additionalProperties: false

    ServiceUnavailableError:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - details
            - retryAfter
            - timestamp
            - requestId
          properties:
            code:
              type: string
              description: Error code for programmatic handling
              example: "SERVICE_UNAVAILABLE"
            message:
              type: string
              description: Human-readable error message
              example: "Service temporarily unavailable"
            details:
              type: string
              description: Service unavailability details
              example: "Database maintenance in progress"
            retryAfter:
              type: integer
              description: Seconds to wait before retrying
              example: 300
            timestamp:
              type: string
              format: date-time
              description: Error occurrence timestamp
              example: "2024-01-15T10:30:00Z"
            requestId:
              type: string
              description: Request identifier for tracing
              example: "req_123456789"
          additionalProperties: false
      additionalProperties: false

  examples:
    BasicTaskCreation:
      summary: Basic task creation
      description: Simple task with minimal required fields
      value:
        title: "Complete project documentation"
        description: "Create comprehensive documentation for the new API endpoints"
        priority: "HIGH"

    CompleteTaskCreation:
      summary: Complete task with all fields
      description: Task creation with all optional fields populated
      value:
        title: "Review security implementation"
        description: "Conduct thorough security review of authentication and authorization mechanisms"
        status: "TODO"
        priority: "CRITICAL"
        dueDate: "2024-12-31T23:59:59Z"
        assignedTo: "123e4567-e89b-12d3-a456-426614174000"
        tags: ["security", "review", "urgent"]

  parameters:
    RequestId:
      name: X-Request-ID
      in: header
      description: Unique request identifier for tracing
      required: false
      schema:
        type: string
        format: uuid
        example: "550e8400-e29b-41d4-a716-446655440000"

    ClientVersion:
      name: X-Client-Version
      in: header
      description: Client application version
      required: false
      schema:
        type: string
        example: "1.2.3"

  responses:
    Unauthorized:
      description: Unauthorized - Missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ValidationError:
      description: Bad request - Validation errors
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'

    RateLimitExceeded:
      description: Too Many Requests - Rate limit exceeded
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitError'

    InternalServerError:
      description: Internal Server Error - Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    ServiceUnavailable:
      description: Service Unavailable - Service temporarily unavailable
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceUnavailableError'

security:
  - bearerAuth: []

tags:
  - name: Tasks
    description: Task management operations
  - name: Health
    description: Service health monitoring

externalDocs:
  description: Complete API Documentation
  url: https://docs.taskmanagement.com/api

# OpenAPI Extensions for tooling and documentation
x-api-id: task-management-api
x-audience: external
x-api-category: business
x-logo:
  url: https://taskmanagement.com/logo.png
  altText: Task Management API
x-code-samples:
  - lang: curl
    source: |
      curl -X POST https://api.taskmanagement.com/api/tasks \
        -H "Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..." \
        -H "Content-Type: application/json" \
        -H "Accept: application/json" \
        -H "X-Request-ID: req_$(date +%s)" \
        -d '{
          "title": "Complete project documentation",
          "description": "Create comprehensive documentation for the new API endpoints",
          "priority": "HIGH",
          "dueDate": "2024-12-31T23:59:59Z",
          "tags": ["documentation", "api", "urgent"]
        }'
  - lang: javascript
    source: |
      const response = await fetch('https://api.taskmanagement.com/api/tasks', {
        method: 'POST',
        headers: {
          'Authorization': 'Bearer ' + token,
          'Content-Type': 'application/json',
          'Accept': 'application/json',
          'X-Request-ID': 'req_' + Date.now()
        },
        body: JSON.stringify({
          title: 'Complete project documentation',
          description: 'Create comprehensive documentation for the new API endpoints',
          priority: 'HIGH',
          dueDate: '2024-12-31T23:59:59Z',
          tags: ['documentation', 'api', 'urgent']
        })
      });
      
      if (response.ok) {
        const task = await response.json();
        console.log('Task created:', task);
      } else {
        const error = await response.json();
        console.error('Error creating task:', error);
      }
  - lang: python
    source: |
      import requests
      import json
      
      url = "https://api.taskmanagement.com/api/tasks"
      headers = {
          "Authorization": f"Bearer {token}",
          "Content-Type": "application/json",
          "Accept": "application/json",
          "X-Request-ID": f"req_{int(time.time())}"
      }
      
      payload = {
          "title": "Complete project documentation",
          "description": "Create comprehensive documentation for the new API endpoints",
          "priority": "HIGH",
          "dueDate": "2024-12-31T23:59:59Z",
          "tags": ["documentation", "api", "urgent"]
      }
      
      response = requests.post(url, headers=headers, data=json.dumps(payload))
      
      if response.status_code == 201:
          task = response.json()
          print(f"Task created: {task}")
      else:
          error = response.json()
          print(f"Error creating task: {error}")