openapi: 3.0.3
info:
  title: Youth Account Management System API
  description: |
    Comprehensive API for managing youth accounts, enabling parents and guardians to allocate and manage funds for their children's accounts while maintaining visibility and control over spending.
    
    ## Key Features
    - Youth account dashboard and balance management
    - Secure fund transfers between parent and youth accounts
    - Configurable spending limits (daily and weekly)
    - Comprehensive transaction history with filtering
    - Account status management and notifications
    - Bulk operations and webhook configurations
    
    ## Security
    - OAuth 2.0 authentication with JWT Bearer tokens
    - Multi-factor authentication for parents
    - Rate limiting and CORS protection
    - PCI-DSS and GDPR compliant
    
    ## Performance
    - Sub-500ms response times for critical operations
    - Support for 1,000 concurrent users
    - Horizontal scaling with microservices architecture
  version: 1.0.0
  contact:
    name: API Support Team
    email: api-support@youthaccounts.bank.com
    url: https://developer.youthaccounts.bank.com
  license:
    name: Proprietary
    url: https://youthaccounts.bank.com/license
  termsOfService: https://youthaccounts.bank.com/terms

servers:
  - url: https://api.youthaccounts.bank.com/v1
    description: Production server
  - url: https://api-staging.youthaccounts.bank.com/v1
    description: Staging server
  - url: https://api-dev.youthaccounts.bank.com/v1
    description: Development server

security:
  - OAuth2:
      - youth-account-management

paths:
  /api/youth-accounts/{youthAccountId}/dashboard:
    get:
      tags:
        - Youth Account Dashboard
      summary: Get youth account dashboard
      description: |
        Retrieves consolidated youth account information including balance, spending limit, and recent transactions.
        Mapped to SCIB-26 requirements.
      operationId: getYouthAccountDashboard
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Unique identifier for the youth account
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - name: includeTransactions
          in: query
          required: false
          description: Include recent transactions in response
          schema:
            type: boolean
            default: true
        - name: transactionLimit
          in: query
          required: false
          description: Number of recent transactions to include
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          description: Youth account dashboard data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YouthAccountDashboard'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/youth-accounts/{youthAccountId}/fund-transfer:
    post:
      tags:
        - Fund Transfer
      summary: Transfer funds to youth account
      description: |
        Allows parents to transfer funds from their primary account to a youth account.
        Mapped to SCIB-27 requirements.
      operationId: transferFundsToYouthAccount
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Target youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/XApiVersion'
        - $ref: '#/components/parameters/XIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundTransferRequest'
      responses:
        '201':
          description: Fund transfer completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/youth-accounts/{youthAccountId}/spending-limit:
    put:
      tags:
        - Spending Limits
      summary: Configure spending limits
      description: |
        Allows parents to configure weekly and daily spending limits for a youth account.
        Mapped to SCIB-28 requirements.
      operationId: configureSpendingLimits
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/XApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendingLimitRequest'
      responses:
        '200':
          description: Spending limits updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingLimitResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/youth-accounts/{youthAccountId}/transactions:
    get:
      tags:
        - Transaction History
      summary: Get transaction history
      description: |
        Retrieves paginated transaction history for a youth account with filtering options.
        Mapped to SCIB-29 requirements.
      operationId: getTransactionHistory
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - name: startDate
          in: query
          required: false
          description: Start date for transaction filter (ISO 8601 format)
          schema:
            type: string
            format: date
            example: '2024-01-01'
        - name: endDate
          in: query
          required: false
          description: End date for transaction filter (ISO 8601 format)
          schema:
            type: string
            format: date
            example: '2024-01-31'
        - name: transactionType
          in: query
          required: false
          description: Filter by transaction type
          schema:
            type: string
            enum: [DEBIT, CREDIT, ALL]
            default: ALL
        - name: minAmount
          in: query
          required: false
          description: Minimum transaction amount
          schema:
            type: number
            format: decimal
            minimum: 0
        - name: maxAmount
          in: query
          required: false
          description: Maximum transaction amount
          schema:
            type: number
            format: decimal
            minimum: 0
        - name: merchant
          in: query
          required: false
          description: Filter by merchant name (partial match)
          schema:
            type: string
            maxLength: 100
        - name: page
          in: query
          required: false
          description: Page number (1-based)
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: pageSize
          in: query
          required: false
          description: Items per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sortBy
          in: query
          required: false
          description: Sort field
          schema:
            type: string
            enum: [date, amount, merchant]
            default: date
        - name: sortOrder
          in: query
          required: false
          description: Sort order
          schema:
            type: string
            enum: [asc, desc]
            default: desc
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/XApiVersion'
      responses:
        '200':
          description: Transaction history retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/youth-accounts/{youthAccountId}/status:
    patch:
      tags:
        - Account Management
      summary: Update account status
      description: Allows parents to temporarily suspend or reactivate youth accounts
      operationId: updateAccountStatus
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/XApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountStatusRequest'
      responses:
        '200':
          description: Account status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/youth-accounts/{youthAccountId}/notifications:
    put:
      tags:
        - Notifications
      summary: Configure notification preferences
      description: Configure notification preferences for youth account activities
      operationId: configureNotifications
      parameters:
        - name: youthAccountId
          in: path
          required: true
          description: Youth account identifier
          schema:
            type: string
            pattern: '^ya-[0-9]{9}$'
            example: ya-123456789
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/XApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPreferencesRequest'
      responses:
        '200':
          description: Notification preferences updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferencesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/youth-accounts/bulk/fund-transfer:
    post:
      tags:
        - Bulk Operations
      summary: Bulk fund transfer
      description: Transfer funds to multiple youth accounts in a single operation
      operationId: bulkFundTransfer
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/XApiVersion'
        - $ref: '#/components/parameters/XIdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkTransferRequest'
      responses:
        '202':
          description: Bulk transfer request accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkTransferResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /api/webhooks:
    post:
      tags:
        - Webhooks
      summary: Configure webhook
      description: Configure webhooks for real-time event notifications
      operationId: configureWebhook
      parameters:
        - $ref: '#/components/parameters/XRequestId'
        - $ref: '#/components/parameters/XApiVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookRequest'
      responses:
        '201':
          description: Webhook configured successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /health:
    get:
      tags:
        - Health Check
      summary: Health check endpoint
      description: Returns the health status of the API service
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: 1.0.0

components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 authentication with JWT Bearer tokens
      flows:
        authorizationCode:
          authorizationUrl: https://auth.youthaccounts.bank.com/oauth/authorize
          tokenUrl: https://auth.youthaccounts.bank.com/oauth/token
          scopes:
            youth-account-management: Access to youth account management operations

  parameters:
    XRequestId:
      name: X-Request-ID
      in: header
      required: true
      description: Unique request identifier for tracing
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000
    
    XApiVersion:
      name: X-API-Version
      in: header
      required: false
      description: API version
      schema:
        type: string
        default: v1
        example: v1
    
    XIdempotencyKey:
      name: X-Idempotency-Key
      in: header
      required: false
      description: Idempotency key for safe retries
      schema:
        type: string
        format: uuid
        example: 123e4567-e89b-12d3-a456-426614174000

  schemas:
    YouthAccountDashboard:
      type: object
      required:
        - youthAccountId
        - accountNumber
        - youthName
        - accountBalance
        - currency
        - spendingLimit
        - parentAccountId
        - status
        - lastUpdated
      properties:
        youthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          example: ya-123456789
        accountNumber:
          type: string
          pattern: '^\*{4}[0-9]{4}$'
          example: '****1234'
        youthName:
          type: string
          maxLength: 100
          example: John Doe Jr
        accountBalance:
          type: number
          format: decimal
          minimum: 0
          example: 150.50
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
        spendingLimit:
          $ref: '#/components/schemas/SpendingLimit'
        parentAccountId:
          type: string
          pattern: '^pa-[0-9]{9}$'
          example: pa-987654321
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, CLOSED]
          example: ACTIVE
        lastUpdated:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        recentTransactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'

    SpendingLimit:
      type: object
      required:
        - weekly
        - daily
        - remaining
      properties:
        weekly:
          type: number
          format: decimal
          minimum: 0
          maximum: 1000
          example: 50.00
        daily:
          type: number
          format: decimal
          minimum: 0
          maximum: 200
          example: 10.00
        remaining:
          type: number
          format: decimal
          minimum: 0
          example: 35.00

    Transaction:
      type: object
      required:
        - transactionId
        - date
        - merchant
        - description
        - amount
        - transactionType
        - remainingBalance
      properties:
        transactionId:
          type: string
          pattern: '^txn-[0-9]{3,}$'
          example: txn-001
        date:
          type: string
          format: date-time
          example: '2024-01-01T10:30:00Z'
        merchant:
          type: string
          maxLength: 100
          example: Coffee Shop
        description:
          type: string
          maxLength: 200
          example: Purchase at Coffee Shop
        amount:
          type: number
          format: decimal
          example: -4.50
        transactionType:
          type: string
          enum: [DEBIT, CREDIT]
          example: DEBIT
        remainingBalance:
          type: number
          format: decimal
          minimum: 0
          example: 150.50
        category:
          type: string
          example: FOOD_BEVERAGE
        authorizationCode:
          type: string
          example: AUTH123
        location:
          $ref: '#/components/schemas/TransactionLocation'

    TransactionLocation:
      type: object
      properties:
        city:
          type: string
          example: New York
        state:
          type: string
          example: NY
        country:
          type: string
          pattern: '^[A-Z]{2}$'
          example: US

    FundTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transferAmount
        - currency
        - transferType
      properties:
        sourceAccountId:
          type: string
          pattern: '^pa-[0-9]{9}$'
          example: pa-987654321
        transferAmount:
          type: number
          format: decimal
          minimum: 1.00
          maximum: 500.00
          example: 25.00
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
        description:
          type: string
          maxLength: 100
          example: Weekly allowance
        transferType:
          type: string
          enum: [ALLOWANCE, BONUS, EMERGENCY]
          example: ALLOWANCE

    FundTransferResponse:
      type: object
      required:
        - transferId
        - status
        - sourceAccountId
        - targetYouthAccountId
        - transferAmount
        - currency
        - updatedBalance
        - transactionReference
        - processedAt
      properties:
        transferId:
          type: string
          pattern: '^tfr-[0-9]{9}$'
          example: tfr-123456789
        status:
          type: string
          enum: [SUCCESS, PENDING, FAILED]
          example: SUCCESS
        sourceAccountId:
          type: string
          pattern: '^pa-[0-9]{9}$'
          example: pa-987654321
        targetYouthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          example: ya-123456789
        transferAmount:
          type: number
          format: decimal
          example: 25.00
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
        updatedBalance:
          type: number
          format: decimal
          example: 175.50
        transactionReference:
          type: string
          example: TXN-REF-001
        processedAt:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        description:
          type: string
          example: Weekly allowance

    SpendingLimitRequest:
      type: object
      required:
        - weeklyLimit
        - dailyLimit
        - currency
      properties:
        weeklyLimit:
          type: number
          format: decimal
          minimum: 1.00
          maximum: 1000.00
          example: 50.00
        dailyLimit:
          type: number
          format: decimal
          minimum: 1.00
          maximum: 200.00
          example: 10.00
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
        effectiveDate:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
        notifyOnLimit:
          type: boolean
          default: true
          example: true
        notifyOnPercentage:
          type: integer
          minimum: 1
          maximum: 100
          example: 80

    SpendingLimitResponse:
      type: object
      required:
        - youthAccountId
        - spendingLimits
        - effectiveDate
        - notifications
        - status
        - updatedAt
        - updatedBy
      properties:
        youthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          example: ya-123456789
        spendingLimits:
          type: object
          properties:
            weeklyLimit:
              type: number
              format: decimal
              example: 50.00
            dailyLimit:
              type: number
              format: decimal
              example: 10.00
            currency:
              type: string
              pattern: '^[A-Z]{3}$'
              example: USD
        effectiveDate:
          type: string
          format: date-time
          example: '2024-01-01T00:00:00Z'
        notifications:
          type: object
          properties:
            notifyOnLimit:
              type: boolean
              example: true
            notifyOnPercentage:
              type: integer
              example: 80
        status:
          type: string
          enum: [UPDATED, PENDING, FAILED]
          example: UPDATED
        updatedAt:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        updatedBy:
          type: string
          pattern: '^pa-[0-9]{9}$'
          example: pa-987654321

    TransactionHistoryResponse:
      type: object
      required:
        - youthAccountId
        - transactions
        - pagination
        - summary
        - filters
      properties:
        youthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          example: ya-123456789
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'
        summary:
          $ref: '#/components/schemas/TransactionSummary'
        filters:
          $ref: '#/components/schemas/TransactionFilters'

    Pagination:
      type: object
      required:
        - page
        - pageSize
        - totalRecords
        - totalPages
        - hasNext
        - hasPrevious
      properties:
        page:
          type: integer
          minimum: 1
          example: 1
        pageSize:
          type: integer
          minimum: 1
          maximum: 100
          example: 20
        totalRecords:
          type: integer
          minimum: 0
          example: 45
        totalPages:
          type: integer
          minimum: 0
          example: 3
        hasNext:
          type: boolean
          example: true
        hasPrevious:
          type: boolean
          example: false

    TransactionSummary:
      type: object
      required:
        - totalDebits
        - totalCredits
        - netAmount
        - transactionCount
      properties:
        totalDebits:
          type: number
          format: decimal
          example: -125.50
        totalCredits:
          type: number
          format: decimal
          example: 200.00
        netAmount:
          type: number
          format: decimal
          example: 74.50
        transactionCount:
          type: integer
          minimum: 0
          example: 45

    TransactionFilters:
      type: object
      properties:
        startDate:
          type: string
          format: date
          example: '2024-01-01'
        endDate:
          type: string
          format: date
          example: '2024-01-31'
        transactionType:
          type: string
          enum: [DEBIT, CREDIT, ALL]
          example: ALL

    AccountStatusRequest:
      type: object
      required:
        - status
        - reason
      properties:
        status:
          type: string
          enum: [ACTIVE, SUSPENDED]
          example: SUSPENDED
        reason:
          type: string
          maxLength: 200
          example: Temporary suspension for review
        effectiveDate:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        autoReactivateDate:
          type: string
          format: date-time
          example: '2024-01-07T12:00:00Z'

    AccountStatusResponse:
      type: object
      required:
        - youthAccountId
        - previousStatus
        - currentStatus
        - reason
        - effectiveDate
        - updatedBy
        - updatedAt
      properties:
        youthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          example: ya-123456789
        previousStatus:
          type: string
          enum: [ACTIVE, SUSPENDED, CLOSED]
          example: ACTIVE
        currentStatus:
          type: string
          enum: [ACTIVE, SUSPENDED, CLOSED]
          example: SUSPENDED
        reason:
          type: string
          example: Temporary suspension for review
        effectiveDate:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        autoReactivateDate:
          type: string
          format: date-time
          example: '2024-01-07T12:00:00Z'
        updatedBy:
          type: string
          pattern: '^pa-[0-9]{9}$'
          example: pa-987654321
        updatedAt:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'

    NotificationPreferencesRequest:
      type: object
      required:
        - email
        - sms
        - events
        - thresholds
      properties:
        email:
          type: object
          properties:
            enabled:
              type: boolean
              example: true
            address:
              type: string
              format: email
              example: parent@example.com
            frequency:
              type: string
              enum: [IMMEDIATE, DAILY, WEEKLY]
              example: IMMEDIATE
        sms:
          type: object
          properties:
            enabled:
              type: boolean
              example: false
            phoneNumber:
              type: string
              pattern: '^\+[1-9]\d{1,14}$'
              example: '+1234567890'
        events:
          type: object
          properties:
            transactionAlert:
              type: boolean
              example: true
            limitReached:
              type: boolean
              example: true
            lowBalance:
              type: boolean
              example: true
            accountSuspended:
              type: boolean
              example: true
        thresholds:
          type: object
          properties:
            lowBalanceAmount:
              type: number
              format: decimal
              minimum: 0
              example: 10.00
            largeTransactionAmount:
              type: number
              format: decimal
              minimum: 0
              example: 50.00

    NotificationPreferencesResponse:
      type: object
      required:
        - youthAccountId
        - notificationPreferences
        - updatedAt
      properties:
        youthAccountId:
          type: string
          pattern: '^ya-[0-9]{9}$'
          example: ya-123456789
        notificationPreferences:
          type: object
          properties:
            email:
              type: object
              properties:
                enabled:
                  type: boolean
                  example: true
                address:
                  type: string
                  format: email
                  example: parent@example.com
                frequency:
                  type: string
                  enum: [IMMEDIATE, DAILY, WEEKLY]
                  example: IMMEDIATE
                verified:
                  type: boolean
                  example: true
            sms:
              type: object
              properties:
                enabled:
                  type: boolean
                  example: false
                phoneNumber:
                  type: string
                  example: '+1234567890'
                verified:
                  type: boolean
                  example: false
            events:
              type: object
              properties:
                transactionAlert:
                  type: boolean
                  example: true
                limitReached:
                  type: boolean
                  example: true
                lowBalance:
                  type: boolean
                  example: true
                accountSuspended:
                  type: boolean
                  example: true
            thresholds:
              type: object
              properties:
                lowBalanceAmount:
                  type: number
                  format: decimal
                  example: 10.00
                largeTransactionAmount:
                  type: number
                  format: decimal
                  example: 50.00
        updatedAt:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'

    BulkTransferRequest:
      type: object
      required:
        - sourceAccountId
        - transfers
        - currency
        - transferType
      properties:
        sourceAccountId:
          type: string
          pattern: '^pa-[0-9]{9}$'
          example: pa-987654321
        transfers:
          type: array
          minItems: 1
          maxItems: 100
          items:
            type: object
            required:
              - youthAccountId
              - amount
            properties:
              youthAccountId:
                type: string
                pattern: '^ya-[0-9]{9}$'
                example: ya-123456789
              amount:
                type: number
                format: decimal
                minimum: 1.00
                maximum: 500.00
                example: 25.00
              description:
                type: string
                maxLength: 100
                example: Weekly allowance
        currency:
          type: string
          pattern: '^[A-Z]{3}$'
          example: USD
        transferType:
          type: string
          enum: [ALLOWANCE, BONUS, EMERGENCY]
          example: ALLOWANCE

    BulkTransferResponse:
      type: object
      required:
        - batchId
        - status
        - totalTransfers
        - totalAmount
        - submittedAt
        - estimatedCompletion
        - statusUrl
      properties:
        batchId:
          type: string
          pattern: '^batch-[0-9]{9}$'
          example: batch-123456789
        status:
          type: string
          enum: [PROCESSING, COMPLETED, FAILED]
          example: PROCESSING
        totalTransfers:
          type: integer
          minimum: 1
          example: 2
        totalAmount:
          type: number
          format: decimal
          example: 40.00
        submittedAt:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        estimatedCompletion:
          type: string
          format: date-time
          example: '2024-01-01T12:05:00Z'
        statusUrl:
          type: string
          format: uri
          example: /api/bulk-operations/batch-123456789/status

    WebhookRequest:
      type: object
      required:
        - url
        - events
        - secret
        - active
      properties:
        url:
          type: string
          format: uri
          example: https://client.example.com/webhooks/youth-accounts
        events:
          type: array
          minItems: 1
          items:
            type: string
            enum:
              - transaction.created
              - limit.reached
              - balance.low
              - account.suspended
          example:
            - transaction.created
            - limit.reached
        secret:
          type: string
          minLength: 16
          maxLength: 64
          example: webhook_secret_key
        active:
          type: boolean
          example: true

    WebhookResponse:
      type: object
      required:
        - webhookId
        - url
        - events
        - active
        - createdAt
        - lastDelivery
        - deliveryStatus
      properties:
        webhookId:
          type: string
          pattern: '^wh-[0-9]{9}$'
          example: wh-123456789
        url:
          type: string
          format: uri
          example: https://client.example.com/webhooks/youth-accounts
        events:
          type: array
          items:
            type: string
          example:
            - transaction.created
            - limit.reached
        active:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
          example: '2024-01-01T12:00:00Z'
        lastDelivery:
          type: string
          format: date-time
          nullable: true
          example: null
        deliveryStatus:
          type: string
          enum: [PENDING, SUCCESS, FAILED]
          example: PENDING

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - code
            - message
            - timestamp
            - requestId
          properties:
            code:
              type: string
              example: INVALID_REQUEST
            message:
              type: string
              example: The request is invalid
            details:
              type: string
              example: Additional error details
            timestamp:
              type: string
              format: date-time
              example: '2024-01-01T12:00:00Z'
            requestId:
              type: string
              format: uuid
              example: 123e4567-e89b-12d3-a456-426614174000

  responses:
    BadRequest:
      description: Bad Request - Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: INVALID_REQUEST
              message: Invalid request parameters
              details: Youth account ID format is invalid
              timestamp: '2024-01-01T12:00:00Z'
              requestId: 123e4567-e89b-12d3-a456-426614174000

    Unauthorized:
      description: Unauthorized - Invalid or missing authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: UNAUTHORIZED
              message: Authentication required
              details: Invalid or expired authentication token
              timestamp: '2024-01-01T12:00:00Z'
              requestId: 123e4567-e89b-12d3-a456-426614174000

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: FORBIDDEN
              message: Access denied
              details: Parent not authorized to access this youth account
              timestamp: '2024-01-01T12:00:00Z'
              requestId: 123e4567-e89b-12d3-a456-426614174000

    NotFound:
      description: Not Found - Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: NOT_FOUND
              message: Resource not found
              details: Youth account not found
              timestamp: '2024-01-01T12:00:00Z'
              requestId: 123e4567-e89b-12d3-a456-426614174000

    PaymentRequired:
      description: Payment Required - Insufficient funds
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: INSUFFICIENT_FUNDS
              message: Insufficient balance in source account
              details: 'Available: $10.00, Requested: $25.00'
              timestamp: '2024-01-01T12:00:00Z'
              requestId: 123e4567-e89b-12d3-a456-426614174000

    Conflict:
      description: Conflict - Resource conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: DUPLICATE_REQUEST
              message: Duplicate request detected
              details: Transfer with same idempotency key already exists
              timestamp: '2024-01-01T12:00:00Z'
              requestId: 123e4567-e89b-12d3-a456-426614174000

    UnprocessableEntity:
      description: Unprocessable Entity - Business rule violation
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: BUSINESS_RULE_VIOLATION
              message: Business rule validation failed
              details: Daily limit cannot exceed weekly limit divided by 7
              timestamp: '2024-01-01T12:00:00Z'
              requestId: 123e4567-e89b-12d3-a456-426614174000

    InternalServerError:
      description: Internal Server Error - System error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              code: INTERNAL_ERROR
              message: An internal system error occurred
              details: Please try again later or contact support
              timestamp: '2024-01-01T12:00:00Z'
              requestId: 123e4567-e89b-12d3-a456-426614174000

  headers:
    X-RateLimit-Limit:
      description: The number of allowed requests in the current period
      schema:
        type: integer
        example: 1000
    
    X-RateLimit-Remaining:
      description: The number of remaining requests in the current period
      schema:
        type: integer
        example: 999
    
    X-RateLimit-Reset:
      description: The time at which the current rate limit window resets
      schema:
        type: integer
        format: int64
        example: 1640995200

# Rate limiting configuration
x-rate-limit:
  default: 1000 requests per hour
  burst: 100 requests per minute
  
# CORS configuration
x-cors:
  allowOrigins:
    - https://app.youthaccounts.bank.com
    - https://mobile.youthaccounts.bank.com
  allowMethods:
    - GET
    - POST
    - PUT
    - PATCH
    - DELETE
    - OPTIONS
  allowHeaders:
    - Authorization
    - Content-Type
    - X-Request-ID
    - X-API-Version
    - X-Idempotency-Key
  maxAge: 86400

# Security extensions
x-security:
  contentSecurityPolicy: "default-src 'self'; script-src 'self' 'unsafe-inline'"
  frameOptions: DENY
  contentTypeOptions: nosniff
  referrerPolicy: strict-origin-when-cross-origin
  
# Compliance metadata
x-compliance:
  gdpr: true
  pci-dss: true
  sox: true
  basel-iii: true
  dataRetention: 7 years
  auditLogging: true